<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/versao/save/motoid/<?php echo $motoid; ?>" title="Adicionar versao">Adicionar versao</a>
    </div>
</div>  
<label class="divisor"><span>Lista de versaos do consórcio</span></label>
<table class="datatable"  cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            <th>Nome</th>           
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php
        if (!empty($versoes)) {
            foreach ($versoes as $versao):
                ?>
                <tr>
                    <td><?php echo $this->escapeHtml($versao['nome']); ?></td>

                    <td class="center">
                        <a href="<?php echo $this->url('admin') ?>/versao/save/id/<?php echo $versao['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                        <a href="<?php echo $this->url('admin') ?>/versao/delete/id/<?php echo $versao['id']; ?>/motoid/<?php echo $versao['moto_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            <?php endforeach;
        }else {
            ?>
            <tr>
                <td>Ainda não há nenhuma versão cadastrada.</td>

                <td class="center">

                </td>
            </tr> 
        <?php }
        ?>
</table>

<?php
if (!empty($versoes)) {
    echo $this->paginationControl(
            $versoes, 'Sliding', 'partials/paginator/control.phtml'
    );
}
?>
<?php
//\Zend\Debug\Debug::dump($this->formData); ?>