<form method="post" action="">
    <input type="text" name="q">
    <input type="submit" value="Pesquisar">
</form>
<!--<div style="height:460px;overflow-y: auto">-->                
    <div class="actions clearfix">
        <div class="btns">
            <a class="btn submit" href="<?php echo $this->url('admin') ?>/produto/save" title="Adicionar Produto">Adicionar Produto</a>
        </div>
    </div>  
    <label class="divisor"><span>Lista de Produtos</span></label>
    <table cellspacing="5" cellpadding="5" class="datatable">
        <thead>
            <tr>
                <th>Código</th
                <!--th>Cód. Loja</th-->
                <th>Nome</th>
                <!--th>Status</th>-->
                <th>Preço</th>
                <!--<th>Foto</th>-->
                <th>Categoria</th>
                <!--<th>Categoria</th>-->
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($produtos as $produto): ?>
                <tr>
                    <td><?php echo $this->escapeHtml($produto['id']); ?></td>
                    <!--<td><?php echo $this->escapeHtml($produto['codigoloja']); ?></td-->
                    <td><?php echo $this->escapeHtml($produto['nome']); ?></td>
                    <td><?php echo "R$" . number_format($this->escapeHtml($produto['preco']), 2, ",", "."); ?></td>
<!--                    td>
                    <?php foreach ($profotos as $profoto) { ?>
                        <?php if ($profoto['produto_id'] == $produto['id']) { ?>
                                        <img style="width: 100px;" src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $this->escapeHtml($profoto['imagem']); ?>" />
                        <?php } ?>
                    <?php } ?>
                    </td>-->
                    <td><?php echo $this->escapeHtml($produto['cnome']); ?></td>
                    <!--td><?php
                    if ($produto['ativo'] == 1) {
                        echo 'ATIVO';
                    } else {
                        echo 'INATIVO';
                    }
                    ?></td-->
                    <td class="center">
                        <a href="<?php echo $this->url('admin') ?>/profoto/index/proid/<?php echo $produto['id']; ?>" title="Adicionar Fotos" class="btn"><i class="icon-picture"></i></a>
                        <!--<a href="<?php echo $this->url('admin') ?>/produto/save/id/<?php echo $produto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>-->
                        <a href="<?php echo $this->url('admin') ?>/produto/save/id/<?php echo $produto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                        <a href="<?php echo $this->url('admin') ?>/produto/delete/id/<?php echo $produto['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            <?php endforeach; ?>
    </table>
    <?php
    echo $this->paginationControl(
            $produtos, 'Sliding', 'partials/paginator/control.phtml'
    );
    ?>
<!--</div>-->