<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/casal/save" title="Criar casal">Criar casal</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Casais</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Foto</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($casais as $casal): ?>
            <tr>
                <td><?php echo $this->escapeHtml($casal['nome']); ?></td>
                <td><img src="<?php echo $this->basePath(); ?>/data/casais/<?php echo $this->escapeHtml($casal['imagem']); ?>" width="75px;" /></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/casal/save/id/<?php echo $casal['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/casal/delete/id/<?php echo $casal['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $casais, 'Sliding', 'partials/paginator/control.phtml'
);
?>