<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/curriculo/save" title="Criar Curriculo">Novo Curriculo</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Curriculos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Objetivo Profissional</th>
            <!--<th>Qualificações Profissionais simplificada</th>-->
            <th>Curriculo</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($curriculos as $curriculo): ?>
            <tr>
                <td><?php echo $this->escapeHtml($curriculo['nome']); ?></td>
                <td><?php echo $this->escapeHtml($curriculo['email']); ?></td>
                <td><?php echo $this->escapeHtml($curriculo['objetivo']); ?></td>
                <!--<td><?php echo $this->escapeHtml($curriculo['perfil']); ?></td>-->
                <td><a href="<?php echo $this->basePath(); ?>/data/curriculos/<?php echo $this->escapeHtml($curriculo['arquivo']); ?>">Curriculo</a></td>
                
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/curriculo/save/id/<?php echo $curriculo['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/curriculo/delete/id/<?php echo $curriculo['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $curriculos, 'Sliding', 'partials/paginator/control.phtml'
);
?>