<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/tutoriais/save" title="Novo Tutorial">Novo Tutorial</a>
    </div>
</div>  
<label class="divisor"><span>Lista dos Tutoriais</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <!--<th>Logomarca</th>-->

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($portifolios as $portifolio): ?>
            <tr>
                <td><?php echo $this->escapeHtml($portifolio['titulo']); ?></td>
                <!--<td><img src="<?php echo $this->basePath(); ?>/data/portifolios/<?php echo $this->escapeHtml($portifolio['imagem']); ?>" width="75px;" /></td>-->
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/tutoriais/save/id/<?php echo $portifolio['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/tutoriais/delete/id/<?php echo $portifolio['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $portifolios, 'Sliding', 'partials/paginator/control.phtml'
);
?>