<!--<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/configuracao/save" title="Criar Configuracao">Criar Configuracao</a>
    </div>
</div>  -->
<label class="divisor"><span>Lista de Configurações</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Parametro</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($configuracoes as $configuracao): ?>
            <tr>
                <td><?php echo $this->escapeHtml($configuracao['nome']); ?></td>
                <td><?php echo $this->escapeHtml($configuracao['descricao']); ?></td>
                <td><?php echo $this->escapeHtml($configuracao['parametro']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/configuracao/save/id/<?php echo $configuracao['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <!--<a href="<?php echo $this->url('admin') ?>/configuracao/delete/id/<?php echo $configuracao['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>-->
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $configuracoes, 'Sliding', 'partials/paginator/control.phtml'
);
?>