<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li class="active">Perfil</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <div class="container">
      
        <header><h1>Perfil</h1></header>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                <h3>Tipo de Conta</h3>
                
                <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/usuario/atualizar" method="post" >
                    <?php if(isset($_SESSION['mensagem'])){ ?>
                    <h3 style="" ><?php echo $_SESSION['mensagem']; ?></h3>
                    <?php unset($_SESSION['mensagem']);  ?>
                    <?php } ?>
                    <?php foreach ($usuario as $user) { ?>
                   
                    <div class="radio" id="create-account-user">
                        <label>
                            <input type="radio" id="account-type-user"  <?php if($user['tipo_id']=='1'){echo "checked";}else{echo"disabled";} ?> value="1" name="tipo_id" required>Proprietário
                        </label>
                    </div>
                    <div class="radio" id="agent-switch" data-agent-state="">
                        <label>
                            <input type="radio" id="account-type-agent"  <?php if($user['tipo_id']=='2'){echo "checked";}else{echo"disabled";} ?> value="2" name="tipo_id" required>Consultor
                        </label>
                    </div>
                    <div class="radio" id="create-account-agency">
                        <label>
                            <input type="radio" id="account-type-agency"  <?php if($user['tipo_id']=='3'){echo "checked";}else{echo"disabled";} ?> value="3" name="tipo_id" required>Imobiliária
                        </label>
                    </div>
                    <!-- <div id="agency" class="disabled">
                        <div class="form-group">
                            <label for="account-agency">Selecione a sua imobiliaria:</label>
                            <select name="imobiliaria_id" id="account-agency">
                                <option value="0">Selecionar</option>
                                <?php foreach($imobiliarias as $imobiliaria){ ?>
                                <option value="1"><?php echo $imobiliaria['nome']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div> -->
                    <hr>
                    <div class="form-group">
                        <label for="form-create-account-full-name">Nome Completo:</label>
                        <input type="text" class="form-control" value="<?php echo $user['nome']; ?>" name="nome" id="form-create-account-full-name" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-email">Email:</label>
                        <input type="email" class="form-control" value="<?php echo $user['nomeusuario']; ?>" name="nomeusuario" id="form-create-account-email" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-password">Senha atual:</label>
                        <input type="password" class="form-control" name="senha" id="form-create-account-password" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-password">Nova Senha(6 a 10 caracteres):</label>
                        <input type="password" class="form-control" name="senhanova" pattern="^.{6,10}$" onchange="form.confirmarsenha.pattern = this.value;" id="form-create-account-password" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-confirm-password">Confirme a Senha:</label>
                        <input type="password" class="form-control" name="confirmarsenha" pattern="^.{6,10}$"  id="form-create-account-confirm-password" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-email">Telefone:</label>
                        <input type="text" class="form-control" value="<?php echo $user['telefone']; ?>" name="telefone" id="form-create-account-email">
                    </div><!-- /.form-group -->
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" id="account-type-newsletter" <?php if($user['newsletter']=='s'){echo "checked";}?> name="newsletter" name="account-newsletter">Receber Notícias
                        </label>
                    </div>
                    <?php } ?>
                    <div class="form-group clearfix">
                        <button name="btnsubmit" type="submit" class="btn pull-right btn-default" id="account-submit">Salvar Alterações</button>
                    </div><!-- /.form-group -->
                </form>
                
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->   
    <!-- end Breadcrumb -->
    <div class="container">
        <header><h1>Meus Dados</h1></header>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                <!--<h3>Tipo de Conta</h3>-->
                <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/consultor/atualizar" method="post" enctype="multipart/form-data" >
                   <?php foreach($consultor as $consult){ ?>
                    <div class="form-group">
                        <label for="form-create-account-creci">Creci:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['creci']; ?>" name="creci" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Sobre mim:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['descricao']; ?>" name="descricao" id="form-create-account-desc" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-foto">Foto:</label>
                        <input type="file" class="form-control" value="<?php echo $consult['foto']; ?>" name="foto" id="form-create-account-foto" >
                        <img src="<?php echo $this->basePath(); ?>/data/consultores/<?php echo $consult['foto']; ?>" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-twitter">Twitter:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['twitter']; ?>" name="twitter" id="form-create-account-twitter" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-confirm-facebook">Facebook:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['facebook']; ?>" name="facebook" id="form-create-account-confirm-facebook" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-skype">Skype:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['skype']; ?>" name="skype" id="form-create-account-skype">
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-celular">Celular:</label>
                        <input type="text" class="form-control" value="<?php echo $consult['celular']; ?>" name="celular" id="form-create-account-celular">
                    </div><!-- /.form-group -->
                    <?php } ?>
                    <div class="form-group clearfix">
                        <button type="submit" name="btnsalvar" class="btn pull-right btn-default" id="account-submit">Salvar Alterações</button>
                    </div><!-- /.form-group -->
                </form>
               
            </div>
        </div><!-- /.row -->
    </div><!-- /.container --> 
</div>