<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/moto/save" title="Criar Moto">Criar Moto</a>
    </div>
</div>  
<div class="actions clearfix">
    <div class="btns" style="font-style: italic;"><br/><br/>
        <b>Legenda: </b>Adicionar versões <i class="icon-th-list"></i> / 
        Adicionar parcelas do consórcio <i class="icon-plus"></i> / 
        Adicionar imagens <i class="icon-picture"></i> / 
        Editar Moto <i class="icon-edit"></i> / 
        Excluir Moto <i class="icon-remove"></i><br/><br/>
    </div>
</div>  
<label class="divisor"><span>Lista de Motos</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th  class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($motos as $moto): ?>
            <tr>
                <td><?php echo $this->escapeHtml($moto['nome']); ?></td>
                <td class="center">
                    <?php if($moto['consorcio']=='1'){ ?>
                     <a href="<?php echo $this->url('admin') ?>/parcela/index/motoid/<?php echo $moto['id']; ?>" title="Adicionar Parcelas" class="btn"><i class="icon-plus"></i></a>
                    <?php } ?>
                    <a href="<?php echo $this->url('admin') ?>/versao/index/motoid/<?php echo $moto['id']; ?>" title="Adicionar Versões" class="btn"><i class="icon-th-list"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/motfoto/index/motoid/<?php echo $moto['id']; ?>" title="Adicionar Fotos" class="btn"><i class="icon-picture"></i></a>
                   
                    <a href="<?php echo $this->url('admin') ?>/moto/save/id/<?php echo $moto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/moto/delete/id/<?php echo $moto['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $motos, 'Sliding', 'partials/paginator/control.phtml'
);
?>