<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="tisam.com.br">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="<?php echo $this->basePath(); ?>/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/jquery.slider.min.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/fileinput.min.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/style.css" type="text/css">
    <?php
    $children = $this->viewModel()->getCurrent()->getChildren();
    $child = $children[0];
    ?>
    <?php if(isset($child->title)) { ?>
        <title>ImoveisList <?php echo $child->title; ?></title>
        <?php }else{ ?>
            <title>ImoveisList </title>
            <?php } ?>
    
        <script>

        /* Função responsável para carregar as cidades no combo box após o usuario escolher o estado*/
        function carregarCidades(str) {
            //alert("chegou aqui");
            if (str.length == 0) { 
                //document.getElementById("endereco").innerHTML = "";
                return;
            } else {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        document.getElementById("cidades").innerHTML = xmlhttp.responseText;
                    }
                };
                xmlhttp.open("GET", "<?php echo $this->url('home') ?>admin/imovel/carregarcidades?estado=" + str, true);
                xmlhttp.send();
            }
        }

        /* Função responsável para carregar os bairros no combo box após o usuario escolher a cidade*/
        function carregarBairros(str) {
            //alert("chegou aqui");
            if (str.length == 0) { 
                //document.getElementById("endereco").innerHTML = "";
                return;
            } else {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        document.getElementById("bairros").innerHTML = xmlhttp.responseText;
                    }
                };
                xmlhttp.open("GET", "<?php echo $this->url('home') ?>admin/imovel/carregarbairros?cidade=" + str, true);
                xmlhttp.send();
            }
        }
    </script>

</head>

<body class="page-sub-page page-create-account page-account" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <!-- <figure><strong>Telefone:</strong>038 9-9937-7729</figure> -->
                    <figure><strong>Email:</strong>contato@imoveislist.com.br</figure>
                </div>
                <div class="user-area">
                    <div class="actions">
                        <?php if(isset($_SESSION['userDados']->usuario->nome)){ ?>
                        <a class="promoted" >Seja Bem Vindo <strong><?php echo $_SESSION['userDados']->usuario->nome; ?></strong></a>
                        <?php } ?>
                        <!--<a href="create-agency.html" class="promoted">Criar Imobiliária</a>-->
                        
                        <?php if(isset($_SESSION['userDados']->usuario->nome)){ ?>
                            <a href="<?php echo $this->url('home') ?>admin/usuario/perfil">Perfil</a>
                            <a href="<?php echo $this->url('home') ?>admin/imovel/meusimoveis">Meus Imóveis</a>
                            <a href="<?php echo $this->url('home') ?>admin/auth/logout">Sair</a>
                        <?php }else{ ?>
                            <a href="<?php echo $this->url('home') ?>admin/usuario/registrar" class="promoted"><strong>Registrar</strong></a>
                            <a href="<?php echo $this->url('home') ?>admin/auth/index">Entrar</a>
                        <?php } ?>
                       
                    </div>
                    <!--<div class="language-bar">
                        <a href="#" class="active"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/de.png" alt=""></a>
                        <a href="#"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/es.png" alt=""></a>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath(); ?>/assets/img/logo.png" alt="Imoveis List"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active "><a href="<?php echo $this->url('home') ?>">Início</a>
                        </li>
                        <!-- <li ><a href="<?php echo $this->url('home') ?>application/index/imoveis">Imóveis</a>
                        </li> -->
                        <!--<li class="has-child"><a href="#">Pages</a>
                            <ul class="child-navigation">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="agent-detail.html">Agent Detail</a></li>
                                <li><a href="invoice-print.html">Invoice</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="my-properties.html">My Properties</a></li>
                                <li><a href="bookmarked.html">Bookmarked Properties</a></li>
                                <li><a href="create-account.html">Create Account</a></li>
                                <li><a href="create-agency.html">Create Agency</a></li>
                                <li><a href="sign-in.html">Sign In</a></li>
                                <li class="has-child"><a href="#">Error Pages</a>
                                    <ul class="child-navigation">
                                        <li><a href="403.html">403</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="500.html">500</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                <li><a href="rtl.html">RTL Support</a></li>
                            </ul>
                        </li>-->
                        <li class="has-child"><a href="#">Consultores & Imobiliárias</a>
                            <ul class="child-navigation">
                                <li><a href="agents-listing.html">Consulturoes</a></li>
                                <!--<li><a href="agent-detail.html">Agent Detail</a></li>-->
                                <li><a href="agencies-listing.html">Imobiliárias</a></li>
                                <!--<li><a href="agency-detail.html">Agency Detail</a></li>-->
                            </ul>
                        </li>
                        <li><a href="<?php echo $this->url('home') ?>admin/imovel/cadastrar">Adicionar Imóvel</a></li>
<!--                        <li ><a href="#">Blog</a>-->

                        </li>
<!--                        <li><a href="contact.html">Contato</a></li>-->
                    </ul>
                </nav><!-- /.navbar collapse-->
                <div class="add-your-property">
                    <a href="<?php echo $this->url('home') ?>admin/imovel/cadastrar" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Inserir Anúncio</span></a>
                </div>
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
   <?php echo $this->content; ?>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <section id="footer-copyright">
                <div class="container">
                    <span>Copyright © <?php echo date('Y'); ?>. Todos os Direitos Reservados.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Ir para o topo</a></span>
                </div>
            </section>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/fileinput.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/custom-map.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/custom.js"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/ie.js"></script>
<![endif]-->
<script>
    var _latitude = 48.87;
    var _longitude = 2.29;

    google.maps.event.addDomListener(window, 'load', initSubmitMap(_latitude,_longitude));
    function initSubmitMap(_latitude,_longitude){
        var mapCenter = new google.maps.LatLng(_latitude,_longitude);
        var mapOptions = {
            zoom: 15,
            center: mapCenter,
            disableDefaultUI: false,
            //scrollwheel: false,
            styles: mapStyles
        };
        var mapElement = document.getElementById('submit-map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new MarkerWithLabel({
            position: mapCenter,
            map: map,
            icon: '<?php echo $this->basePath(); ?>/assets/img/marker.png',
            labelAnchor: new google.maps.Point(50, 0),
            draggable: true
        });
        $('#submit-map').removeClass('fade-map');
        google.maps.event.addListener(marker, "mouseup", function (event) {
            var latitude = this.position.lat();
            var longitude = this.position.lng();
            $('#latitude').val( this.position.lat() );
            $('#longitude').val( this.position.lng() );
        });

//      Autocomplete
        var input = /** @type {HTMLInputElement} */( document.getElementById('address-map') );
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            $('#latitude').val( marker.getPosition().lat() );
            $('#longitude').val( marker.getPosition().lng() );
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        });

    }

    function success(position) {
        initSubmitMap(position.coords.latitude, position.coords.longitude);
        $('#latitude').val( position.coords.latitude );
        $('#longitude').val( position.coords.longitude );
    }

    $('.geo-location').on("click", function() {
        if (navigator.geolocation) {
            $('#submit-map').addClass('fade-map');
            navigator.geolocation.getCurrentPosition(success);
        } else {
            error('Geo Location is not supported');
        }
    });
</script>

</body>
</html>