<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('' . $this->translate('Casa Bonita Administração do site'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/admincss/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/admincss/css/bootstrap-responsive.min.css')
                ->prependStylesheet($this->basePath() . '/admincss/css/style.css')
                ->prependStylesheet($this->basePath() . '/admincss/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/admincss/css/bootstrap.min.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/admincss/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/admincss/js/jquery-1.7.2.min.js')
        ?>

<!--        <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
        <script type="text/javascript">
//<![CDATA[
            bkLib.onDomLoaded(function() {
                nicEditors.allTextAreas()
            });
//]]>
        </script>-->

        <script type="text/javascript" src="<?php echo $this->basePath() ?>/admincss/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath() ?>/admincss/js/bootstrap.min.js"></script>		
        <script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea",
                plugins: [
                    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
                ],
                toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
                toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
                menubar: false,
                toolbar_items_size: 'small',
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ],
                templates: [
                    {title: 'Test template 1', content: 'Test 1'},
                    {title: 'Test template 2', content: 'Test 2'}
                ]
            });</script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo $this->url('admin') ?>/index" style="height: 20px;">
                        <?php // echo $this->translate('Administração') ?>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Site') ?></a></li>
                        </ul>
                    </div>
                    <?php $user = $this->session()->offsetGet('usuario'); ?>
                    <?php if ($user): ?>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/index"><?php echo $this->translate('Admin') ?></a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/banner"><?php echo $this->translate('Banners') ?></a></li>
                            </ul>
                        </div>
                        <!--<div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/depoimento"><?php echo $this->translate('Depoimentos') ?></a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/cliente"><?php echo $this->translate('Clientes') ?></a></li>
                            </ul>
                        </div>
                        -->
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/pagina"><?php echo $this->translate('Institucional') ?></a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/newsletter"><?php echo $this->translate('Newsletter') ?></a></li>
                            </ul>
                        </div>
                        <!--
                        <div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="<?php echo $this->url('admin') ?>/newsletter"><?php echo $this->translate('Newsletter') ?></a></li>
    </ul>
    </div>
                        
    <div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="<?php echo $this->url('admin') ?>/parceiro"><?php echo $this->translate('Parceiros') ?></a></li>
    </ul>
    </div>
    <div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="<?php echo $this->url('admin') ?>/video"><?php echo $this->translate('Vídeos') ?></a></li>
    </ul>
    </div>
                        -->
<!--                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/post"><?php echo $this->translate('Notícias') ?></a></li>
                            </ul>
                        </div>-->
                        <!--
    <div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="<?php echo $this->url('admin') ?>/evento"><?php echo $this->translate('Eventos') ?></a></li>
    </ul>
    </div>	-->	
                                                <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/agenda"><?php echo $this->translate('Profissionais') ?></a></li>
                                                    </ul>
                                                </div>						
<!--                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/cliente"><?php echo $this->translate('Cadastros') ?></a></li>
                            </ul>
                        </div>						-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/curriculo"><?php echo $this->translate('Curriculos') ?></a></li>
                                                    </ul>
                                                </div>						-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/portifolio"><?php echo $this->translate('Blogs') ?></a></li>
                                                    </ul>
                                                </div>-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/locacao"><?php echo $this->translate('Estágios') ?></a></li>
                                                    </ul>
                                                </div>-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/catvagas"><?php echo $this->translate('Área de Trabalho') ?></a></li>
                                                    </ul>
                                                </div>						-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/vagas"><?php echo $this->translate('Vagas de Emprego') ?></a></li>
                                                    </ul>
                                                </div>	-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/disciplina"><?php echo $this->translate('Disciplinas') ?></a></li>
                                                    </ul>
                                                </div>						-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/tutoriais"><?php echo $this->translate('Tutorias') ?></a></li>
                                                    </ul>
                                                </div>						-->
                        <!--div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/link"><?php echo $this->translate('Links Uteis') ?></a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/galeria"><?php echo $this->translate('Galeria de Fotos') ?></a></li>
                            </ul>
                        </div-->						
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/configuracao"><?php echo $this->translate('Configurações') ?></a></li>
                            </ul>
                        </div>
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/catservicos"><?php echo $this->translate('Categorias dos Serviços') ?></a></li>
                                                    </ul>
                                                </div>
                                                <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/servicos"><?php echo $this->translate('Serviços') ?></a></li>
                                                    </ul>
                                                </div>							-->

                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/marca"><?php echo $this->translate('Marcas') ?></a></li>
                            </ul>
                        </div>
                        <!--
                        <div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="<?php echo $this->url('admin') ?>/casal"><?php echo $this->translate('Casais') ?></a></li>
    </ul>
    </div>
                        
                       <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/categoria"><?php echo $this->translate('Categorias dos Imóveis') ?></a></li>
                            </ul>
                        </div>
                        -->
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/subcategoria"><?php echo $this->translate('Categorias') ?></a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/produto"><?php echo $this->translate('Produtos') ?></a></li>
                            </ul>
                        </div>
<!--                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/pedido"><?php echo $this->translate('Pedidos') ?></a></li>
                            </ul>
                        </div>-->
                        <!--						
                                                <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/lista"><?php echo $this->translate('Lista de Casamento') ?></a></li>
                                                    </ul>
                                                </div>						
                                                                        
                                                                       <div class="nav-collapse">
                                                                            <ul class="nav">
                                                                                <li class="active"><a href="<?php echo $this->url('admin') ?>/pedido"><?php echo $this->translate('Pedidos') ?></a></li>
                                                                            </ul>
                                                                        </div>
                        
                                                                        <div class="nav-collapse">
                                                                            <ul class="nav">
                                                                                <li class="active"><a href="<?php echo $this->url('admin') ?>/moto"><?php echo $this->translate('Motos') ?></a></li>
                                                                            </ul>
                                                                        </div>-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/plano"><?php echo $this->translate('Planos') ?></a></li>
                                                    </ul>
                                                </div>-->
                        <!--                        <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/loja"><?php echo $this->translate('Lojas') ?></a></li>
                                                    </ul>
                                                </div>
                                                <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/faq"><?php echo $this->translate('Dicas') ?></a></li>
                                                    </ul>
                                                </div>
                                                <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/novidade"><?php echo $this->translate('Novidades') ?></a></li>
                                                    </ul>
                                                </div>												
                                              <div class="nav-collapse">
                                                    <ul class="nav">
                                                        <li class="active"><a href="<?php echo $this->url('admin') ?>/pagfoto/index/pagid/20"><?php echo $this->translate('Galeria de Fotos') ?></a></li>
                                                    </ul>
                                               </div>	
                        -->											   
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/usuario"><?php echo $this->translate('Usuarios') ?></a></li>
                            </ul>
                        </div>
                        <!--
                        -->          
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a href="<?php echo $this->url('admin') ?>/acessos"><?php echo $this->translate('Acessos') ?></a></li>
                            </ul>
                        </div>
<!--                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active"><a target="blank" href="http://agenciaw3.hospedagemdesites.ws/fazendas_zend/public_html/mibew/"><?php echo $this->translate('Acessar Chat') ?></a></li>
                            </ul>
                        </div>-->
                        <!--
                    <?php endif; ?>
                        <div class="nav-collapse">
                            <ul class="nav">                           
                                <li>
                    <?php if ($user): ?>
                                            <a href="<?php echo $this->url('admin') ?>/auth/logout"><?php echo $this->translate('Sair') ?></a>
                    <?php else: ?>
                                            <a href="<?php echo $this->url('admin') ?>/auth/index"><?php echo $this->translate('Entrar') ?></a>
                    <?php endif; ?>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container">
            <br/><br/>
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; por Agenciaw3 Soluções web. <?php echo $this->translate('Todos os direitos reservados') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
