<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/agenfoto/save/agenid/<?php echo $agenid; ?>" title="Adicionar foto">Adicionar foto</a>
    </div>
</div>  
<label class="divisor"><span>Lista de fotos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Imagem</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($agenfotos as $profoto): ?>
            <tr>
                <td><?php echo $this->escapeHtml($profoto['legenda']); ?></td>
                <td><img src="<?php echo $this->basePath().'/data/agenda/'.$this->escapeHtml($profoto['imagem']); ?>" width="50px" /><?php //echo $this->escapeHtml($profoto['file']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/agenfoto/save/id/<?php echo $profoto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/agenfoto/delete/id/<?php echo $profoto['id']; ?>/agenid/<?php echo $profoto['agenda_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $agenfotos, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php //\Zend\Debug\Debug::dump($this->formData); ?>