<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/depoimento/save" title="Criar Depoimento">Criar Depoimento</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Depoimentos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Depoimento</th>
            <th>Status</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($depoimentos as $depoimento): ?>
            <tr>
                <td><?php echo $this->escapeHtml($depoimento['nome']); ?></td>
                <td><?php echo $this->escapeHtml($depoimento['depoimento']); ?></td>
                <td><?php if($depoimento['status']=='1'){ echo "ativo"; }else{ echo "inativo"; } ?></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/depoimento/save/id/<?php echo $depoimento['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/depoimento/delete/id/<?php echo $depoimento['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $depoimentos, 'Sliding', 'partials/paginator/control.phtml'
);
?>