<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/newsletter/save" title="Criar Newsletter">Criar Newsletter</a>
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/newsletter/lista" title="Gerar  Lista de E-mails">Gerar  Lista de E-mails</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Newsletter</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <!--<th>Telefone</th>-->

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($newsletters as $newsletter): ?>
            <tr>
                <td><?php echo $this->escapeHtml($newsletter['nome']); ?></td>
                <td><?php echo $this->escapeHtml($newsletter['email']); ?></td>
               
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/newsletter/save/id/<?php echo $newsletter['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/newsletter/delete/id/<?php echo $newsletter['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $newsletters, 'Sliding', 'partials/paginator/control.phtml'
);
?>