<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/prodlista/save/casalid/<?php echo $casalid; ?>" title="Adicionar Produto">Adicionar Produto</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Produtos do casal: <strong><?php foreach($casais as $casal){ if($casal['id']==$casalid){ echo $casal['nome']; }} ?></strong></span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
	<tbody>
        <?php foreach ($listas as $lista){ ?>
				<?php foreach ($produtos as $prod){ 
                    if ($lista['produto_id'] == $prod['id']) { ?>
                    <td style="text-align: left;">
                        <?php echo $prod['nome']; ?>
                    </td>
                <?php }} ?>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/prodlista/save/id/<?php echo $lista['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/prodlista/delete/id/<?php echo $lista['id']; ?>/casalid/<?php echo $casalid; ?>" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php } ?>
	</tbody>
	
</table>

<?php
echo $this->paginationControl(
        $listas, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php
//\Zend\Debug\Debug::dump($this->formData); ?>