<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>
<label class="divisor"><span>Lista de Produtos já Cadastrados:</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th style="text-align: left;">Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
			<?php 
			$cont=0;
			foreach ($listas as $lista){ ?>
		<tr>	
				<?php foreach ($produtos as $prod){ 
                    if ($lista['produto_id'] == $prod['id']) { ?>
                    <td style="text-align: left;">
                        <?php echo $prod['nome']; ?>
                    </td>
				<?php }} ?>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/produto/save/id/<?php echo $lista['produto_id']; ?>" title="Visualizar Produto" class="btn"><i class="icon-edit" style="background-position: -96px -120px;"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/prodlista/delete/id/<?php echo $lista['id']; ?>/casalid/<?php echo $casalid; ?>" rel="confirmation" title="Remover Produto da Lista?" class="btn"><i class="icon-remove"></i></a>
                </td>
		</tr>		
            <?php $cont++;} ?>				
        <tr>
            <td><b>Total de Produtos:</b></td>
            <td><b><?php echo $cont; ?></b></td>
        </tr>
	</tbody>
</table>
<br><br>
<a href="<?php echo $this->url('admin') ?>/prodlista/index/casalid/<?php echo $casalid; ?>">Voltar</a>