<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/evento/save" title="Adicionar Evento">Adicionar Evento</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Eventos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Título</th>
            <!--<th>Dúvidas</th>-->
            <th>Status</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($eventos as $evento): ?>
            <tr>
                <td><?php echo $this->escapeHtml($evento['nome']); ?></td>
                <!--<td><?php echo substr($this->escapeHtml($evento['depoimento']), 0, 50); ?>...</td>-->
                <td><?php if($evento['status']=='1'){ echo "ativo"; }else{ echo "inativo"; } ?></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/evento/save/id/<?php echo $evento['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/evento/delete/id/<?php echo $evento['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
// echo $this->paginationControl(
        // $eventos, 'Sliding', 'partials/paginator/control.phtml'
// );
?>