<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/parceiro/save" title="Criar Cliente">Novo Parceiro</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Parceiros</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Logomarca</th>
            <th>Site</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($parceiros as $parceiro): ?>
            <tr>
                <td><?php echo $this->escapeHtml($parceiro['nome']); ?></td>
                <td><img src="<?php echo $this->basePath(); ?>/data/parceiros/<?php echo $this->escapeHtml($parceiro['imagem']); ?>" width="75px;" /></td>
                <td><?php echo $this->escapeHtml($parceiro['site']); ?></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/parceiro/save/id/<?php echo $parceiro['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/parceiro/delete/id/<?php echo $parceiro['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $parceiros, 'Sliding', 'partials/paginator/control.phtml'
);
?>