<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/link/save" title="Criar Pagina">Novo Link</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Link</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descricao</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($links as $link): ?>
            <tr>
                <td><?php echo $this->escapeHtml($link['descricao']); ?></td>
                <td><?php echo $this->escapeHtml($link['link']); ?></td>

                <td class="center">
                    
                    <a href="<?php echo $this->url('admin') ?>/link/save/id/<?php echo $link['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/link/delete/id/<?php echo $link['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $links, 'Sliding', 'partials/paginator/control.phtml'
);
?>