<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/video/save" title="Criar Vídeo">Novo Vídeo</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Vídeos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Título</th>
            <!--<th>Vídeo</th>-->
            <!--<th>Status</th>-->
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($videos as $video): ?>
            <tr>
                <td><?php echo $this->escapeHtml($video['titulo']); ?></td>
                <!--<td><?php echo $this->escapeHtml($video['video']); ?></td>-->
                <!--<td><?php if($video['status']=='1'){ echo "ativo"; }else{ echo "inativo"; } ?></td>-->
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/video/save/id/<?php echo $video['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <!--a href="<?php echo $this->url('admin') ?>/video/delete/id/<?php echo $video['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a-->
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $videos, 'Sliding', 'partials/paginator/control.phtml'
);
?>