<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/banner/save" title="Adicionar foto">Adicionar banner</a>
    </div>
</div>  
<label class="divisor"><span>Lista de banners</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th>Título</th>
            <!--th>Ativo</th-->
            <!--th>Ordem</th-->
            <th>Imagem</th>
            <th  class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($banners as $banner): ?>
            <tr>
                <td><?php echo $this->escapeHtml($banner['legenda']); ?></td>
                <!--td><?php echo $this->escapeHtml($banner['ativo']); ?></td-->
                <!--td><?php echo $this->escapeHtml($banner['ordem']); ?></td-->
                <td><img src="<?php echo $this->basePath().'/data/banners/'.$this->escapeHtml($banner['imagem']); ?>" width="100px" /><?php //echo $this->escapeHtml($banner['file']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/banner/save/id/<?php echo $banner['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/banner/delete/id/<?php echo $banner['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $banners, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php //\Zend\Debug\Debug::dump($this->formData); ?>