<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/vagas/save" title="Nova Vaga">Nova Vaga</a>
    </div>
</div>  
<label class="divisor"><span>Lista das Vagas de Emprego</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Imagem</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($portifolios as $portifolio): ?>
            <tr>
                <td><?php echo $this->escapeHtml($portifolio['titulo']); ?></td>
                <td><?php
                                        if ($portifolio['ativo'] == '2') {
                                            echo "Inativo";
                                        } else {
                                            echo "Ativo";
                                        }
                                        ?></td>
                <td><img src="<?php echo $this->basePath(); ?>/data/vagas/<?php echo $this->escapeHtml($portifolio['imagem']); ?>" width="75px;" /></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/vagas/save/id/<?php echo $portifolio['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <?php if ($portifolio['cliente_id'] != 0) { ?>
                        <a href="<?php echo $this->url('admin') ?>/cliente/save/id/<?php echo $portifolio['cliente_id']; ?>" title="Ver usuario que cadastrou" class="btn"><i class="icon-user"></i></a>
                    <?php } ?>
                    <a href="<?php echo $this->url('admin') ?>/vagas/delete/id/<?php echo $portifolio['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) {
                                    return true;
                                } else {
                                    return false;
                                }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $portifolios, 'Sliding', 'partials/paginator/control.phtml'
);
?>