<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/marca/save" title="Adicionar Marca">Adicionar Marca</a>
    </div>
</div>  
<label class="divisor"><span>Marcas</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Imagem</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($marcas as $marca): ?>
            <tr>
                <td><?php echo $this->escapeHtml($marca['nome']); ?></td>
                <td><img src="<?php echo $this->basePath().'/data/marcas/'.$this->escapeHtml($marca['file']); ?>" width="100px" /></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/marca/produtos/id/<?php echo $marca['id']; ?>" title="Ver Produtos da Marca" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/marca/save/id/<?php echo $marca['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/marca/delete/id/<?php echo $marca['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
<?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $marcas, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php
//\Zend\Debug\Debug::dump($this->formData); ?>