<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/post/save" title="Adicionar Notícia">Adicionar Notícia</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Notícias</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Imagem</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($posts as $post): ?>
            <tr>
                <td><?php echo $this->escapeHtml($post['titulo']); ?></td>
                <td><img src="<?php echo $this->basePath(); ?>/data/posts/<?php echo $this->escapeHtml($post['imagem']); ?>" width="150px;" /></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/post/save/id/<?php echo $post['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/post/delete/id/<?php echo $post['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $posts, 'Sliding', 'partials/paginator/control.phtml'
);
?>