<!--<div class="actions clearfix">
  <div class="btns">
    <a class="btn submit" href="/admin/index/save" title="Criar Categoria">Criar Categoria</a>
  </div>
</div>  
<label class="divisor"><span>Lista de Categorias</span></label>
<table class="datatable">
  <thead>
    <tr>
      <th>Nome</th>
      
      <th width="120" class="center">Opções</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach($categorias as $categoria):?>
      <tr>
        <td><?php echo $this->escapeHtml($categoria['nome']);?></td>
       
        <td class="center">
            <a href="/admin/index/save/id/<?php echo $categoria['id'] ;?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
      <a href="/admin/index/delete/id/<?php echo $categoria['id'];?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
        </td>
      </tr>
    <?php endforeach;?>
</table>-->
<h1>
    Passo a Passo - Visualização de Acessos
</h1>
<div style="width:100%;height:20px;clear:both;"></div>
<div class="actions clearfix">
  <div class="btns">
	<b>- 1º PASSO:</b> Clique no botão "Visualizar Acessos";<br><br>
	<b>- 2º PASSO:</b> Faça o login com os seguintes dados:<br>
		&nbsp &nbsp E-mail: imoveisdeniolandim@gmail.com;<br>
		&nbsp &nbsp Senha: den159159*;<br><br>
	<b>- 3º PASSO:</b> Clique em "Relatórios", no topo da página;<br><br>
	<b>- 4º PASSO:</b> Nessa mesma página, no tópico "Visão geral", estarão listados todas as estatísticas relacionadas ao seu site, inclusive o número de visualizações da página; <br><br>
    <a target="blank" class="btn submit" href="https://www.google.com/analytics/web/" title="Visualizar Acessos">Visualizar Acessos</a>
  </div>
</div>  