<div class="actions clearfix">
    <div class="btns">
        <!--<a class="btn submit" href="<?php echo $this->url('admin') ?>/pagina/save" title="Adicionar Formando">Adicionar Formando</a>-->
    </div>
</div> 
<!--<label class="divisor"><span>Lista de Páginas</span></label>-->
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th width="160" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($paginas as $pagina):
            if ($pagina['id'] != 20) {
                ?>
                <tr>
                    <td><?php echo $this->escapeHtml($pagina['titulo']); ?></td>
                    <td></td>
                    <td class="center">
                        <?php //if($pagina['id']==21 || $pagina['id']==22 || $pagina['id']==23) {   ?>
                        <a href="<?php echo $this->url('admin') ?>/pagfoto/index/pagid/<?php echo $pagina['id']; ?>" title="Adicionar Fotos" class="btn"><i class="icon-picture"></i></a>
                        <?php if ($pagina['cliente_id'] != 0) { ?>
                            <a href="<?php echo $this->url('admin') ?>/cliente/save/id/<?php echo $pagina['cliente_id']; ?>" title="Ver usuario que cadastrou" class="btn"><i class="icon-user"></i></a>
                        <?php } ?>
                        <?php //}   ?>
                        <a href="<?php echo $this->url('admin') ?>/pagina/save/id/<?php echo $pagina['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                        <!--<a href="<?php echo $this->url('admin') ?>/pagina/delete/id/<?php echo $pagina['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>-->
                    </td>
                </tr>
            <?php } endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $paginas, 'Sliding', 'partials/paginator/control.phtml'
);
?>