<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Samuel Rodrigues">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href="<?php echo $this->basePath(); ?>/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/bootstrap-select.min.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/jquery.slider.min.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/style.css" type="text/css">

        <title>ImoveisList</title>

    </head>

    <body class="page-homepage navigation-fixed-bottom has-fullscreen-map map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
        <!-- Wrapper -->
        <div class="wrapper">

            <div class="navigation">
                <div class="secondary-navigation">
                    <div class="container">
                        <div class="contact">
                            <figure><strong>Telefone:</strong>038 9-9937-7729</figure>
                            <figure><strong>Email:</strong>contato@imoveislist.com</figure>
                        </div>
                        <div class="user-area">
                            <div class="actions">
                                <a href="create-agency.html" class="promoted">Criar Imobiliaria</a>
                                <a href="<?php echo $this->url('home') ?>admin/usuario/registrar" class="promoted"><strong>Registrar</strong></a>
                                <a href="<?php echo $this->url('home') ?>admin/auth/index">Entrar</a>
                            </div>
                            <!--<div class="language-bar">
                                <a href="#" class="active"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/gb.png" alt=""></a>
                                <a href="#"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/de.png" alt=""></a>
                                <a href="#"><img src="<?php echo $this->basePath(); ?>/assets/img/flags/es.png" alt=""></a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <header class="navbar" id="top" role="banner">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand nav" id="brand">
                                <a href="index-google-map-fullscreen.html"><img src="<?php echo $this->basePath(); ?>/assets/img/logo.png" alt="brand"></a>
                            </div>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="<?php echo $this->url('home') ?>">Homepage</a>

                                </li>
                                <li class=""><a href="#">Imóveis</a>

                                </li>
                                <!--<li class="has-child"><a href="#">Pages</a>
                                    <ul class="child-navigation">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="agent-detail.html">Agent Detail</a></li>
                                        <li><a href="invoice-print.html">Invoice</a></li>
                                        <li><a href="profile.html">Profile</a></li>
                                        <li><a href="my-properties.html">My Properties</a></li>
                                        <li><a href="bookmarked.html">Bookmarked Properties</a></li>
                                        <li><a href="create-account.html">Create Account</a></li>
                                        <li><a href="create-agency.html">Create Agency</a></li>
                                        <li><a href="sign-in.html">Sign In</a></li>
                                        <li class="has-child"><a href="#">Error Pages</a>
                                            <ul class="child-navigation">
                                                <li><a href="403.html">403</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="500.html">500</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li><a href="timeline.html">Timeline</a></li>
                                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                        <li><a href="rtl.html">RTL Support</a></li>
                                    </ul>
                                </li>-->
                                <li class="has-child"><a href="#">Consultores & Imobiliárias</a>
                                    <ul class="child-navigation">
                                        <li><a href="agents-listing.html">Consultores</a></li>
                                        <!--<li><a href="agent-detail.html">Agent Detail</a></li>-->
                                        <li><a href="agencies-listing.html">Imobiliárias</a></li>
                                        <!--<li><a href="agency-detail.html">Agency Detail</a></li>-->
                                    </ul>
                                </li>
                                <li><a href="submit.html">Adicionar Imóvel</a></li>
                                <li class=""><a href="#">Blog</a>

                                </li>
                                <li><a href="contact.html">Contato</a></li>
                            </ul>
                        </nav><!-- /.navbar collapse-->
                        <div class="add-your-property">
                            <a href="submit.html" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Adicionar Imóvel</span></a>
                        </div>
                    </header><!-- /.navbar -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            <div class="container">
                <div class="geo-location-wrapper">
                    <span class="btn geo-location"><i class="fa fa-map-marker"></i><span class="text">Encontre Minha Posição</span></span>
                </div>
            </div>

            <!-- Map -->
            <div id="map" class="has-parallax"></div>
            <!-- end Map -->

            <!-- Search Box -->
            <div class="search-box-wrapper">
                <div class="search-box-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="search-box map">
                                    <form role="form" id="form-map" class="form-map form-search">
                                        <h2>Pesquise seu Imóvel</h2>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="search-box-property-id" placeholder="Property ID">
                                        </div>
                                        <div class="form-group">
                                            <select name="type">
                                                <option value="">Status</option>
                                                <option value="1">Alugar</option>
                                                <option value="2">Comprar</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <!--<div class="form-group">
                                            <select name="country">
                                                <option value="">Country</option>
                                                <option value="1">France</option>
                                                <option value="2">Great Britain</option>
                                                <option value="3">Spain</option>
                                                <option value="4">Russia</option>
                                                <option value="5">United States</option>
                                            </select>
                                        </div>--><!-- /.form-group -->
                                        <div class="form-group">
                                            <select name="city">
                                                <option value="">Cidade</option>
                                                <option value="1">Montes Claros</option>
                                                <option value="2">Janauba</option>
                                                <option value="3">Pirapora</option>
                                                <option value="4">Januária</option>
                                                <option value="5">Corinto</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <select name="district">
                                                <option value="">Bairro</option>
                                                <option value="1">Manhattan</option>
                                                <option value="2">The Bronx</option>
                                                <option value="3">Brooklyn</option>
                                                <option value="4">Queens</option>
                                                <option value="5">Staten Island</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <select name="property-type">
                                                <option value="">Tipo de Imóvel</option>
                                                <option value="1">Apartamento</option>
                                                <option value="2">Casa de Condomínio</option>
                                                <option value="3">Casa de Vila</option>
                                                <option value="4">Casa Padrão</option>
                                                <option value="5">Cobertura</option>
                                                <option value="6">Flat</option>
                                                <option value="7">Kitchenette/Conjugados</option>
                                                <option value="8">Loft</option>
                                                <option value="9">Loteamento/Condomínio</option>
                                                <option value="10">Box/Garagem</option>
                                                <option value="11">Casa Comercial</option>
                                                <option value="12">Conjunto Comercial/Sala</option>
                                                <option value="13">Casa Comercial</option>
                                                <option value="14">Galpão/Depósito/Armazém</option>
                                                <option value="15">Hotel</option>
                                                <option value="11">Indústria</option>
                                                <option value="11">Loja Shopping/ Ct Comercial</option>
                                                <option value="11">Loja/Salão</option>
                                                <option value="11">Motel</option>
                                                <option value="11">Pousada/Chalé</option>
                                                <option value="11">Prédio Inteiro</option>
                                                <option value="11">Studio</option>
                                                <option value="11">Chácara</option>
                                                <option value="11">Fazenda</option>
                                                <option value="11">Haras</option>
                                                <option value="11">Sítio</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <div class="price-range">
                                                <input id="price-input" type="text" name="price" value="1000;299000">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default">Busca Agora</button>
                                        </div><!-- /.form-group -->
                                    </form><!-- /#form-map -->
                                </div><!-- /.search-box.map -->
                            </div><!-- /.col-md-3 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.search-box-inner -->
            </div>
            <!-- end Search Box -->
            <!-- Page Content -->
            <?php echo $this->content; ?>
            <!-- end Page Content -->
            <!-- Page Footer -->
            <footer id="page-footer">
                <div class="inner">
                    <aside id="footer-main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <article>
                                        <h3>Sobre Nós</h3>
                                        <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                            primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                            id, ornare tortor
                                        </p>
                                        <hr>
                                        <a href="#" class="link-arrow">Leia Mais</a>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <article>
                                        <h3>Imóveis Recentes</h3>
                                        <div class="property small">
                                            <a href="property-detail.html">
                                                <div class="property-image">
                                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                                                </div>
                                            </a>
                                            <div class="info">
                                                <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                                <figure>Doral, FL 33178 </figure>
                                                <div class="tag price">$ 72,000</div>
                                            </div>
                                        </div><!-- /.property -->
                                        <div class="property small">
                                            <a href="property-detail.html">
                                                <div class="property-image">
                                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-09.jpg">
                                                </div>
                                            </a>
                                            <div class="info">
                                                <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                                <figure>Minneapolis, MN 55402</figure>
                                                <div class="tag price">$ 36,000</div>
                                            </div>
                                        </div><!-- /.property -->
                                    </article>
                                </div><!-- /.col-sm-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <article>
                                        <h3>Contato</h3>
                                        <address>
                                            <strong>Imoveislist</strong><br>
                                            Rua Treze 91 - Parque Pampulha<br>
                                            Montes Claros, MG
                                        </address>
                                        +55 (038) 99937-7729<br>
                                        <a href="#">contato@imoveislist.com</a>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <article>
                                        <h3>Links Úteis</h3>
                                        <ul class="list-unstyled list-links">
                                            <li><a href="#">Todos Imóveis</a></li>
                                            <li><a href="#">Política de Privacidade</a></li>
                                            <li><a href="#">Login e Registro</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Termos e Condições</a></li>
                                        </ul>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </aside><!-- /#footer-main -->
                    <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
                    <aside id="footer-copyright">
                        <div class="container">
                            <span>Copyright © <?php echo date('Y'); ?>. Todos os Direitos Reservados.</span>
                            <span class="pull-right"><a href="#page-top" class="roll">Vá para o topo</a></span>
                        </div>
                    </aside>
                </div><!-- /.inner -->
            </footer>
            <!-- end Page Footer -->
        </div>

        <div id="overlay"></div>

        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/smoothscroll.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/markerwithlabel_packed.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/infobox.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/icheck.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/retina-1.1.0.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jshashtable-2.1_src.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.numberformatter-1.2.3.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/tmpl.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.dependClass-0.1.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/draggable-0.1.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.slider.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/markerclusterer_packed.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/custom-map.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/custom.js"></script>
        <!--[if gt IE 8]>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/ie.js"></script>
        <![endif]-->
        <script>
            _latitude = 48.87;
            _longitude = 2.29;
            createHomepageGoogleMap(_latitude, _longitude);
            $(window).load(function () {
                initializeOwl(false);
            });
        </script>
    </body>
</html>