<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kaveira Bike</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/reset.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/fontes.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/estrutura.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/produtos.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/produto.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/noticias.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/uteis.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/contato.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/js/jcarousel.responsive.css">
        <!-- must have -->
        <link href="<?php echo $this->basePath(); ?>/bannerRotator/allinone_bannerRotator.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>


        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/jquery.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/jquery-ui.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/allinone_bannerRotator.js" type="text/javascript"></script>
        <!--[if IE]><script src="<?php echo $this->basePath(); ?>/bannerRotator/js/excanvas.compiled.js" type="text/javascript"></script><![endif]-->
        <!-- must have -->

        <script>
            jQuery(function () {

                jQuery('#allinone_bannerRotator_classic').allinone_bannerRotator({
                    skin: 'classic',
                    width: 1024,
                    height: 550,
                    responsive: true
//                    thumbsWrapperMarginBottom: 5
                });
            });
        </script>

        <script>
            jQuery(function () {
                jQuery('#allinone_bannerRotator_classic2').allinone_bannerRotator({
                    skin: 'classic',
                    width: 719,
                    height: 520,
                   responsive: true
                });
            });
        </script>

        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jquery.jcarousel.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jcarousel.responsive.js"></script>
        <!--[if lte IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    </head>
    <body>
        <?php
        $children = $this->viewModel()->getCurrent()->getChildren();
        $child = $children[0];
        ?>
        <?php
        $pieces = explode("application/", $_SERVER ['REQUEST_URI']);
        ?>
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=333139853464212";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="cabecalho">
            <div class="cabecalho_conteudo">
                <a href="<?php echo $this->url('home') ?>" class="kaveira_bike"></a>
                <form action="" method="post" class="form_busca_home">
                    <input type="text" name="busca" value="" placeholder="FAÇA SUA PESQUISA..." class="busca_home" />
                    <input type="submit" class="btn_buscar_topo" value="" />
                </form>
                <a href="login.html" class="fazer_loguin"></a>
                <div class="clear"></div>
                <ul class="menu_cabecalho">
                    <li><a <?php if ($pieces[1] == "index/home") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>">INÍCIO</a></li>
                    <li><a  <?php if ($pieces[1] == "index/produtos") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/produtos">PEÇAS E ACESSÓRIOS</a>
                        <ul>
                            <?php foreach ($child->categorias as $categoria) { ?>
                                <li><a href="<?php echo $this->url('home') ?>application/index/produtos/cat/<?php echo $categoria['id']; ?>/n/<?php echo preg_replace("/\s+/","_",$categoria['nome']); ?>" style="color: #FFFFFF;"><img src="<?php echo $this->basePath(); ?>/img/setinha_menu.gif" style="margin-right: 10px;" /><?php echo $categoria['nome']; ?></a></li>
                            <?php } ?>                  
                        </ul>
                    </li>
                    <li><a  <?php if ($pieces[1] == "index/institucional") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/institucional">INSTITUCIONAL</a></li>
                    <li><a  <?php if ($pieces[1] == "index/noticias") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/noticias">NOTÍCIAS E EVENTOS</a></li>
                    <li><a  <?php if ($pieces[1] == "index/regulamentos") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/regulamentos">REGULAMENTOS</a></li>
                    <li><a  <?php if ($pieces[1] == "index/contato") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/contato">FALE CONOSCO</a></li>
                    <li><a  <?php if ($pieces[1] == "index/atendimentoonline") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/atendimentoonline">ATENDIMENTO ONLINE</a></li>                
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="meio_conteudo_home">

            <?php echo $this->content; ?>

            <div class="clear"></div>
            <div class="rodape">
                <div class="formas_pagamentos">
                    <p>FORMAS DE PAGAMENTO:</p>
                    <img src="<?php echo $this->basePath(); ?>/img/formas_pagamento.gif" />
                </div>
                <div class="clear"></div>
                <div class="box1_rodape">
                    <div class="coluna1">
                        <h4>CATEGORIAS DE PRODUTOS</h4>
                        <?php foreach ($child->categorias as $categoria) { ?>
                            <a href="<?php echo $this->url('home') ?>application/index/produtos/cat/<?php echo $categoria['id']; ?>/n/<?php echo preg_replace("/\s+/","_",$categoria['nome']); ?>"><span>> </span><?php echo $categoria['nome']; ?></a>
                        <?php } ?>    
                    </div>
                    <div class="coluna2">
                        <h4>INFORMAÇÕES DE CONTATO</h4>
                        <?php
                        foreach ($child->configuracoes as $conf) {
                            if ($conf['id'] == 10) {
                                ?>
                                <p><img src="<?php echo $this->basePath(); ?>/img/icon_telefone.gif" />  (38) 3216.6254</p>
                                <?php
                            }
                        }
                        ?>
                        <?php
                        foreach ($child->configuracoes as $conf) {
                            if ($conf['id'] == 9) {
                                ?>
                                <p><img src="<?php echo $this->basePath(); ?>/img/icon_email.gif" />  <?php echo $conf['parametro']; ?></p>
                                <?php
                            }
                        }
                        ?>
                        <?php
                        foreach ($child->configuracoes as $conf) {
                            if ($conf['id'] == 14) {
                                ?>
                                <p><img src="<?php echo $this->basePath(); ?>/img/icon_endereco.gif" /> 
                                    <?php echo $conf['parametro']; ?>
                                </p>
                                <?php
                            }
                        }
                        ?>
                    </div>
                    <div class="coluna3">
                        <h4>REDES SOCIAIS</h4>
                        <div class="fb-like"></div>
                        <a href="https://www.facebook.com/kaveira.bike?fref=ts" class="facebook"></a>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="box_copy">
                    <p>COPYRIGHT 2015 © KAVEIRA BIKE. TODOS OS DIREITOS RESERVADOS <a href="http://www.agenciaw3.com.br"><img src="<?php echo $this->basePath(); ?>/img/agenciaw3.gif" /></a></p>
                </div>

            </div>
        </div>


    </body>
</html>
