<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Samuel Rodrigues">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <link href="<?php echo $this->basePath(); ?>/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/bootstrap-select.min.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/jquery.slider.min.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="<?php echo $this->basePath(); ?>/assets/css/style.css" type="text/css">
        <?php
        $children = $this->viewModel()->getCurrent()->getChildren();
        $child = $children[0];
        ?>
        <?php if (isset($child->title)) { ?>
            <title>ImoveisList <?php echo $child->title; ?></title>
        <?php } else { ?>
            <title>ImoveisList </title>
        <?php } ?>

    </head>
    <?php
    $pieces = "";
    try {
        $pieces = explode("application/", $_SERVER ['REQUEST_URI']);
    } catch (Exception $e) {
        
    }
    
    ?>
    <!--<body class="page-homepage navigation-fixed-top page-slider page-slider-search-box" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">-->

    <?php if (isset($pieces[1])) { ?>
        <?php if (substr($pieces[1], 0, 13) == "index/imoveis") { ?>
            <body class="page-sub-page page-listing page-grid page-search-results" id="page-top">
            <?php } else { ?>
            <body class="page-homepage navigation-fixed-top page-slider horizontal-search-float" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
            <?php } ?>
        <?php } else { ?>
        <body class="page-homepage navigation-fixed-top page-slider horizontal-search-float" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
        <?php } ?>
        <!-- Wrapper -->
        <div class="wrapper">

            <div class="navigation">
                <div class="secondary-navigation">
                    <div class="container">
                        <div class="contact">
        <!--                    <figure><strong>Telfone:</strong>+55 38 9 9937-7729</figure>-->
        <!--                    <figure><strong>Email:</strong>contato@imoveislist.com.br</figure>-->
                        </div>
                        <div class="user-area">
                            <div class="actions">
                                <!--<a href="<?php echo $this->url('home') ?>/application/index/registrar" class="promoted">Criar Imobiliária</a>-->
                                <a href="<?php echo $this->url('home') ?>admin/usuario/registrar" class="promoted"><strong>Registrar</strong></a>
                                <a href="<?php echo $this->url('home') ?>admin/auth/index">Entrar</a>
                            </div>
                            <!--<div class="language-bar">
                                <a href="#" class="active"><img src="assets/img/flags/gb.png" alt=""></a>
                                <a href="#"><img src="assets/img/flags/de.png" alt=""></a>
                                <a href="#"><img src="assets/img/flags/es.png" alt=""></a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <header class="navbar" id="top" role="banner">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand nav" id="brand">
                                <a href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath(); ?>/assets/img/logo.png" alt="brand"></a>
                            </div>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="active "><a href="<?php echo $this->url('home') ?>">Início</a>
                                    <!--<ul class="child-navigation">
                                        <li><a href="index-google-map-fullscreen.html">Google Map Full Screen</a></li>
                                        <li><a href="index-google-map-fixed-height.html">Google Map Fixed Height</a></li>
                                        <li><a href="index-google-map-fixed-navigation.html">Google Map Fixed Navigation</a></li>
                                        <li><a href="index-osm.html">OpenStreetMap Full Screen</a></li>
                                        <li><a href="index-osm-fixed-height.html">OpenStreetMap Fixed Height</a></li>
                                        <li><a href="index-osm-fixed-navigation.html">OpenStreetMap Fixed Navigation</a></li>
                                        <li><a href="index-slider.html">Slider Homepage</a></li>
                                        <li><a href="index-slider-search-box.html">Slider with Search Box</a></li>
                                        <li><a href="index-horizontal-search-floated.html">Horizontal Search Floated</a></li>
                                        <li><a href="index-advanced-horizontal-search.html">Horizontal Advanced Search</a></li>
                                        <li><a href="index-slider-horizontal-search-box.html">Horizontal Slider Search</a></li>
                                        <li><a href="index-slider-horizontal-search-box-floated.html">Horizontal Slider Floated Search</a></li>
                                    </ul>-->
                                </li>
                                <!-- <li ><a href="<?php echo $this->url('home') ?>application/index/imoveis">Imóveis</a>
                                    <ul class="child-navigation">
                                        <li><a href="property-detail.html">Property Detail</a></li>
                                        <li><a href="properties-listing.html">Masonry Listing</a></li>
                                        <li><a href="properties-listing-grid.html">Grid Listing</a></li>
                                        <li><a href="properties-listing-lines.html">Lines Listing</a></li>
                                    </ul>
                                </li> -->
                                <li class="has-child"><a href="#">Consultores e Imobiliárias</a>
                                    <ul class="child-navigation">
                                        <li><a href="<?php echo $this->url('home') ?>application/index/consultores">Consultores</a></li>
                                        <li><a href="<?php echo $this->url('home') ?>application/index/imobiliarias">Imobiliárias</a></li>
                                        <!--<li><a href="invoice-print.html">Invoice</a></li>
                                        <li><a href="profile.html">Profile</a></li>
                                        <li><a href="my-properties.html">My Properties</a></li>
                                        <li><a href="bookmarked.html">Bookmarked Properties</a></li>
                                        <li><a href="create-account.html">Create Account</a></li>
                                        <li><a href="create-agency.html">Create Agency</a></li>
                                        <li><a href="sign-in.html">Sign In</a></li>
                                        <li class="has-child"><a href="#">Error Pages</a>
                                            <ul class="child-navigation">
                                                <li><a href="403.html">403</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="500.html">500</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                        <li><a href="timeline.html">Timeline</a></li>
                                        <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                        <li><a href="rtl.html">RTL Support</a></li>-->
                                    </ul>
                                </li>
                                <li ><a href="<?php echo $this->url('home') ?>admin/auth/index">Inserir Anúncio</a>
                                    <!--<ul class="child-navigation">
                                        <li><a href="agents-listing.html">Agents Listing</a></li>
                                        <li><a href="agent-detail.html">Agent Detail</a></li>
                                        <li><a href="agencies-listing.html">Agencies Listing</a></li>
                                        <li><a href="agency-detail.html">Agency Detail</a></li>
                                    </ul>-->
                                </li>
                                <!--<li><a href="submit.html">Submit</a></li>-->
        <!--                        <li ><a href="<?php echo $this->url('home') ?>application/index/noticias">Notícias</a>-->
                                <!--<ul class="child-navigation">
                                    <li><a href="blog.html">Blog Listing</a></li>
                                    <li><a href="blog-detail.html">Blog Post Detail</a></li>
                                </ul>
                            </li>-->
    <!--                        <li><a href="<?php echo $this->url('home') ?>application/index/contato">Contato</a></li>-->
                            </ul>
                        </nav><!-- /.navbar collapse-->
                        <div class="add-your-property">
                            <a href="<?php echo $this->url('home') ?>admin/auth/index" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Inserir Anúncio</span></a>
                        </div>
                    </header><!-- /.navbar -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            <?php echo $this->content; ?>

            <!-- Page Footer -->
            <footer id="page-footer">
                <div class="inner">
                    <aside id="footer-main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <article>
                                        <h3>Sobre Nós</h3>
                                        <p>Somos um empresa que vai te ajudar a encontrar o imóvel perfeito para você.
                                        </p>
                                        <hr>
                                        <a href="<?php echo $this->url('home') ?>application/imoveislist" class="link-arrow">Leia Mais</a>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                                <!--                        <div class="col-md-3 col-sm-3">
                                                            <article>
                                                                <h3>Imóveis Recentes</h3>
                                                                <div class="property small">
                                                                    <a href="property-detail.html">
                                                                        <div class="property-image">
                                                                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div class="info">
                                                                        <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                                                        <figure>Doral, FL 33178 </figure>
                                                                        <div class="tag price">$ 72,000</div>
                                                                    </div>
                                                                </div> /.property 
                                                                <div class="property small">
                                                                    <a href="property-detail.html">
                                                                        <div class="property-image">
                                                                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-09.jpg">
                                                                        </div>
                                                                    </a>
                                                                    <div class="info">
                                                                        <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                                                        <figure>Minneapolis, MN 55402</figure>
                                                                        <div class="tag price">$ 36,000</div>
                                                                    </div>
                                                                </div> /.property 
                                                            </article>
                                                        </div> /.col-sm-3 -->
                                <div class="col-md-4 col-sm-4">
                                    <article>
                                        <h3>Contato</h3>
                                        <address>
                                            <strong>Imóveis List</strong><br>
                                            Rua 13, 91<br>
                                            Montes Claros, MG 39401-457
                                        </address>
                                        <a href="#">Entre em contato</a>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                                <div class="col-md-4 col-sm-4">
                                    <article>
                                        <h3>Links Úteis</h3>
                                        <ul class="list-unstyled list-links">
                                            <!--<li><a href="#">Todos imóveis</a></li>-->
                                            <li><a href="<?php echo $this->url('home') ?>application/politicadeprivacidade">Política de Privacidade</a></li>
                                            <li><a href="<?php echo $this->url('home') ?>admin/auth/index">Login e criar conta</a></li>
                                            <li><a href="<?php echo $this->url('home') ?>application/faq">FAQ</a></li>
                                            <li><a href="<?php echo $this->url('home') ?>application/termosecondicoes">Termos e condições</a></li>
                                        </ul>
                                    </article>
                                </div><!-- /.col-sm-3 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </aside><!-- /#footer-main -->
                    <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
                    <aside id="footer-copyright">
                        <div class="container">
                            <span>Copyright © 2016. Todos os direitos reservados.</span>
                            <span class="pull-right"><a href="#page-top" class="roll">Ir para o topo</a></span>
                        </div>
                    </aside>
                </div><!-- /.inner -->
            </footer>
            <!-- end Page Footer -->
        </div>

        <div id="overlay"></div>

        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/smoothscroll.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/icheck.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/retina-1.1.0.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jshashtable-2.1_src.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.numberformatter-1.2.3.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/tmpl.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.dependClass-0.1.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/draggable-0.1.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.slider.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/custom.js"></script>
        <!--[if gt IE 8]>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/ie.js"></script>
        <![endif]-->
        <script>
            $(window).load(function () {
                initializeOwl(false);
            });
        </script>

        <script>

            /* Função responsável para carregar as cidades no combo box após o usuario escolher o estado*/
            function carregarCidades(str) {
                //alert("chegou aqui");
                if (str.length == 0) {
                    //document.getElementById("endereco").innerHTML = "";
                    return;
                } else {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            document.getElementById("cidades").innerHTML = xmlhttp.responseText;
                        }
                    };
                    xmlhttp.open("GET", "<?php echo $this->url('home') ?>application/index/carregarcidades?estado=" + str, true);
                    xmlhttp.send();
                }
            }

            /* Função responsável para carregar os bairros no combo box após o usuario escolher a cidade*/
            function carregarBairros(str) {
                //alert("chegou aqui");
                if (str.length == 0) {
                    //document.getElementById("endereco").innerHTML = "";
                    return;
                } else {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            document.getElementById("bairros").innerHTML = xmlhttp.responseText;
                        }
                    };
                    xmlhttp.open("GET", "<?php echo $this->url('home') ?>application/index/carregarbairros?cidade=" + str, true);
                    xmlhttp.send();
                }
            }
        </script>
    </body>
</html>