<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Imoveis Denio Landim</title>
        <meta charset="UTF-8">
        <META NAME="Author" CONTENT="Agenciaw3 Soluções web,publicidade, propaganda, Montes Claros,Sistemas,  otimização pra web,Minas Gerais, zend, sites em html"/>
        <META NAME="Subject" CONTENT="imóveis, financiamentos, minha casa minha vida,denio,  venda e aluguel de imóveis, casas, apartamentos "/>
        <META NAME="Description" CONTENT="imobiliaria, financiamento e e venda de imóveis"/>
        <META NAME="Keywords" CONTENT="montes claros, minas gerais, imóveis, financiamento, caixa,minha casa minha vida, banco do brasil, imobiiaria montes claros, aluguel,venda, compra, emprestimo, leasing,apartamento, casa, corretor, denio, landim"/>
        <META NAME="Language" CONTENT="pt-br"/>
        <META NAME="revisit-after" CONTENT="1 Day1"/>
        <META NAME="Distribution" CONTENT="GLOBAL"/>
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/reset.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/estrutura.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/uteis.css">

        <!-- must have -->
        <link href="<?php echo $this->basePath(); ?>/bannerRotator/allinone_bannerRotator.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->basePath(); ?>/bannerRotator/js/allinone_bannerRotator.js" type="text/javascript"></script>
        <!--[if IE]><script src="<?php echo $this->basePath(); ?>/bannerRotator/js/excanvas.compiled.js" type="text/javascript"></script><![endif]-->
        <!-- must have -->

        <script>
            jQuery(function () {

                jQuery('#allinone_bannerRotator_classic').allinone_bannerRotator({
                    skin: 'classic',
                    width: 715,
                    height: 480,
                    responsive: true
                });

            });
        </script>

        <!-- Add jQuery library -->
        <!--<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancyBox/lib/jquery-1.10.1.min.js"></script>-->

        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox main JS and CSS files -->
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

        <!-- Add Button helper (this is optional) -->
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

        <!-- Add Thumbnail helper (this is optional) -->
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <!-- Add Media helper (this is optional) -->
        <script type="text/javascript" src=<?php echo $this->basePath(); ?>/"fancyBox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                /*
                 *  Simple image gallery. Uses default settings
                 */
                $('.fancybox').fancybox();
            });
        </script>
    </head>
    <body>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-40948334-1', 'auto');
            ga('send', 'pageview');

        </script>
        <?php
        $children = $this->viewModel()->getCurrent()->getChildren();
        $child = $children[0];
        ?>
        <?php
        $pieces = explode("application/", $_SERVER ['REQUEST_URI']);
        ?>
        <div class="cabecalho2">
            <div class="cabecalho_meio">
                <a href="<?php echo $this->url('home') ?>application/index" class="logo2"></a>
                <div class="menu_topo2">
                    <ul>
                        <li><a <?php if ($pieces[1] == "index/home") echo "class='ativo'"; ?>  href="<?php echo $this->url('home') ?>application/index">Início</a></li>
                        <li><a <?php if ($pieces[1] == "index/institucional") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/institucional">Institucional</a></li>
                        <li><a <?php if ($pieces[1] == "index/trabalheconosco") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/trabalheconosco">Trabalhe Conosco</a></li>
                        <li><a <?php if ($pieces[1] == "index/contato") echo "class='ativo'"; ?> href="<?php echo $this->url('home') ?>application/index/contato">Fale Conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <?php echo $this->content; ?>
        <div class="clear"></div>
        <div class="rodape">
            <div class="rodape_meio">
                <div class="coluna_rodape">
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 10) {
                            ?>
                            <span class="telefone_fixo"><?php echo $conf['parametro']; ?> <span class="textoLaranjado">Fixo</span> </span>
                            <?php
                        }
                    }
                    ?>
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 11) {
                            ?>
                            <span class="telefone_celular"><?php echo $conf['parametro']; ?> <span class="textoLaranjado">Oi</span> </span>
                            <?php
                        }
                    }
                    ?>

                </div>
                <div class="coluna_rodape">
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 12) {
                            ?>
                            <span class="telefone_celular"><?php echo $conf['parametro']; ?> <span class="textoLaranjado">Vivo</span> </span>
                            <?php
                        }
                    }
                    ?>
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 13) {
                            ?>
                            <span class="telefone_celular"><?php echo $conf['parametro']; ?> <span class="textoLaranjado">Tim</span> </span>
                            <?php
                        }
                    }
                    ?>

                </div>
                <div class="coluna_rodape2">
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 14) {
                            ?>
                            <span class="endereco_rodape"><a ><?php echo $conf['parametro']; ?></a>  </span>
                            <?php
                        }
                    }
                    ?>
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 9) {
                            ?>
                            <span class="email_rodape"><a ><?php echo $conf['parametro']; ?></a> </span>
                            <?php
                        }
                    }
                    ?>
                </div>
                <div class="coluna_rodape2">
                    <span class="trabalhe_rodape"><a href="<?php echo $this->url('home') ?>application/index/trabalheconosco">Trabalhe Conosco</a></span>
                    <span class="anuncie_rodape"><a href="<?php echo $this->url('home') ?>application/index/contato">Anuncie seu Imóvel conosco. Clique aqui!</a> </span>

                </div>
                <div class="clear"></div>
                <a href="http://www.agenciaw3.com.br" target="blanck" class="agenciaw3"></a>
                <span class="direitos">Copyright 2014 © Dênio Landim. Todos os direitos reservados.</span>

            </div>
        </div>
    </body>
</html>
