<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>CASA BONITA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/reset.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/uteis.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/estrutura.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/casa_bonita.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/contato.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/produtos.css">
        <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/js/jcarousel.responsive.css">
         <link rel="stylesheet" type="text/css"  href="<?php echo $this->basePath(); ?>/css/profissional.css">

        <?php
        $children = $this->viewModel()->getCurrent()->getChildren();
        $child = $children[0];
        ?>
        <?php
        $pieces = explode("application/", $_SERVER ['REQUEST_URI']);
        ?>
         
         <script src="<?php echo $this->basePath(); ?>/js/jquery.min.js" type="text/javascript"></script>
         
        <?php if ($pieces[1] == "index/home") { ?>
            <!-- must have -->
            <link href="<?php echo $this->basePath(); ?>/js/bannerRotator/allinone_bannerRotator.css" rel="stylesheet" type="text/css">
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>


            <!--<script src="<?php echo $this->basePath(); ?>/js/jquery.min.js" type="text/javascript"></script>-->
            <script src="<?php echo $this->basePath(); ?>/js/jquery-ui.min.js"></script>
            <script src="<?php echo $this->basePath(); ?>/js/bannerRotator/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
            <script src="<?php echo $this->basePath(); ?>/js/bannerRotator/js/allinone_bannerRotator.js" type="text/javascript"></script>
            <!-- must have -->


            <script>
                jQuery(function () {

                    jQuery('#allinone_bannerRotator_classic').allinone_bannerRotator({
                        skin: 'classic',
                        width: 1920,
                        height: 980,
                        width100Proc: true,
                        responsive: true,
                        showBottomNav: false,
                        showCircleTimer: false
    //                    thumbsWrapperMarginBottom: 5
                    });


                });
            </script>
        <?php } ?>

        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jquery.jcarousel.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jcarousel.responsive.js"></script>
        <!--[if lte IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
        <?php // echo $pieces[1]; ?>
        <?php if ($pieces[1] == "index/casabonita"||substr($pieces[1],0,18) == "index/profissional") { ?>

            <!--<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/lib/jquery-1.10.1.min.js"></script>-->
            <!-- Add mousewheel plugin (this is optional) -->
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/lib/jquery.mousewheel-3.0.6.pack.js"></script>

            <!-- Add fancyBox main JS and CSS files -->
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/jquery.fancybox.js?v=2.1.5"></script>
            
            <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/jquery.fancybox.css?v=2.1.5" media="screen" />

            <!-- Add Button helper (this is optional) -->
            <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
            
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

            <!-- Add Thumbnail helper (this is optional) -->
            <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
            
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

            <!-- Add Media helper (this is optional) -->
            <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    /*
                     *  Simple image gallery. Uses default settings
                     */
                    $('.fancybox').fancybox();
                });
            </script>
            
        <?php } ?>
    </head>
    <body <?php if ($pieces[1] == "index/home"){?>style="overflow: hidden;"<?php } ?> >
        <div class="cabecalho">
            <div class="cabecalho_centro">
                <a href="<?php echo $this->url('home') ?>" class="casa_bonita_tintacon"></a>
<!--                <div class="redes_sociais">
                    <?php
                    foreach ($child->configuracoes as $conf) {
                        if ($conf['id'] == 15) {
                            ?>
                            <a href="" target="blank" class="facebook"></a>
                            <?php
                        }
                    }
                    ?>
                    <a href="" target="blank" class="instagram"></a>
                </div>-->

                <ul class="menu_cabecalho">
                    <li><a href="<?php echo $this->url('home') ?>application/index/casabonita">CASA BONITA</a></li>
                    <li><a href="">PRODUTOS</a>
                        <ul>
                            <?php foreach ($child->categorias as $categoria) { ?>
                                <li><a href="<?php echo $this->url('home') ?>application/index/produtos/cat/<?php echo $categoria['id']; ?>/n/<?php echo preg_replace("/\s+/", "_", $categoria['nome']); ?>" style="color: #FFFFFF;"><?php echo $categoria['nome']; ?></a></li>
                            <?php } ?>                      
                        </ul>
                    </li>
                    <li><a href="<?php echo $this->url('home') ?>application/index/profissionais">PROFISSIONAIS E PROJETOS</a></li>
                    <li><a href="<?php echo $this->url('home') ?>application/index/consumoconsciente">CONSUMO CONSCIENTE</a></li>
                    <li><a href="<?php echo $this->url('home') ?>application/index/contato">CONTATO</a></li>
                </ul>
            </div>
        </div>

        <?php echo $this->content; ?>

        <div class="clear"></div>
        <div class="rodape">
            <div class="rodape_centro">
                <div class="redes_sociasi_rodape">
                    <?php foreach ($child->configuracoes as $config) { ?>
                        <?php if ($config['id'] == 15) { ?>
                            <a href="<?php echo $config['parametro']; ?>" target="blank" class="facebook"></a>
                        <?php } ?> 
                    <?php } ?> 
                    <?php foreach ($child->configuracoes as $config) { ?>
                        <?php if ($config['id'] == 16) { ?>
                            <a href="<?php echo $config['parametro']; ?>" target="blank" class="instagram"></a>
                        <?php } ?> 
                    <?php } ?> 
                </div>
                <form class="form_busca">
                    <input type="text" name="busca" value="" class="txt_busca" placeholder="BUSCAR" />
                    <input type="submit" name="" value="" class="btn_busca" />
                </form>
                <div class="telefone">
                    <?php foreach ($child->configuracoes as $config) { ?>
                        <?php if ($config['id'] == 10) { ?>
                            <img style="width: 12px;" src="<?php echo $this->basePath(); ?>/img/telefone.gif" /> <?php echo $config['parametro']; ?>
                        <?php } ?> 
                    <?php } ?> 
                </div>
                <!--                <div class="endereco">
                                    <img style="width: 12px;" src="img/endereco.gif" /> AV. DR. JOSÉ CORREIA MACHADO, 1079, IBITURUNA, MONTES CLAROS - MG
                                </div>
                                <div class="email">
                                    <img style="width: 12px;" src="img/email.gif" /> CONTATO@CASABONITA.COM.BR
                                </div>-->
                <!--<div class="clear"></div>-->
                <div style="float: right;">

                    <div class="jcarousel">
                        <ul>
                            <?php foreach ($child->marcas as $marca) { ?>
                                <li><a href=""><img style="width: 80px;" src="<?php echo $this->basePath(); ?>/data/marcas/<?php echo $marca['file']; ?>" /></a></li>
                            <?php } ?> 
                    <!--<li><a href=""><img src="img/parceiro5.gif" /></a></li>-->
                        </ul>
                        <!--                        <a href="#" class="jcarousel-control-prev"></a>
                                                <a href="#" class="jcarousel-control-next"></a>-->
                    </div>
                </div>
                <div class="copyright"><a href="http://agenciaw3.com.br"><img src="<?php echo $this->basePath(); ?>/img/w3.gif" class="marginLeft10" /></a></div>
            </div>
            <!--<div class="clear"></dciv>-->
            <!--            <div class="final_rodape">
                            
                        </div>-->
        </div>

    </body>
</html>
