<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/loja/save" title="Criar Loja">Criar Loja</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Produtos</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($lojas as $loja): ?>
            <tr>
                <td><?php echo $this->escapeHtml($loja['nome']); ?></td>
                <td><?php echo $this->escapeHtml($loja['rua']); ?></td>
                <td><?php echo $this->escapeHtml($loja['bairro']); ?></td>
                <td><?php echo $this->escapeHtml($loja['cidade']); ?></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/lojfoto/index/lojid/<?php echo $loja['id']; ?>" title="Adicionar Fotos" class="btn"><i class="icon-picture"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/loja/save/id/<?php echo $loja['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/loja/delete/id/<?php echo $loja['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $lojas, 'Sliding', 'partials/paginator/control.phtml'
);
?>