<div class="actions clearfix">
    <div class="btns">
        <!--<a class="btn submit" href="<?php echo $this->url('admin') ?>/pedido/save" title="Criar Categoria">Criar Pedido</a>-->
    </div>
</div>  
<label class="divisor"><span>Lista de Pedidos</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th style="text-align: left;">Id</th>
            <th style="text-align: left;">Cliente</th>
            <th style="text-align: left;">Valor</th>
            <th style="text-align: left;">Frete</th>
            <th style="text-align: left;">Data</th>
            <th style="text-align: left;">Status</th>
            <!--th style="text-align: left;">Pago</th-->
            <th style="text-align: left;">Casal Presenteado</th>
            <th style="text-align: left;">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($pedidos as $pedido): ?>
            <tr>
                <td style="text-align: left;">
                    <?php echo $this->escapeHtml($pedido['id']); ?>
                </td>
                <td style="text-align: left;">
                    <a href="<?php echo $this->url('admin') ?>/cliente/save/id/<?php echo $pedido['clientes_id']; ?>"><?php echo $this->escapeHtml($pedido['cnome']); ?></a>
                </td>
                <td style="text-align: left;">
                   R$ <?php echo number_format($this->escapeHtml($this->escapeHtml($pedido['valor_produtos']), 2, ",", ".")); ?>
                </td>
                
                <td style="text-align: left;">
                    R$<?php echo number_format($this->escapeHtml($this->escapeHtml($pedido['valor_frete']), 2, ",", ".")); ?>
                </td>
                <td style="text-align: left;">
                    <?php echo implode("/", array_reverse(explode("-", substr($this->escapeHtml($pedido['data']),0,10)))); ?>
                </td>
                <td style="text-align: left;">
                    <?php if($pedido['status']=='1')echo "Pendente"; ?>
                    <?php if($pedido['status']=='2')echo "Saiu para Entrega"; ?>
                    <?php if($pedido['status']=='3')echo "Entregue"; ?>
                </td>
				
				<?php if($pedido['casal_id']!=0){ ?>
                <?php foreach ($casais as $casal){ ?>
                    <?php if ($pedido['casal_id'] == $casal['id']) { ?>
					<td style="text-align: left;">
                        <?php  echo $casal['nome']; ?>
                    </td>
					<?php } ?>
                <?php }}else{ ?>
					<td style="text-align: left;">
                        Nenhum dos casais cadastrados.
                    </td>
				<?php } ?>
                
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/pedido/save/id/<?php echo $pedido['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/pedido/delete/id/<?php echo $pedido['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $pedidos, 'Sliding', 'partials/paginator/control.phtml'
);
?>