<?php
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>


<label class="divisor"><span>Lista de Produtos do Pedido</span></label>
<table cellspacing="5" cellpadding="5" class="datatable">
    <thead>
        <tr>
            <th style="text-align: left;">Nome</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>

        <?php $total =0; foreach ($produtos as $produto): ?>
            <tr>
                <td><a href="/admin/produto/save/id/<?php echo $produto['id']; ?>"><?php echo $this->escapeHtml($produto['nome']); ?></a></td>
                <td style="text-align: center;"><?php echo $this->escapeHtml($produto['quantidade']); ?></td>
                <td style="text-align: center;">
                    <?php
                    if ($produto['promocao'] == '1') {
                        echo "R$".number_format($this->escapeHtml( $this->escapeHtml($produto['preco_promocao']), 2, ",", "."));
                    } else {
                        echo "R$".number_format($this->escapeHtml( $this->escapeHtml($produto['preco']), 2, ",", "."));
                    }
                    ?>
                </td>
                <td style="text-align: center;">
                    <?php
                    if ($produto['promocao'] == '1') {
                        $total += $produto['preco_promocao'] * $produto['quantidade'];
                        echo "R$".number_format($this->escapeHtml($produto['preco_promocao'] * $produto['quantidade']), 2, ",", ".");
                    } else {
                        $total += $produto['preco'] * $produto['quantidade'];
                        echo "R$".number_format($this->escapeHtml($produto['preco'] * $produto['quantidade']), 2, ",", ".");
                    }
                    ?>
                </td>
            </tr>
        <?php endforeach; ?>
            <tr>
                <td></td>
                <td></td>
                <td><b>Total Pedido:</b></td>
                <td><b><?php echo "R$".number_format($total, 2, ",", "."); ?></b></td>
            </tr>
</table>