<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/plano/save" title="Criar Plano">Criar Plano</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Planos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Descrição</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($planos as $plano): ?>
            <tr>
                <td><?php echo $this->escapeHtml($plano['descricao']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/plano/save/id/<?php echo $plano['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/plano/delete/id/<?php echo $plano['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $planos, 'Sliding', 'partials/paginator/control.phtml'
);
?>