<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/parcela/save/motoid/<?php echo $motoid; ?>" title="Adicionar parcela">Adicionar parcela</a>
    </div>
</div>  
<label class="divisor"><span>Lista de parcelas do consórcio</span></label>
<table class="datatable"  cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            <th>Versão</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Plano</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($parcelas as $parcela): ?>
            <tr>
                <td><?php echo $this->escapeHtml($parcela['versao']); ?></td>
                <td><?php echo $this->escapeHtml($parcela['qtde']); ?></td>
                <td><?php echo "R$ ".number_format($this->escapeHtml($parcela['valor_parcela']), 2, ",", "."); ?></td>
                <td><?php echo $this->escapeHtml($parcela['plano']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/parcela/save/id/<?php echo $parcela['id']; ?>/motoid/<?php echo $parcela['moto_id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/parcela/delete/id/<?php echo $parcela['id']; ?>/motoid/<?php echo $parcela['moto_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $parcelas, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php //\Zend\Debug\Debug::dump($this->formData); ?>