<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/cliente/save" title="Criar Cliente">Criar Cliente</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Clientes</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <!--th>Logomarca</th-->

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($clientes as $cliente): ?>
            <tr>
                <td><?php echo $this->escapeHtml($cliente['nome']); ?></td>
                <!--td><img src="<?php echo $this->basePath(); ?>/data/clientes/<?php echo $this->escapeHtml($cliente['imagem']); ?>" width="75px;" /></td-->
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/cliente/save/id/<?php echo $cliente['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/cliente/delete/id/<?php echo $cliente['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $clientes, 'Sliding', 'partials/paginator/control.phtml'
);
?>