<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/pagfoto/save/pagid/<?php echo $pagid; ?>" title="Adicionar foto">Adicionar foto</a>
    </div>
</div>  
<label class="divisor"><span>Lista de fotos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Legenda</th>
            <th>Imagem</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($pagfotos as $pagfoto): ?>
            <tr>
                <td><?php echo $this->escapeHtml($pagfoto['legenda']); ?></td>
                <td>
                    <?php
                    if ($pagfoto['pagina_id'] != '6') {
                       
                            ?>

                            <img width="50px" style="float: left; margin-left: 20px; margin-bottom: 20px;" src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $this->escapeHtml($pagfoto['imagem']); ?>" />

                            <?php
                    
                    } else {
                    
                            ?>

                            <a href="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $this->escapeHtml($pagfoto['imagem']); ?>"> <?php echo $pagfoto['legenda']; ?> </a>

                            <?php
                       
                    }
                    ?>
                    <!--<img src="<?php echo $this->basePath() . '/data/paginas/' . $this->escapeHtml($pagfoto['imagem']); ?>" width="50px" />-->
                    <?php //echo $this->escapeHtml($pagfoto['file']); ?>
                </td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/pagfoto/save/id/<?php echo $pagfoto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/pagfoto/delete/id/<?php echo $pagfoto['id']; ?>/pagid/<?php echo $pagfoto['pagina_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $pagfotos, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php
//\Zend\Debug\Debug::dump($this->formData); ?>