<form action="<?php echo str_replace("/index.php", "", "http://" . $_SERVER['SERVER_NAME'] . $_SERVER['PHP_SELF']) . '/admin/produto/save/id/'.$id; ?>" method="get">
    <label>Escolha uma categoria:</label>
    <select name="categoria">
        <?php foreach ($categorias as $categoria) { ?>
            <option value="<?php echo $categoria['id']; ?>"><?php echo $categoria['nome']; ?></option>
        <?php } ?>
    </select>
    <label>Escolha a marca:</label>
    <select name="marca_id">
        <?php foreach ($marcas as $marca) { ?>
            <option value="<?php echo $marca['id']; ?>"><?php echo $marca['nome']; ?></option>
        <?php } ?>
    </select>
    <input type="submit" value="Avançar" />
    <?php
    /*
     * To change this template, choose Tools | Templates
     * and open the template in the editor.
     */
    ?>
</form>
