<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/agenda/save" title="Adicionar Profissional">Adicionar Profissional</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Profissionais</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <!--<th>Logomarca</th>-->
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($eventos as $eve): ?>
            <tr>
                <td><?php echo $this->escapeHtml($eve['nome']); ?></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/agenfoto/index/agenid/<?php echo $eve['id']; ?>" title="Adicionar Projetos" class="btn"><i class="icon-picture"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/agenda/save/id/<?php echo $eve['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/agenda/delete/id/<?php echo $eve['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) {
                                return true;
                            } else {
                                return false;
                            }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
<?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $eventos, 'Sliding', 'partials/paginator/control.phtml'
);
?>