<script >
    function mudarValor(valor) {
        document.getElementById("plano_id").value = valor;
    }
</script>
<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Início</a></li>
            <li class="active">Adicionar Imóvel</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>Adicionar Seu Imóvel</h1></header>
        <div class="row">
            <!-- Submit-->
            <div class="col-md-9 col-sm-9">
                <section id="submit" class="submit">
                    <section id="select-package">
                        <div class="table-responsive submit-pricing">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Plano Mensal por imóvel:</th>
                                        <?php foreach ($planos as $plano) { ?>
                                            <th class="title"><?php echo $plano['nome']; ?></th>  
                                        <?php } ?>    
                                        <!--<th class="title">Prata</th>
                                        <th class="title">Ouro</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="prices">
                                        <td></td>
                                        <?php foreach ($planos as $plano) { ?>
                                            <td>R$<?php echo number_format($plano['valor'], 2, ",", "."); ?></td>
                                        <?php } ?>    
                                        <!--<td>R$49,9</td>                        
                                        <td>R$99,9</td>-->
                                    </tr>
                                   <!--  <tr>
                                        <td>Destaque</td>
                                        <td class="not-available"><i class="fa fa-times"></i>Nenhum</td>
                                        <td class="available"><i class="fa fa-check"></i>Destaque no bairro</td>
                                        <td class="available"><i class="fa fa-check"></i>Destaque na cidade</td>
                                    </tr>  -->
                                   <!--  <tr>
                                        <td>Banner na página inicial</td>
                                        <td class="not-available"><i class="fa fa-times"></i>Não</td>
                                        <td class="not-available"><i class="fa fa-check"></i>Não</td>
                                        <td class="available"><i class="fa fa-check"></i>Sim</td>
                                    </tr>       -->                             

                                    <tr class="buttons">
                                        <td></td>
                                        <td class="package-selected" data-package="free">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('1')">Select</button>
                                        </td>
                                      <!--   <td data-package="silver">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('2')">Select</button>
                                        </td> -->
                                        <!-- <td data-package="gold">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('3')" >Select</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.submit-pricing -->
                    </section><!-- /#select-package -->
                </section><!-- /#submit -->
            </div><!-- /.col-md-9 -->
            <aside class="col-md-3 col-sm-3">
                <div class="submit-step">
                    <figure class="step-number">1</figure>
                    <div class="description">
                        <h4>Selecione o seu Plano</h4>
                        <p>
                            Escolha o pacote que mais atende a sua nescessidade.
                            Esses planos não possuem contrato de fidelização.
                            Todos os planos são mensais.
                        </p>
                    </div>
                </div><!-- /.submit-step -->
            </aside><!-- /.col-md-3 -->
        </div><!-- /.row -->
        <form role="form" id="form-submit" class="form-submit" action="" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="plano_id" value="1" id="plano_id"  />
            <div class="row">
                <div class="block">
                    <div class="col-md-9 col-sm-9">
                        <section id="submit-form">
                            <section id="basic-information">
                                <header><h2>Informações Básicas</h2></header>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="submit-title">Título</label>
                                            <input type="text" class="form-control" id="submit-title" maxlength="90" name="titulo" required>
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="submit-price">Preço</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">R$</span>
                                                <input type="text" class="form-control" id="submit-price" name="preco"   required>
                                            </div>
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="submit-description">Descrição</label>
                                    <textarea class="form-control" id="submit-description" rows="8" name="descricao" required></textarea>
                                </div><!-- /.form-group -->
                            </section><!-- /#basic-information -->

                            <section>
                                <div class="row">
                                    <div class="block clearfix">
                                        <div class="col-md-12 col-sm-12">
                                            <section id="summary">
                                                <header><h2>Detalhes</h2></header>
                                                <div class="form-group">
                                                    <label for="submit-location">Estado</label>
                                                    <select required onchange="carregarCidades(this.value)" name="estado_id" id="submit-location">
                                                        <option value="">Selecione o Estado
                                                        </option>
                                                        <?php foreach ($estados as $estado) { ?>
                                                            <option value="<?php echo $estado['sigla']; ?>">
                                                                <?php echo $estado['nome']; ?>
                                                            </option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="submit-location">Cidade</label>
                                                    <div id="cidades">    
                                                        <select required name="cidade_id" id="submit-location" >
                                                            <option value="">Selecione a Cidade</option>   
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="submit-location">Bairro</label>
                                                    <div id="bairros">  
                                                        <input type="text"  name="bairro" list="bairro"  required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-property-type">Tipo</label>
                                                            <select required name="tipo_id" id="submit-property-type">
                                                                <option value="">Selecione o tipo</option>
                                                                <?php foreach ($tipos as $tipo) { ?>
                                                                    <option value="<?php echo $tipo['id']; ?>">
                                                                        <?php echo $tipo['tipo']; ?>
                                                                    </option>
                                                                <?php } ?>
                                                            </select>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-status">Finalidade</label>
                                                            <select required name="finalidade" id="submit-status">
                                                                <option value="">Selecione a finalidade</option>
                                                                <option value="1">Vender</option>
                                                                <option value="2">Alugar</option>
                                                            </select>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                </div><!-- /.row -->
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-Beds">Quartos</label>
                                                            <input type="text" class="form-control" id="submit-Beds" name="quartos" pattern="\d*" required>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-Baths">Banheiros</label>
                                                            <input type="text" class="form-control" id="submit-Baths" name="banheiros" pattern="\d*" required>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                </div><!-- /.row -->
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-area">Área Total</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="submit-area" name="area_total"  required>
                                                                <span class="input-group-addon">m<sup>2</sup></span>
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label for="submit-area">Área Construida</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="submit-area" name="area_construida" required>
                                                                <span class="input-group-addon">m<sup>2</sup></span>
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-6 -->

                                                </div><!-- /.row -->
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label for="submit-garages">Vagas na Garagem</label>
                                                            <input type="text" class="form-control" id="submit-garages" name="garagem" pattern="\d*" required>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-4 -->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label for="submit-garages">Suites</label>
                                                            <input type="text" class="form-control" id="submit-garages" name="suites" pattern="\d*" required>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-4 -->
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label for="submit-price">Valor Condomínio</label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">R$</span>
                                                                <input type="text" class="form-control" id="submit-price" name="condominio"   >
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                    </div><!-- /.col-md-4 -->
                                                </div>
                                                <!--<div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">Allow user rating <i class="fa fa-question-circle tool-tip"  data-toggle="tooltip" data-placement="right" title="Users can give you a stars rating which is displayed in property detail"></i>
                                                    </label>
                                                </div>-->
                                            </section><!-- /#summary -->
                                        </div><!-- /.col-md-12 -->

                                    </div><!-- /.block -->
                                </div><!-- /.row -->
                            </section>

                            <section class="block" id="gallery">
                                <header><h2>Galeria</h2></header>
                                <div class="center">
                                    <div class="form-group">

                                        <input id="file-upload" name="fotos[]" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Escolher Imagens" required="required">
                                        <figure class="note"><strong>Adicionar imagens:</strong> Adicione até oito imagens.</figure>
                                    </div>
                                </div>
                            </section>

                            <section id="property-features" class="block">
                                <section>
                                    <header><h2>Informações Complementares</h2></header>
                                    <ul class="submit-features">
                                        <?php foreach ($diferenciais as $diferencial) { ?>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="diferencial[]" value="<?php echo $diferencial['id']; ?>" type="checkbox" ><?php echo $diferencial['nome']; ?>
                                                    </label>
                                                </div>
                                            </li>
                                        <?php } ?>
                                        <!-- <li><div class="checkbox"><label><input type="checkbox">Aquecedor</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">Internet</label></div></li>
                                       
                                       
                                        <li><div class="checkbox"><label><input type="checkbox">PISCINA</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">Portão Eletrônico</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">Interfone</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">CHURRASQUEIRA</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">QUADRA ESPORTES</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">SALAO FESTAS</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">BANHO SOCIAL C/ BOX BLINDEX</label></div></li>
                                        <li><div class="checkbox"><label><input type="checkbox">Garagem</label></div></li> -->
                                    </ul>
                                </section>
                            </section>
                            <hr>
                        </section>
                    </div><!-- /.col-md-9 -->
                    <div class="col-md-3 col-sm-3">
                        <aside class="submit-step">
                            <figure class="step-number">2</figure>
                            <div class="description">
                                <h4>Coloque informações Sobre o Imóvel</h4>
                                <p>Digite informações sobre imóvel. Seja bem detalhista.
                                </p>
                            </div>
                        </aside><!-- /.submit-step -->
                    </div><!-- /.col-md-3 -->
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="block">
                    <div class="col-md-9 col-sm-9">
                        <div class="center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default large">Finalizar</button>
                            </div><!-- /.form-group -->
                            <figure class="note block">Ao clicar em Finalizar” ou “Enviar” você concorda com nossos <a href="terms-conditions.html">Termos e condições</a></figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <aside class="submit-step">
                            <figure class="step-number">3</figure>
                            <div class="description">
                                <h4>Revise as informações <!-- para ir para o pagamento --></h4>
                                <p>Confira as informações cuidadosamente e depois clique em finalizar.
                                </p>
                            </div>
                        </aside><!-- /.submit-step -->
                    </div><!-- /.col-md-3 -->
                </div>
            </div>
        </form><!-- /#form-submit -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->