<!--<select name="bairro_id" id="submit-location"  >
    <option value="0">Selecione a Bairro</option>
    <?php foreach ($dados as $dado) { ?>
        <option value="<?php echo $dado['bairro_id']; ?>"><?php echo $dado['desc_bairro']; ?>
        </option>
    <?php } ?>
</select>-->
<input type="text"  name="bairro" placeholder="Bairro ou Região" autocomplete="off" required list="bairro">
<datalist id="bairro">
    <?php foreach ($dados as $dado) { ?>
        <option value="<?php echo $dado['bairro']; ?>">
        <?php } ?>
</datalist> 