 <select name="cidade_id" id="submit-location" onchange="carregarBairros(this.value)" >
 	<option value="0">Selecione a Cidade</option>
 	<?php foreach($dados as $dado){ ?>
 	<option value="<?php echo  $dado['cidade_id']; ?>"><?php echo  $dado['desc_cidade']; ?>
 	</option>
 	<?php } ?>
 </select>