<script >
    function mudarValor(valor) {
        document.getElementById("plano_id").value = valor;
    }
</script>
<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>application/index">Início</a></li>
            <li class="active">Editar Imóvel</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>Editar Imóvel</h1></header>
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 col-sm-2">
                <section id="sidebar">
                    <header><h3>Minha Conta</h3></header>
                    <aside>
                        <ul class="sidebar-navigation">
                            <li ><a href="<?php echo $this->url('home') ?>admin/usuario/perfil"><i class="fa fa-user"></i><span>Perfil</span></a></li>
                            <li ><a href="<?php echo $this->url('home') ?>admin/imovel/meusimoveis"><i class="fa fa-home"></i><span>Meus Imóveis</span></a></li>
<!--                            <li><a href="bookmarked.html"><i class="fa fa-heart"></i><span>Bookmarked Properties</span></a></li>-->
                        </ul>
                    </aside>
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
            <!-- Submit-->
            <div class="col-md-9 col-sm-9">
                <section id="submit" class="submit">
                    <section id="select-package">
                        <div class="table-responsive submit-pricing">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Plano Mensal por imóvel:</th>
                                        <?php foreach ($planos as $plano) { ?>
                                            <th class="title"><?php echo $plano['nome']; ?></th>  
                                        <?php } ?>    
                    <!--<th class="title">Prata</th>
                    <th class="title">Ouro</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="prices">
                                        <td></td>
                                        <?php foreach ($planos as $plano) { ?>
                                            <td>R$<?php echo number_format($plano['valor'], 2, ",", "."); ?></td>
                                        <?php } ?>    
                    <!--<td>R$49,9</td>                        
                    <td>R$99,9</td>-->
                                    </tr>
                                   <!--  <tr>
                                        <td>Destaque</td>
                                        <td class="not-available"><i class="fa fa-times"></i>Nenhum</td>
                                        <td class="available"><i class="fa fa-check"></i>Destaque no bairro</td>
                                        <td class="available"><i class="fa fa-check"></i>Destaque na cidade</td>
                                    </tr>  -->
                                   <!--  <tr>
                                        <td>Banner na página inicial</td>
                                        <td class="not-available"><i class="fa fa-times"></i>Não</td>
                                        <td class="not-available"><i class="fa fa-check"></i>Não</td>
                                        <td class="available"><i class="fa fa-check"></i>Sim</td>
                                    </tr>       -->                             

                                    <tr class="buttons">
                                        <td></td>
                                        <td class="package-selected" data-package="free">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('1')">Select</button>
                                        </td>
                                      <!--   <td data-package="silver">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('2')">Select</button>
                                        </td> -->
                                        <!-- <td data-package="gold">
                                            <button type="button" class="btn btn-default small" onclick="mudarValor('3')" >Select</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.submit-pricing -->
                    </section><!-- /#select-package -->
                </section><!-- /#submit -->
                <?php $imovel_id = 0; ?>
                <?php foreach ($imovel as $imo) { ?>
                    <?php $imovel_id = $imo['id']; ?>
                    <form role="form"  id="form-submit" class="form-submit" action="<?php echo $this->url('home') ?>admin/imovel/editar/id/<?php echo $imovel_id; ?>" method="post" enctype="multipart/form-data" >

                        <div class="row">
                            <div class="block">
                                <div class="col-md-12 col-sm-12">
                                    <section id="submit-form">

                                        <input type="hidden" name="plano_id" value="<?php echo $this->escapeHtml($imo['plano_id']); ?>" id="plano_id"  />
                                        <section id="basic-information">
                                            <header><h2>Informações Básicas</h2></header>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="submit-title">Título</label>
                                                        <input type="text" class="form-control" value="<?php echo $this->escapeHtml($imo['titulo']); ?>" id="submit-title" maxlength="90" name="titulo" required>
                                                    </div><!-- /.form-group -->
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="submit-price">Preço</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">R$</span>
                                                            <input type="text" class="form-control" id="submit-price" value="<?php echo number_format($this->escapeHtml($imo['preco']), 2, ",", "."); ?>" name="preco"   required>
                                                        </div>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="submit-description">Descrição</label>
                                                <textarea class="form-control" id="submit-description" rows="8"  name="descricao" required><?php echo $this->escapeHtml($imo['descricao']); ?></textarea>
                                            </div><!-- /.form-group -->
                                        </section><!-- /#basic-information -->

                                        <section>
                                            <div class="row">
                                                <div class="block clearfix">
                                                    <div class="col-md-12 col-sm-12">
                                                        <section id="summary">
                                                            <header><h2>Detalhes</h2></header>
                                                            <div class="form-group">
                                                                <label for="submit-location">Estado</label>
                                                                <select required onchange="carregarCidades(this.value)" name="estado_id" id="submit-location">
                                                                    <option value="">Selecione o Estado
                                                                    </option>
                                                                    <?php foreach ($estados as $estado) { ?>
                                                                        <option <?php
                                                                        if ($imo['estado'] == $estado['sigla']) {
                                                                            echo "selected='selected'";
                                                                        }
                                                                        ?> value="<?php echo $this->escapeHtml($estado['sigla']); ?>">
                                                                                <?php echo $this->escapeHtml($estado['nome']); ?>
                                                                        </option>
                                                                    <?php } ?>
                                                                </select>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label for="submit-location">Cidade</label>
                                                                <div id="cidades">    
                                                                    <select required name="cidade_id" id="submit-location" >
                                                                        <option value="<?php echo $this->escapeHtml($imo['cidade_id']); ?>"><?php echo $this->escapeHtml($imo['cidade']); ?></option>   
                                                                           <?php foreach ($cidades as $cidade) { ?>
                                                                            <option value="<?php echo $cidade['cidade_id']; ?>"><?php echo $this->escapeHtml($cidade['desc_cidade']); ?></option>  
                                                                            <?php } ?>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="submit-location">Bairro</label>
                                                                <div id="bairros">                                                                     
                                                                    <input type="text" autocomplete="off"  name="bairro" list="bairro" value="<?php echo $this->escapeHtml($imo['bairro']); ?>"  required>
                                                                    <datalist id="bairro">
                                                                        <?php foreach ($bairros as $bairro) { ?>
                                                                            <option value="<?php echo $bairro['bairro']; ?>">
                                                                            <?php } ?>
                                                                    </datalist> 
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-property-type">Tipo</label>
                                                                        <select required name="tipo_id" id="submit-property-type">
                                                                            <option value="">Selecione o tipo</option>
                                                                            <?php foreach ($tipos as $tipo) { ?>
                                                                                <option <?php
                                                                                if ($imo['tipo_id'] == $tipo['id']) {
                                                                                    echo "selected='selected'";
                                                                                }
                                                                                ?> value="<?php echo $this->escapeHtml($tipo['id']); ?>">
                                                                                        <?php echo $this->escapeHtml($tipo['tipo']); ?>
                                                                                </option>
                                                                            <?php } ?>
                                                                        </select>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-status">Finalidade</label>
                                                                        <select required name="finalidade" id="submit-status">
                                                                            <option value="">Selecione a finalidade</option>
                                                                            <option <?php
                                                                            if ($imo['finalidade'] == 1) {
                                                                                echo "selected='selected'";
                                                                            }
                                                                            ?> value="1">Vender</option>
                                                                            <option <?php
                                                                            if ($imo['finalidade'] == 2) {
                                                                                echo "selected='selected'";
                                                                            }
                                                                            ?> value="2">Alugar</option>
                                                                        </select>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->
                                                            </div><!-- /.row -->
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-Beds">Quartos</label>
                                                                        <input type="text" class="form-control" id="submit-Beds" value="<?php echo $this->escapeHtml($imo['quartos']); ?>" name="quartos" pattern="\d*" required>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-Baths">Banheiros</label>
                                                                        <input type="text" class="form-control" id="submit-Baths" value="<?php echo $this->escapeHtml($imo['banheiros']); ?>" name="banheiros" pattern="\d*" required>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->
                                                            </div><!-- /.row -->
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-area">Área Total</label>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" id="submit-area" value="<?php echo number_format($this->escapeHtml($imo['area_total']), 2, ",", "."); ?>" name="area_total"  required>
                                                                            <span class="input-group-addon">m<sup>2</sup></span>
                                                                        </div>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="submit-area">Área Construida</label>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" id="submit-area" value="<?php echo number_format($this->escapeHtml($imo['area_construida']), 2, ",", "."); ?>" name="area_construida" required>
                                                                            <span class="input-group-addon">m<sup>2</sup></span>
                                                                        </div>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-6 -->

                                                            </div><!-- /.row -->
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="submit-garages">Vagas na Garagem</label>
                                                                        <input type="text" class="form-control" id="submit-garages" value="<?php echo $this->escapeHtml($imo['garagem']); ?>"  name="garagem" pattern="\d*" required>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-4 -->
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="submit-garages">Suites</label>
                                                                        <input type="text" class="form-control" id="submit-garages" value="<?php echo $this->escapeHtml($imo['suites']); ?>" name="suites" pattern="\d*" required>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-4 -->
                                                                <div class="col-md-4 col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="submit-price">Valor Condomínio</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">R$</span>
                                                                            <input type="text" class="form-control" id="submit-price" value="<?php echo number_format($this->escapeHtml($imo['condominio']), 2, ",", "."); ?>" name="condominio"   >
                                                                        </div>
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.col-md-4 -->
                                                            </div>
                                                            <!--<div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">Allow user rating <i class="fa fa-question-circle tool-tip"  data-toggle="tooltip" data-placement="right" title="Users can give you a stars rating which is displayed in property detail"></i>
                                                                </label>
                                                            </div>-->
                                                        </section><!-- /#summary -->
                                                    </div><!-- /.col-md-12 -->

                                                </div><!-- /.block -->
                                            </div><!-- /.row -->
                                        </section>
                                    <?php } ?>
                                    <section class="block" id="gallery">
                                        <header><h2>Galeria</h2></header>

                                        <?php $contador = 0; ?>
                                        <?php foreach ($fotos as $foto) { ?>
                                            <div style="float: left; width: 150px; ">
                                                <img src="<?php echo $this->basePath(); ?>/data/imoveis/<?php echo $this->escapeHtml($foto['imagem']); ?>" style="float: left; width: 150px; padding: 5px; " > 
                                                <a style="padding: 5px;" href="<?php echo $this->url('home') ?>admin/imovel/deletarfoto/id/<?php echo $foto['id']; ?>/imovelid/<?php echo $imovel_id; ?>" title="Excluir Foto"> x </a>
                                            </div>
                                            <?php $contador++; ?>
                                        <?php } ?>
                                        <div style="clear: both;"></div>
                                        <?php if ($contador < 8) { ?>
                                            <div class="center">
                                                <div class="form-group">
                                                    <input id="file-upload" name="fotos[]" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Escolher Imagens">
                                                    <figure class="note"><strong>Adicionar imagens:</strong> Adicione até oito imagens.</figure>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    </section>

                                    <section id="property-features" class="block">
                                        <section>
                                            <header><h2>Informações Complementares</h2></header>
                                            <ul class="submit-features">
                                                <?php foreach ($diferenciais as $diferencial) { ?>
                                                    <li>
                                                        <div class="checkbox">
                                                            <label>
                                                                <?php $checked = ""; ?>
                                                                <?php foreach ($diferenciaisatual as $difer) { ?>

                                                                    <?php
                                                                    if ($difer['diferencial_id'] == $diferencial['id']) {
                                                                        $checked = "checked";
                                                                    }
                                                                    ?>
                                                                <?php } ?>
                                                                <input <?php echo $checked; ?> name="diferencial[]" value="<?php echo $this->escapeHtml($diferencial['id']); ?>" type="checkbox" ><?php echo $this->escapeHtml($diferencial['nome']); ?>
                                                            </label>
                                                        </div>
                                                    </li>
                                                <?php } ?>

                                            </ul>
                                        </section>
                                    </section>
                                    <hr>
                                </section>
                                <div class="row">
                                    <div class="block">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="center">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default large">Finalizar</button>
                                                </div><!-- /.form-group -->
                                                <figure class="note block">Ao clicar em Finalizar” ou “Enviar” você concorda com nossos <a href="terms-conditions.html">Termos e condições</a></figure>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- /.col-md-9 -->

                        </div>
                    </div><!-- /.row -->

                </form><!-- /#form-submit -->
            </div><!-- /.col-md-9 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->