<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">My Properties</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 col-sm-2">
                <section id="sidebar">
                    <header><h3>Minha Conta</h3></header>
                    <aside>
                        <ul class="sidebar-navigation">
                            <li ><a href="<?php echo $this->url('home') ?>admin/usuario/perfil"><i class="fa fa-user"></i><span>Perfil</span></a></li>
                            <li class="active"><a href="<?php echo $this->url('home') ?>admin/imovel/meusimoveis"><i class="fa fa-home"></i><span>Meus Imóveis</span></a></li>
<!--                            <li><a href="bookmarked.html"><i class="fa fa-heart"></i><span>Bookmarked Properties</span></a></li>-->
                        </ul>
                    </aside>
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
            <!-- My Properties -->
            <div class="col-md-9 col-sm-10">
                <section id="my-properties">
                    <header><h1>Meus imóveis</h1></header>
                    <div class="my-properties">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imóvel</th>
                                        <th></th>
                                        <th>Status</th>
                                        <th>Data</th>
<!--                                        <th>Visualizações</th>-->
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($imoveis as $imovel){ ?>
                                    <tr>
                                        <td class="image">
                                            <a href="property-detail.html" target="blanck" ><img alt="" src="<?php echo $this->basePath(); ?>/data/imoveis/<?php echo $this->escapeHtml($imovel['imagem']); ?>"></a>
                                        </td>
                                        <td><div class="inner">
                                                <a href="<?php echo $this->url('home') ?>admin/imovel/editar/id/<?php echo  $this->escapeHtml($imovel['id']); ?>" target="blanck" ><h2><?php echo  $this->escapeHtml($imovel['titulo']); ?></h2></a>
                                                <figure><?php echo  $this->escapeHtml($imovel['bairro']); ?> - <?php echo  $this->escapeHtml($imovel['cidade']); ?>, <?php echo  $this->escapeHtml($imovel['estado']); ?></figure>
                                                <div class="tag price">R$ <?php echo number_format($this->escapeHtml($imovel['preco']), 2, ",", "."); ?></div>
                                            </div>
                                        </td>
                                        <td><?php if($imovel['status']=='i'){ echo "Aguardando Ativação"; }else{ echo "Ativo"; } ?></td>
                                        <td><?php echo date('d/m/Y', strtotime($this->escapeHtml($imovel['criacao']))); ?></td>
<!--                                        <td>236</td>-->
                                        <td class="actions">
                                            <a href="<?php echo $this->url('home') ?>admin/imovel/editar/id/<?php echo  $this->escapeHtml($imovel['id']); ?>" class="edit"><i class="fa fa-pencil"></i>Editar</a>
                                            <a onclick="return confirm('Confirma exclusão do imóvel?')" href="<?php echo $this->url('home') ?>admin/imovel/deletarimovel/id/<?php echo  $this->escapeHtml($imovel['id']); ?>"><i class="delete fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <?php } ?>                                    
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                        <!-- Pagination -->
                        <div class="center">
                            <ul class="pagination">
                                <?php
                                echo $this->paginationControl(
                                        $imoveis, 'Sliding', 'partials/paginator/control.phtml'
                                );
                                ?>
<!--                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>-->
                            </ul><!-- /.pagination-->
                        </div><!-- /.center-->
                    </div><!-- /.my-properties -->
                </section><!-- /#my-properties -->
            </div><!-- /.col-md-9 -->
            <!-- end My Properties -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->