<!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Obrigado!</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <section class="center submission-message">
                <header>Obrigado por cadastrar o seu imóvel!</header>
                <p>Em breve seu imóvel vai estar online.</p>
                <a href="<?php echo $this->url('home') ?>admin/imovel/cadastrar" class="link-arrow">Adicionar Novo Imóvel</a><br><br>
                <a href="<?php echo $this->url('home'); ?>" class="link-arrow">Vá para a página principal</a>
            </section>
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->