<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/locacao/save" title="Novo Estágio">Novo Estágio</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Estágios Acadêmicos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Status</th>
            <th>Imagem</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($locacoes as $portifolio): ?>
            <tr>
                <td><?php echo $this->escapeHtml($portifolio['titulo']); ?></td>
                   <td><?php
                                        if ($portifolio['ativo'] == '2') {
                                            echo "Inativo";
                                        } else {
                                            echo "Ativo";
                                        }
                                        ?></td>
                <td><img src="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $this->escapeHtml($portifolio['imagem']); ?>" width="75px;" /></td>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/locacao/save/id/<?php echo $portifolio['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/locacao/delete/id/<?php echo $portifolio['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) { return true; } else { return false; }" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $locacoes, 'Sliding', 'partials/paginator/control.phtml'
);
?>