<!--<div class="actions clearfix">
  <div class="btns">
    <a class="btn submit" href="/admin/index/save" title="Criar Categoria">Criar Categoria</a>
  </div>
</div>  
<label class="divisor"><span>Lista de Categorias</span></label>
<table class="datatable">
  <thead>
    <tr>
      <th>Nome</th>
      
      <th width="120" class="center">Opções</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach($categorias as $categoria):?>
      <tr>
        <td><?php echo $this->escapeHtml($categoria['nome']);?></td>
       
        <td class="center">
            <a href="/admin/index/save/id/<?php echo $categoria['id'] ;?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
      <a href="/admin/index/delete/id/<?php echo $categoria['id'];?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
        </td>
      </tr>
    <?php endforeach;?>
</table>-->
<h1>
    Bem vindo a Administração do site!
</h1>