<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/lojfoto/save/lojid/<?php echo $lojid; ?>" title="Adicionar foto">Adicionar foto</a>
    </div>
</div>  
<label class="divisor"><span>Lista de fotos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Imagem</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($lojfotos as $lojfoto): ?>
            <tr>
                <td><?php echo $this->escapeHtml($lojfoto['legenda']); ?></td>
                <td><img src="<?php echo $this->basePath().'/data/lojas/'.$this->escapeHtml($lojfoto['imagem']); ?>" width="50px" /><?php //echo $this->escapeHtml($lojfoto['file']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/lojfoto/save/id/<?php echo $lojfoto['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/lojfoto/delete/id/<?php echo $lojfoto['id']; ?>/lojid/<?php echo $lojfoto['loja_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>

<?php
echo $this->paginationControl(
        $lojfotos, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php //\Zend\Debug\Debug::dump($this->formData); ?>