<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li class="active">Dados da Imobiliária</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <div class="container">
        <header><h1>Dados da Imobiliária</h1></header>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <!--<h3>Tipo de Conta</h3>-->
                <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/imobiliaria/registrar" method="post" enctype="multipart/form-data" >

                    <div class="form-group">
                        <label for="form-create-account-creci">CNPJ:</label>
                        <input type="text" class="form-control" name="cnpj" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-creci">Nome:</label>
                        <input type="text" class="form-control" name="nome" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Sobre a Empresa:</label>
                        <textarea class="form-control" id="form-contact-agent-message" rows="5" name="descricao" required></textarea>
                    </div><!-- /.form-group -->   
                    <div class="form-group">
                        <label for="form-create-account-desc">CEP:</label>
                        <input type="text" class="form-control" name="cep" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Estado:</label>
<!--                        <input type="text" class="form-control" name="endereco" id="form-create-account-creci" required>-->
                        <select required onchange="carregarCidades(this.value)" name="estado_id" id="submit-location">
                            <option value="">Selecione o Estado
                            </option>
                            <?php foreach ($estados as $estado) { ?>
                                <option value="<?php echo $estado['sigla']; ?>">
                                    <?php echo $estado['nome']; ?>
                                </option>
                            <?php } ?>
                        </select>
                    </div><!-- /.form-group -->
                    <div class="form-group" >
                        <label for="submit-location">Cidade</label>
                        <div id="cidades">    
                            <select required name="cidade_id" id="submit-location" >
                                <option value="">Selecione a Cidade</option>   
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-create-account-desc">Rua e Numero:</label>
                        <input type="text" class="form-control" name="endereco" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Email:</label>
                        <input type="text" class="form-control" name="email" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Web site:</label>
                        <input type="text" class="form-control" name="website" id="form-create-account-creci" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Telefone 1:</label>
                        <input type="text" class="form-control" name="telefone" id="form-create-account-creci" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-desc">Telefone 2:</label>
                        <input type="text" class="form-control" name="celular" id="form-create-account-creci" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-foto">Logomarca:</label>
                        <input type="file" class="form-control" name="logomarca" id="form-create-account-foto" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-twitter">Twitter:</label>
                        <input type="text" class="form-control" name="twitter" id="form-create-account-twitter" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-confirm-facebook">Facebook:</label>
                        <input type="text" class="form-control" name="facebook" id="form-create-account-confirm-facebook" >
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-skype">Skype:</label>
                        <input type="text" class="form-control" name="skype" id="form-create-account-skype">
                    </div><!-- /.form-group -->


                    <div class="form-group clearfix">
                        <button type="submit" class="btn pull-right btn-default" id="account-submit">Salvar</button>
                    </div><!-- /.form-group -->
                </form>

            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>