<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/faq/save" title="Criar Dica">Criar Dica</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Dicas</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Titulo</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($faqs as $faq): ?>
            <tr>
                <td><?php echo $this->escapeHtml($faq['titulo']); ?></td>

                <td class="center">
                    
                    <a href="<?php echo $this->url('admin') ?>/faq/save/id/<?php echo $faq['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/faq/delete/id/<?php echo $faq['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $faqs, 'Sliding', 'partials/paginator/control.phtml'
);
?>