<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/subcategoria/save" title="Criar Categoria">Criar Categoria</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Categorias dos Imóveis</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th style="text-align: left;">Nome</th>
            <!--th style="text-align: left;">Categoria</th-->
            <th  width="120" class="center" style="text-align: right;">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($subcategorias as $subcategoria): ?>
            <tr>
                <td style="text-align: left;">
                    <?php echo $this->escapeHtml($subcategoria['nome']); ?>
                </td>
                <?php foreach ($categorias as $categoria): ?>
                    <!--td style="text-align: left;"><?php
                        if ($subcategoria['categoria_id'] == $categoria['id']) {
                            echo $this->escapeHtml($categoria['nome']);
                        }
                        ?>
                    </td-->
                <?php endforeach; ?>
                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/subcategoria/save/id/<?php echo $subcategoria['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/subcategoria/delete/id/<?php echo $subcategoria['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $subcategorias, 'Sliding', 'partials/paginator/control.phtml'
);
?>