<div class="navegacao">
    <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
   <!--<a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span>--> 
    <a href="" class="link_ativo" >Fale Conosco</a>
</div>
<div class="clear"></div>
<div class="produto_detalhe_meio">
    <?php foreach ($paginas as $pagina) { ?>
        <?php if ($pagina['id'] == 50) { ?>
            <h1><?php echo $pagina['titulo']; ?>O</h1>
            <div style="clear: both;"></div>
            <div class="box_texto_produto" style="width: 968px;margin-top: 30px;">
                <p><?php echo $pagina['texto']; ?></p>
            </div>
        <?php } ?>
    <?php } ?>
    <div class="clear"></div>
    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
        <h2 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h2>
        <?php
        $_SESSION['msg']['msg'] = '';
    }
    ?>
    <div class="clear"></div>
    <form  method="post" style="width: 535px; float: left;">
        <input type="text" name="nome" value="" placeholder="Nome" class="txt_contato" />
        <input type="text" name="email" value="" placeholder="Email" class="txt_contato" />
        <input type="text" name="assunto" value="" placeholder="Assunto" class="txt_contato" />
        <textarea name="mensagem" rows="4" cols="20" placeholder="Mensagem" class="txt_mensagem"></textarea>
        <input type="submit" name="submit" value="ENVIAR" class="btn_enviar"  />
    </form>
    <div class="mapa">
        <p>ONDE ESTAMOS</p>
    </div>
</div>           