  <!-- Page Content -->
    <div id="page-content">
        <section id="featured-properties" class="featured-properties block background-color-grey-light carousel-full-width">
            <div class="container">
                <header class="section-title"><h2>Imóveis em Destaque</h2></header>
            </div><!-- /.container -->
            <div class="owl-carousel featured-properties-carousel">
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-01.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 11,000</div>
                                <h3>3398 Lodgeville Road</h3>
                                <figure>Golden Valley, MN 55427</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>240m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>2</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>2</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>0</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-02.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 16,000</div>
                                <h3>987 Cantebury Drive</h3>
                                <figure>Chicago, IL 60610 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>120m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-03.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 28,500</div>
                                <h3>1866 Clement Street</h3>
                                <figure>Atlanta, GA 30303 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>120m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-04.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 268,800</div>
                                <h3>2186 Rinehart Road</h3>
                                <figure>Doral, FL 33178 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>620m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>3</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>2</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>2</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-05.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 28,500</div>
                                <h3>1866 Clement Street</h3>
                                <figure>Atlanta, GA 30303 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>120m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
                <div class="property big">
                    <a href="property-detail.html">
                        <div class="property-image">
                            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-03.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 28,500</div>
                                <h3>1866 Clement Street</h3>
                                <figure>Atlanta, GA 30303 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>120m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
            </div>
        </section><!-- /#featured-properties -->
        <section id="price-drop" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>Diminuiu o Preço</h2>
                    <a href="properties-listing.html" class="link-arrow">Todos Imóveis</a>
                </header>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Sale</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 11,000</div>
                                        <h3>3398 Lodgeville Road</h3>
                                        <figure>Golden Valley, MN 55427</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>2</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>2</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>0</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Sale</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-04.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 38,000</div>
                                        <h3>2186 Rinehart Road</h3>
                                        <figure>Doral, FL 33178 </figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-07.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 325,000</div>
                                        <h3>3705 Brighton Circle Road</h3>
                                        <figure>Glenwood, MN 56334</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Rent</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-08.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 16,000</div>
                                        <h3>362 Lynn Ogden Lane</h3>
                                        <figure>Galveston, TX 77550</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row-->
            </div><!-- /.container -->
        </section><!-- /#price-drop -->
        <section id="our-services" class="block">
            <div class="container">
                <header class="section-title"><h2>Nossos Serviços</h2></header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-folder"></i></figure>
                            <aside class="description">
                                <header><h3>Imensa variedade de imóveis</h3></header>
                                <p>No imoveislist você vai encontrar todo tipo de imóvel</p>
                                <a href="properties-listing.html" class="link-arrow">Leia Mais</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-users"></i></figure>
                            <aside class="description">
                                <header><h3>Vários Consultores ao seu dispor</h3></header>
                                <p>Entre em contato diretamente com o consultor ou imobiliária </p>
                                <a href="agents-listing.html" class="link-arrow">Leia Mais</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-money"></i></figure>
                            <aside class="description">
                                <header><h3>Melhores Preços!</h3></header>
                                <p>Encontre aqui o preço certo para você</p>
                                <a href="#" class="link-arrow">Leia Mais</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /#our-services -->
        <section id="new-properties" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>Novos Imóveis para você</h2>
                    <a href="properties-listing.html" class="link-arrow">Todos Imóveis</a>
                </header>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Rent</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-09.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 11,000</div>
                                        <h3>3398 Lodgeville Road</h3>
                                        <figure>Golden Valley, MN 55427</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>2</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>2</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>0</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">Under Offer</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-03.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 38,000</div>
                                        <h3>2186 Rinehart Road</h3>
                                        <figure>Doral, FL 33178 </figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 325,000</div>
                                        <h3>3705 Brighton Circle Road</h3>
                                        <figure>Glenwood, MN 56334</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Sale</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-01.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 16,000</div>
                                        <h3>362 Lynn Ogden Lane</h3>
                                        <figure>Galveston, TX 77550</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-02.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 18,000</div>
                                        <h3>2506 B Street</h3>
                                        <figure>New Brighton, MN 55112</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>280m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>2</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <figure class="tag status">For Rent</figure>
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-12.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 136,000</div>
                                        <h3>3990 Late Avenue</h3>
                                        <figure>Kingfisher, OK 73750</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>30m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>0</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-05.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 12,680</div>
                                        <h3>297 Marie Street</h3>
                                        <figure>Towson, MD 21204 </figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="property-detail.html">
                                <div class="property-image">
                                    <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-10.jpg">
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">$ 12,800</div>
                                        <h3>64 Timberbrook Lane</h3>
                                        <figure>Denver, CO 80202</figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>1</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row-->
            </div><!-- /.container-->
        </section><!-- /#new-properties-->
        <!--<section id="partners" class="block">
            <div class="container">
                <header class="section-title"><h2>Nossos Parceiros</h2></header>
                <div class="logos">
                    <div class="logo"><a href=""><img src="<?php echo $this->basePath(); ?>/assets/img/logo-partner-01.png" alt=""></a></div>
                    <div class="logo"><a href=""><img src="<?php echo $this->basePath(); ?>/assets/img/logo-partner-02.png" alt=""></a></div>
                    <div class="logo"><a href=""><img src="<?php echo $this->basePath(); ?>/assets/img/logo-partner-03.png" alt=""></a></div>
                    <div class="logo"><a href=""><img src="<?php echo $this->basePath(); ?>/assets/img/logo-partner-04.png" alt=""></a></div>
                    <div class="logo"><a href=""><img src="<?php echo $this->basePath(); ?>/assets/img/logo-partner-05.png" alt=""></a></div>
                </div>
            </div>
        </section>--><!-- /#partners -->
    </div>
  <!-- end Page Content -->