<div class="navegacao">
    <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
    <?php if (isset($cat)) { ?>
        <a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span> 
        <?php foreach ($categoriaatual as $cat_atual) { ?>
        <a href="<?php echo $this->url('home') ?>application/index/produtos/cat/<?php echo $cat_atual['id']; ?>/categoria/<?php echo $cat_atual['nome']; ?>" class="link_ativo" ><?php echo $cat_atual['nome']; ?></a>
         <?php } ?>
    <?php } else { ?>
        <a class="link_ativo" href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> 
    <?php } ?>
</div>

<div class="produtos_promocao">
    <?php if (isset($cat)) { ?>
        <?php foreach ($categoriaatual as $cat_atual) { ?>
            <h2><?php echo $cat_atual['nome']; ?> <img src="<?php echo $this->basePath(); ?>/img/seta_baixov.gif" /></h2>
        <?php } ?>
    <?php } ?>
    <div class="ordernar">
        <p>ORDENAR POR: </p>
        <form  method="post">
            <select name="parametro">
                <option>MAIS VENDIDO</option>
                <option>MENOR PREÇO</option>
                <option>MAIOR PREÇO</option>
            </select>
        </form>
    </div>
</div>
<div class="clear"></div>
<?php foreach ($produtos as $produto) { ?>
    <div class="produto_simples">
        <div class="box_img_produto">
            <a href="<?php echo $this->url('home') ?>application/index/produto/id/<?php echo $produto['id']; ?>/n/<?php echo $produto['nome']; ?>">
                <div class="esconde_img_produto">
                    <img style="height: 168px;" src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produto['imagem']; ?>" />
                </div>
            </a>
        </div>
        <div class="box_detalhes_produto">
            <h1><?php echo $produto['nome']; ?></h1>
            <div class="clear"></div>
            <h3><?php echo substr(strip_tags($produto['descricao']), 0, 60); ?></h3>
            <div class="clear"></div>
            <hr/>
            <a href="<?php echo $this->url('home') ?>application/index/produto/id/<?php echo $produto['id']; ?>/n/<?php echo $produto['nome']; ?>">+ Detalhes</a>
            <span><?php echo number_format($this->escapeHtml($produto['preco']), 2, ",", "."); ?></span>
            <p>PREÇO<br/>A VISTA</p>
        </div>
    </div>
<?php } ?>

<div class="clear"></div>

