<div class="corpo_blogs">
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">BLOGS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>	
<?php foreach($blogs as $blog){ ?>	
		<div class="blogger">
			<div class="img-blogger">
				<center><img height="295px" src="<?php echo $this->basePath(); ?>/data/portifolios/<?php echo $blog['imagem']; ?>"></center>
			</div>
			<div class="espaco-3"></div>
			<h1 class="titulo-blogger"><?php echo $blog['titulo']; ?></h1>
			<div class="espaco-4"></div>
			<p><?php echo strip_tags(substr($blog['texto'],0,150)); ?> ...</p>
			<center>
				<a href="<?php echo $this->basePath(); ?>/application/index/blog/id/<?php echo $blog['id']; ?>/<?php echo str_replace(" ", "-", $blog['titulo']); ?>">
					<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
				</a>
			</center>			
		</div>
<?php } ?>	
</div>	