<style>
.sem-resultado{
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #3F3F40;
}
</style>
<div class="corpo_estagios-2">
	<div class="espaco-1"></div>
	<center class="sem-resultado">Exibindo todos os resultados de "<?php echo $_POST['palavra']; ?>":</center>
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">AGENDA DE EVENTOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$a=0;
foreach($agenda as $age){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $age['nome']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($age['descricao'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $a++; }
	if($a==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>
	
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">EVENTOS ACADÊMICOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$b=0;
foreach($evento as $eve){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $eve['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $eve['nome']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($eve['descricao'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $eve['id']; ?>/<?php echo str_replace(" ", "-", $eve['nome']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $b++; }
	if($b==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>	

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">ESTÁGIOS ACADÊMICOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$c=0;
foreach($estagios as $estagio){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $estagio['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $estagio['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($estagio['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/estagio/id/<?php echo $estagio['id']; ?>/<?php echo str_replace(" ", "-", $estagio['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $c++; }
	if($c==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>	

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">SERVIÇOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$d=0;
foreach($servicos as $servico){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/servicos/<?php echo $servico['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $servico['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($servico['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/servico/id/<?php echo $servico['id']; ?>/<?php echo str_replace(" ", "-", $servico['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $d++; }
	if($d==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">IMÓVEIS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$e=0;
foreach($imoveis as $imovel){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $imovel['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $imovel['nome']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($imovel['descricao'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/imovel/id/<?php echo $imovel['id']; ?>/<?php echo str_replace(" ", "-", $imovel['nome']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $e++; }
	if($e==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">VAGAS DE EMPREGO</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$f=0;
foreach($vagas as $vaga){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/vagas/<?php echo $vaga['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $vaga['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($vaga['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/vaga/id/<?php echo $vaga['id']; ?>/<?php echo str_replace(" ", "-", $vaga['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $f++; }
	if($f==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">FORMANDOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$g=0;
foreach($formandos as $formando){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $formando['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $formando['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($formando['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/formandodetalhes/id/<?php echo $formando['id']; ?>/<?php echo str_replace(" ", "-", $formando['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $g++; }
	if($g==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">TUTORIAIS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$h=0;
foreach($tutoriais as $tutorial){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/tutoriais/<?php echo $tutorial['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $tutorial['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($tutorial['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/tutorial/id/<?php echo $tutorial['id']; ?>/<?php echo str_replace(" ", "-", $tutorial['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $h++; }
	if($h==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">NOTÍCIAS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$i=0;
foreach($noticias as $not){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/posts/<?php echo $not['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $not['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($not['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/post/id/<?php echo $not['id']; ?>/<?php echo str_replace(" ", "-", $not['titulo']); ?>">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $i++; }
	if($i==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>

	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">BLOGS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
<?php
$j=0;
foreach($blogs as $blog){ ?>	
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/portifolios/<?php echo $blog['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $blog['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($blog['texto'],0,200)); ?> ...</p>
			<a href="<?php echo $blog['iframe']; ?>" target="blank">
				<img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg">
			</a>
		</div>
<?php $j++; }
	if($j==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
<?php } ?>
</div>