<script src="ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

<!-- jQuery Form Validation code -->
<script>

    // When the browser is ready...
    $(function() {

        // Setup form validation on the #register-form element
        $("#depoimento-form").validate({
            // Specify the validation rules
            rules: {
                nome: "required",
                depoimento: "required",                
            },
            // Specify the validation error messages
            messages: {
                nome: "Por favor digite o seu nome",
                depoimento: "Por favor digite o seu depoimento",
            },
            submitHandler: function(form) {
                form.submit();
            }
        });

    });


</script>

<style>
    label { display: block; margin-top: 10px; }
    label.error { float: left;
                  color: red;
                  font-size: 12px;
                  margin-right: -72px;
                  margin-left: 10px; }
    </style>
    <div class="clear"></div>
<div class="clear"></div>
<div class="box_pagina">
    <div class="conteudo_pagina">

        <div class="clear"></div>
        <div class="form_contato">
            <h1>Cadastro</h1>
            <div class="clear"></div>
            <p>Cadastre aqui o seu depoimento</p>
            <form id="depoimento-form" action="" method="post">
                <input type="text" value="" id="nome" name="nome" placeholder="Nome" class="nome_contato" />
                <input type="text" value="" id="depoimento" name="depoimento"  placeholder="Depoimento" class="nome_contato" />
                <!--<textarea name="depoimento" rows="4" cols="20"></textarea>-->
                <div class="clear"></div>
                <input type="submit" value="" class="btn_enviar" />
            </form>
        </div>

    </div>
</div>


<div class="clear"></div>