<div style="width:100%; height:150px; clear:both;"></div>
<div id ="corpo_institucional" style="min-height:510px;">
<h1>CADASTRO</h1>
<p></p>	
	<form action="<?php echo $this->url('home') ?>application/index/cadastrarconta" method="post">
			<div style="width:590px; min-height:300px; float:left; margin-left:20px;">
						<input required placeholder=" Nome*" id="nome" type="text" name="nome">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input required placeholder=" Cpf*" id="nome" type="text" name="cpf">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" E-Mail*" type="email" name="email">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" Telefone*" type="text" name="telefone">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input  id="nome" required placeholder=" Senha*" type="password" name="senha">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input  id="nome" required placeholder=" Confirme a senha*" type="password" name="confirmasenha">
			</div>
			<img src="<?php echo $this->basePath(); ?>/imagens/divisa3.png" style="float:left;">
			<div style="width:590px; min-height:300px; float:right; margin-left:20px;">
						<input id="nome"required placeholder=" Cep*" type="text" name="cep">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome"required placeholder=" Rua*" type="text" name="rua">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" Número*" type="text" name="numero">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" Bairro*" type="text" name="bairro">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" Cidade*" type="text" name="cidade" value="Montes Claros">
							<div style="width:100%; height:10px; clear:both;"></div>
						<input id="nome" required placeholder=" Estado*" type="text" name="estado" value="MG">
			</div>
		<div style="clear:both;height: 20px;"></div>
		<input id="enviar" style="float:right; margin-right:20px;" type="submit" name="submit" value="Confirmar"> 
	</form>
	<div style="clear:both;height: 40px;"></div>
</div>
