<!--
<div style="width:100%; height:190px; clear:both;"></div>
<div id="corpo_cadastro" style="min-height:300px">
        <h1>CADASTRO</h1>
        <div style="width:100%; height:25px; clear:both;"></div>	
        <p>Para acessar sua conta ou realizar o cadastro é necessário escolher algum produto primeiro!</p>
        <div style="width:100%; height:10px; clear:both;"></div>
<center><a href="<?php echo $this->basePath(); ?>/application/index/promocoes" style="text-decoration:none; border-radius:5px; color:#fff; background: #005764;  font-family: DroidSerif; font-size: 25px; padding:15px;">ESCOLHER</a></center>	
        <div style="width:100%; height:30px; clear:both;"></div>	
</div>
-->
<div style="width:100%; height:190px; clear:both;"></div>
<div id="corpo_cadastro">
    <?php foreach ($paginas as $pagina) { ?>
        <h1><?php echo $pagina['titulo']; ?></h1>
        <div style="width:100%; height:25px; clear:both;"></div>	
        <p><?php echo strip_tags($pagina['texto']); ?></p>
        <div style="width:100%; height:80px; clear:both;"></div>	
    <?php } ?>	
    <div id="lado_esq" style="margin-left:82px;">
        <img src="<?php echo $this->basePath(); ?>/imagens/cliente.png" style="float:left;"><h2>Já sou cliente e quero acessar a minha conta!</h2>
        <div style="width:100%; height:30px; clear:both;"></div>
        <form method="post" action="<?php echo $this->url('home') ?>application/index/login2">
            <input required type="text" placeholder=" E-mail" id="nome" name="email" style="width:450px;">
            <div style="width:100%; height:5px; clear:both;"></div>
            <input required type="password" placeholder=" Senha" id="nome" name="senha" style="width:450px;">
            <div style="width:100%; height:10px; clear:both;"></div>
            <input type="submit" id="enviar" style="margin-left:0px;" value="ENTRAR">
        </form>		
    </div>
    <img src="<?php echo $this->basePath(); ?>/imagens/divisa3.png" style="float:left; margin-left:80px; margin-right:80px;">
    <div id="lado_esq">
        <img src="<?php echo $this->basePath(); ?>/imagens/novo_cliente.png" style="float:left;"><h2>Sou um novo cliente e quero me cadastrar!</h2>
        <div style="width:100%; height:50px; clear:both;"></div>
        <!--form method="post">
                <input required type="text" placeholder=" Nome Completo" id="nome" style="width:450px;">
                <div style="width:100%; height:5px; clear:both;"></div>
                <input required type="password" placeholder=" E-mail" id="nome" style="width:450px;">
                <div style="width:100%; height:10px; clear:both;"></div>
                <input type="submit" id="enviar" style="margin-left:0px;" value="CADASTRAR">
        </form-->		
        <a style="margin-left:110px; text-decoration:none; padding:17px;" id="enviar" href="<?php echo $this->url('home') ?>application/index/cadastrarconta">CADASTRAR</a>
    </div>	
</div>