<style>
    .nome-area{
        width:448px;
        height:48px;
        background:#fff;
        font-family: Roboto-Regular;
        font-size:18px;
        color:#878787;	
        border:solid 1px #ccc;
    }
    .textarea-contato{
        width:548px;
        height:148px;
        background:#fff;
        font-family: Roboto-Regular;
        font-size:18px;
        color:#878787;	
        border:solid 1px #ccc;
    }
    .enviar-contato{
        width: 110px;
        height: 50px;
        float: left;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: Roboto-Regular;
        font-size: 18px;
        background: #007FA9;
    }	
</style>
<div class="corpo_blogs" style="min-height: 600px;">
    <div class="espaco-1"></div>
    <h1 class="titulo-pagina">CADASTRO</h1>
    <div class="linha-1"></div>
    <p>Os campos com * são obrigatórios.</p>
    <!--
    <div class="espaco-3"></div><div class="espaco-3"></div>
    <p style="font-family: Roboto-Light; font-size: 18px; color: #666666; line-height: 20px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>	
    -->
    <div class="espaco-3"></div><div class="espaco-3"></div>
    <form method="post" action="<?php echo $this->url('home') ?>application/index/cadastrar" class="form-contato">
        <input required name="nome" type="text" placeholder=" Nome*" class="nome-area" style="width:548px;">			
        <div style="width:100%; height:5px; clear:both;"></div>
        <input name="email" required type="email" placeholder=" E-mail*" class="nome-area" style="width:548px;">
        <div style="width:100%; height:5px; clear:both;"></div>
        <input required name="cpf" type="text" placeholder=" Cpf*" class="nome-area" style="width:548px;">
        <div style="width:100%; height:5px; clear:both;"></div>
        <input required name="senha" type="password" placeholder=" Senha*" class="nome-area" style="width:548px;">
        <div style="width:100%; height:5px; clear:both;"></div>
        <input required name="confirmasenha" type="password" placeholder=" Confirmar Senha*" class="nome-area" style="width:548px;">
        <div style="width:100%; height:5px; clear:both;"></div>
        <input required name="telefone" type="text" placeholder=" Telefone*" class="nome-area" style="width:548px;">
        <div style="width:100%; height:5px; clear:both;"></div>
        <div class="espaco-1"></div>
        <h1 class="titulo-pagina">ENDEREÇO</h1>
        <div class="linha-1"></div>
        <div style="width:100%; height:5px; clear:both;"></div>
        <input  required placeholder=" Cep*" type="text" name="cep" class="nome-area" style="width:548px;">
        <div style="width:100%; height:10px; clear:both;"></div>
        <input  required placeholder=" Rua*" type="text" name="rua" class="nome-area" style="width:548px;">
        <div style="width:100%; height:10px; clear:both;"></div>
        <input  required  placeholder=" Número*" type="text" name="numero" class="nome-area" style="width:548px;">
        <div style="width:100%; height:10px; clear:both;"></div>
        <input  required placeholder=" Bairro*" type="text" name="bairro" class="nome-area" style="width:548px;">
        <div style="width:100%; height:10px; clear:both;"></div>
        <input  required placeholder=" Cidade*" type="text" name="cidade" value="" class="nome-area" style="width:548px;">
        <div style="width:100%; height:10px; clear:both;"></div>
        <input  required placeholder=" Estado*" type="text" name="estado" value="" class="nome-area" style="width:548px;">

        <div style="width:100%; height:20px; clear:both;"></div>		
        <input type="submit" class="enviar-contato" name="submit" value="CADASTRAR">
        <input type="reset" style="margin-left:20px; background:#ddd; color:#868686;" class="enviar-contato" value="LIMPAR">
    </form>	
</div>	
