<div style="width:100%; height:150px; clear:both;"></div>
<div id="corpo_contato">
<h3 style="width: 100%; height: auto; color: #005764; font-size: 50px; font-family: DroidSerif; margin-bottom:40px;">Carrinho de Compras</h3>
                <?php //\Zend\Debug\Debug::dump($produtos); ?>
                <?php //\Zend\Debug\Debug::dump($produtos2); ?>
                <?php
                $cont = 0;
                $total = 0;
                ?>
                <?php if (sizeof($produtos) > 0) { ?>
                    <div class="cart-info" >
                        <table style="width:1240px; margin:auto; border:solid 1px #005764; border-radius:5px; font-family: DroidSerif;">
                            <tr>
                                <th style="color:#005764; padding-top:5px;">Imagem</th>
                                <th style="color:#005764; padding-top:5px;">Nome do Produto</th>
                                <!--th class="model">Categoria</th-->
                                <th style="color:#005764; padding-top:5px;">Quantidade</th>
                                <th style="color:#005764; padding-top:5px;">Ação</th>
                                <th style="color:#005764; padding-top:5px;">Preço Unitário</th>
                                <th style="color:#005764; padding-top:5px;">Total</th>
                            </tr>
                            <?php
                            foreach ($produtos as $id => $qtd):
                                ?>
                                <tr>
                                <!--<form id="form<?php echo $id; ?>" name="form<?php echo $id; ?>" action="<?php echo $this->url('home') ?>application/index/contato" method="post" >-->
                                    <td class="image">
										<a href="<?php echo $this->url('home') ?>application/index/produto/id/<?php echo $this->escapeHtml($id); ?>">
											<center>
												<img style="margin-left:11px;" title="Produto" src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produtos2[$id]['imagem']; ?>" width="100">
											</center>
										</a>
									</td>
                                    <td class="name"><center><input style="min-width:500px; background:transparent; border:none; color:#858585; text-align:center;" name="nome_pro" type="text" value="<?php echo $produtos2[$id]['nome']; ?>"></center></td>
                                    <!--td class="model"><?php echo $produtos2[$id]['marca']; ?></td-->
                                <td class="goods-page-quantity">
                                    <div class="product-quantity">
                                        <center>
										<form id="form<?php echo $id; ?>" name="form<?php echo $id; ?>" action="<?php echo $this->url('home') ?>application/index/carrinho" method="post" >
                                            <input type="text" size="1" value="<?php echo $qtd; ?>" name="qtde" class="span1">
                                            <input type="hidden" size="1" value="<?php echo $id; ?>" name="id" class="span1">
											<!--
                                            <input type="hidden" size="1" value="3" name="acao" class="span1">
                                            <input type="submit" size="1" value="  " class="" style="z-index:19999;width:25px;height: 25px;cursor:pointer;position:relative;background:transparent;border:none;">
                                            <img src="<?php echo $this->basepath(); ?>/imagens/atualizar.png" style="width:20px;margin-left: -26px;margin-top: 0px;">
											-->
                                        </form>
										</center>
                                    </div>
                                </td>
                                <!--</form>-->

                                <td class="total">
            <!--a href=""><img class="tooltip-test" title="Enviar Item" src="<?php echo $this->basePath(); ?>/imagens/update.png" alt=""></a-->
                                    <a href="<?php echo $this->url('home') ?>application/index/carrinho/acao/2/id/<?php echo $this->escapeHtml($id); ?>"><center><img class="tooltip-test" title="Remover Item"  src="<?php echo $this->basePath(); ?>/imagens/remove.png" alt=""></center></a>
                                </td>
                                <td class="price" style="text-align: center; color:#858585;">R$<?php
                                if ($produtos2[$id]['promocao'] == 1) {
                                    echo number_format($produtos2[$id]['preco_promocao'], 2, ",", ".");
                                } else {
                                    echo number_format($produtos2[$id]['preco'], 2, ",", ".");
                                }
                                ?></td>
                                <td class="total" style="text-align: center; color:#858585;">R$<?php
                                if ($produtos2[$id]['promocao'] == 1) {
                                    echo number_format($produtos2[$id]['preco_promocao'] * $qtd, 2, ",", ".");
                                } else {
                                    echo number_format($produtos2[$id]['preco'] * $qtd, 2, ",", ".");
                                }
                                ?></td>
                                </tr>
                                <?php
                                $cont++;
                            endforeach;
                            ?>
                        </table>
                    </div>
                <?php } else { ?>
                    <center><h4 style="color:#ff0000; font-family: DroidSerif; font-size:35px; margin-top:30px;">Carrinho vazio</h4></center>
                <?php } ?>
                <!--div class="cartoptionbox">
                <!--<h4 class="heading4"> Escolha a forma de entrega. </h4>-->
                <!--<input type="radio" class="radio">
                Use Coupon Code <br>
                <input type="radio" class="radio">
                Use Gift Voucher <br>
                <input type="radio" class="radio" checked="checked">
                Estimate Shipping & Taxes <br><br>
                <form class="form-vertical form-inline">
                    <h4 class="heading4">Entrega somente em Montes claros - MG.</h4>
                    <h4 class="heading4">Valor do frete é de R$ 5,00</h4>
                <!--<fieldset>
                    <div class="control-group">
                        <label  class="control-label">CEP</label>
                        <div class="controls">
                            <input type="text" name="cep" class="span3 cartcountry" />                       
                            <input type="submit" value="Verificar" class="btn btn-orange">
                        </div>
                    </div>
                </fieldset>>
            </form>
        </div-->
                <div class="container">
                    <div class="pull-right">
                        <div class="span4 pull-right">
                            <!--table class="table table-striped table-bordered ">
                                <tr>
                                    <td><span class="extra bold">Sub-Total :</span></td>
                                    <td><span class="bold">R$ <?php echo number_format($total, 2, ",", "."); ?></span></td>
                                </tr>
                                <tr>
                                    <td><span class="extra bold">Frete :</span></td>
                                    <td><span class="bold">R$ 5</span></td>
                                </tr>
                                <!--<tr>
                                    <td><span class="extra bold">VAT (18.2%) :</span></td>
                                    <td><span class="bold">$21.0</span></td>
                                </tr>>
                                <tr>
                                    <td><span class="extra bold totalamout">Total :</span></td>
                                    <td><span class="bold totalamout">R$ <?php echo number_format($total += 5, 2, ",", "."); ?></span></td>
                                </tr>
                            </table-->
                            <div style="width:100%; clear:both; height:10px;"></div>
                            <style>
								#botao_comp{
									text-decoration:none; 
									border-radius:5px; 
									color:#fff; 
									background: #005764;  
									font-family: DroidSerif; 
									font-size: 20px; 
									padding:10px;
									float:right
								}
                            </style>

                            <?php if ($cont != 0) { ?>
                                    <a href="<?php echo $this->url('home') ?>application/index/passo1" id="botao_comp">Prosseguir Compra</a>
                            <?php } ?>
                                <a href="<?php echo $this->url('home') ?>application/index/home" style="float:left;" id="botao_comp">Continuar Comprando</a>
                        </div>
                    </div>
                </div>
    <div style="width:100%; clear:both; height:10px;"></div>
</div>