<input type="text"  name="bairro" placeholder="Bairro ou região" id="bairro" list="bairro">
<datalist id="bairro">
    <?php foreach ($dados as $dado) { ?>
        <option value="<?php echo $dado['bairro']; ?>">
        <?php } ?>
</datalist> 