<select name="cidade" id="cidade" onchange="carregarBairros(this.value)">
    <option value="">Selecione a Cidade</option>
    <?php foreach ($dados as $dado) { ?>
        <option value="<?php echo $dado['cidade_id']; ?>"><?php echo $dado['desc_cidade']; ?>
        </option>
    <?php } ?>                               
</select>