

<div class="meio_institucional" >
    <div class="box_insitucional">
        <div style="width: 600px; float: left; margin-left: 20px;">
            <?php foreach ($paginas as $pagina) { ?>
                <h1><?php echo $pagina['titulo']; ?></h1>
                <div class="clear"></div>
                <p><?php echo strip_tags($pagina['texto']); ?></p>
            <?php } ?>
            <!--<div class="clear"></div>-->
        </div>
        <div class="imagens_casabonita">
            <?php foreach ($fotos as $foto) { ?>
                <a class="fancybox" href="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $foto['imagem']; ?>" data-fancybox-group="gallery" title="<?php echo $foto['legenda']; ?>"><img style="width: 600px;" src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $foto['imagem']; ?>" alt="" /></a>
                <?php } ?>
        </div>
    </div>
</div>