

<div class="meio_institucional" >
    <div class="box_insitucional">
        <?php foreach ($paginas as $pagina) { ?>
            <h1><?php echo $pagina['titulo']; ?></h1>
            <div class="clear"></div>
            <p><?php echo $pagina['texto']; ?></p>
        <?php } ?>
        <div class="clear"></div>

        <div class="imagens_casabonita">
            <?php foreach ($fotos as $foto) { ?>
                <a class="fancybox" href="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $foto['imagem']; ?>" data-fancybox-group="gallery" title="<?php echo $foto['legenda']; ?>"><img style="height: 190px;" src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $foto['imagem']; ?>" alt="" /></a>
                <?php } ?>
        </div>
    </div>
</div>