<div class="meio_institucional" style="min-height: 900px;">
    <div class="box_insitucional">
        <div class="box_contato">
            <?php foreach ($paginas as $pagina) { ?>
                <?php if ($pagina['id'] == 50) { ?>
                    <h1><?php echo $pagina['titulo']; ?></h1>
                    <div class="clear"></div>

                    <p><?php echo $pagina['texto']; ?></p>
                <?php } ?>
            <?php } ?>
                    <div class="clear"></div>
            <form>
                <input type="text" name="nome" value="" placeholder="NOME" class="txt_contato" />
                <input type="text" name="email" value="" placeholder="EMAIL" class="txt_contato" />
                <input type="text" name="assunto" value="" placeholder="ASSUNTO" class="txt_contato" />
                <textarea name="mensagem" rows="4" cols="20" class="msg_contato" placeholder="MENSAGEM"></textarea>
                <input type="submit" value="ENVIAR" class="btn_enviar" />
            </form>
            <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                <h2 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h2>
                <?php
                $_SESSION['msg']['msg'] = '';
            }
            ?>
        </div>
        <div class="clear"></div>
        <div class="box_mapa">
            <h3>ONDE ESTAMOS</h3>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.0188351173065!2d-43.880503225656085!3d-16.725912000303776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xab5345f45ca85f%3A0x738cb0e4f0bad427!2sIbituruna+Center+Shopping!5e0!3m2!1spt-BR!2sbr!4v1442845939019" width="1280" height="415" frameborder="0" style="border:0; float: left;    z-index: 1;" allowfullscreen></iframe>

        </div>
<!--        <div class="box_endereco_contato">
            <?php foreach ($configuracoes as $config) { ?>
                <?php if ($config['id'] == 10) { ?>
                    <div class="telefone_contato"><?php echo $config['parametro']; ?></div>
                <?php } ?> 
            <?php } ?> 
            <div class="clear"></div>
            <?php foreach ($configuracoes as $config) { ?>
                <?php if ($config['id'] == 9) { ?>
                    <div class="email_contato"><?php echo $config['parametro']; ?></div>
                <?php } ?> 
            <?php } ?> 
            <div class="clear"></div>
            <?php foreach ($configuracoes as $config) { ?>
                <?php if ($config['id'] == 14) { ?>
                    <div class="endenreco_contato">
                       <?php echo $config['parametro']; ?>
                    </div>
                <?php } ?> 
            <?php } ?> 
        </div>-->
    </div>
</div>