<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
               <div class="span9" style="float: left;">
                    <h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Seja Bem Vindo!</h3>  
                    <div style="width:100%; height:25px; clear:both;"></div>						
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/sair"> Sair</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                  <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Criar Galeria de Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                  <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                  <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Estágio</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Meu Currículo</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/curriculo">Currículo</a>                              
                            </li>                            
                        </ul>
                    </div>
                </div>
                <div style="float: left; margin-left: 20px; width: 1024px;" id="tabelaSite">
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Seu Curriculo</h3> 
                    <a href="<?php echo $this->url('home') ?>application/index/novocurriculo">Novo Curriculo</a>
                    <table style="text-align: left;line-height: 20px;" cellspacing="2" cellpadding="2" border="0" >
                        <thead>
                            <tr>
                                <th style="width: 30%;" >Objetivo Profissional</th>
                                <th style="width: 30%;" >Qualificações Profissionais simplificadad</th>
                                <th style="width: 30%;" >Arquivo</th>
                                <th style="width: 10%;"  class="center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($curriculos as $curriculo):                            
                                    ?>
                                    <tr>
                                        <td style="border-bottom: 1px solid #000;" ><?php echo $this->escapeHtml($curriculo['objetivo']); ?></td>
                                        <td style="border-bottom: 1px solid #000;" ><?php echo $curriculo['perfil']; ?></td>
                                        <td style="border-bottom: 1px solid #000;" ><a href="<?php echo $this->basePath(); ?>/data/curriculo/<?php echo $this->escapeHtml($curriculo['arquivo']); ?>">Curriculo</a></td>
                                        <td style="border-bottom: 1px solid #000;" class="center">                                           
                                            <a style="text-decoration: none; color: #000;" href="<?php echo $this->url('home') ?>application/index/novocurriculo/id/<?php echo $curriculo['id']; ?>" title="Editar" class="btn">Editar</a>
                                            <a style="text-decoration: none; color: #000;" href="<?php echo $this->url('home') ?>application/index/excluircurriculo/id/<?php echo $curriculo['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn">Excluir</a>
                                        </td>
                                    </tr>
                                <?php  endforeach; ?>
                    </table>
                </div>
                <div style="width:100%; height:20px; clear:both;"></div>	

            </div>
        </div>
    </section>
</div>