<?php foreach($produtos as $produto) { ?>
<div class="corpo_dicas" style="min-height: 500px;">
	<div class="espaco"></div>
	<h1><span style="text-transform:uppercase;"><?php echo $produto['nome']; ?></span></h1>
	<div class="espaco2"></div>
	<img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produto['imagem']; ?>" height="230px">
	<div class="espaco2"></div>
	<div class="nossa_historia">
		<p>
			<span>Descrição do produto:</span><br><br>
			<?php echo $produto['descricao']; ?>
		</p>
	</div>
	<div class="espaco2"></div>	
	<div class="nossa_historia">
		<p>
			<span>Detalhes do produto:</span><br><br>
			<?php echo $produto['caracteristicas']; ?>
		</p>
	</div>	
</div>
<?php } ?>
<div class="espaco3"></div>