<div class="corpo_dicas">
	<div class="espaco"></div>
	<h1>VEJAS AS DICAS QUE <span>SEPARAMOS PRA VOCÊ</span></h1>
	<div class="espaco2"></div>
	<?php foreach($dicas as $dica){ ?>
	<div class="dica">
		<h2><?php echo strip_tags($dica['titulo']); ?></h2>
		<div class="espacamento"></div>
		<p><?php echo strip_tags(substr($dica['texto'],0,275)); ?>...&nbsp;&nbsp;<a href="<?php echo $this->basePath(); ?>/application/index/dica/id/<?php echo $dica['id']; ?>/<?php echo str_replace(" ", "-", $dica['titulo']); ?>">Veja mais→</a></p>
	</div>
	<?php } ?>
</div>
<div class="espaco3"></div>