
<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
                <div class="span9" style="float: left;">
                    					
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Criar Galeria de Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Estágio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div style="width:100%; height:20px; clear:both;"></div>-->
                <div style="float: left; margin-left: 20px; width: 1028px;">
                    <h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Editar Meus Dados</h3>  
                    <div style="width:100%; height:25px; clear:both;"></div>	
                    <form class="form-horizontal" action="<?php echo $this->url('home') ?>application/index/editarconta" method="post">
                        <?php foreach ($cliente as $cli): ?>
                            <div class="span4" style="float:left;">
                                <div class="control-group">
                                    <label class="control-label" >Nome<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="hidden" name="id" class=""  value="<?php echo $cli['id']; ?>">
                                        <input type="text" id="nome" name="nome" class="" style="width: 300px;" value="<?php echo $cli['nome']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Cpf<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="cpf" class="" style="width: 300px;" value="<?php echo $cli['cpf']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >E-Mail<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="email" class="" style="width: 300px;" value="<?php echo $cli['email']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Telefone<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="telefone" class="" style="width: 300px;" value="<?php echo $cli['telefone']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Cep<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="cep" class="" style="width: 300px;" value="<?php echo $cli['cep']; ?>">
                                    </div>
                                </div>

                            </div>
                            <div class="span4" style="float:right;">

                                <div class="control-group">
                                    <label class="control-label" >Rua</label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="rua" class="" style="width: 300px;" value="<?php echo $cli['rua']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Numero</label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="numero" class="" style="width: 300px;" value="<?php echo $cli['numero']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Bairro</label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="bairro" class="" style="width: 300px;" value="<?php echo $cli['bairro']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Cidade<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="cidade" class="" style="width: 300px;" readonly="true" value="<?php echo $cli['cidade']; ?>">
                                    </div>
                                </div>
                                <div style="width:100%;height:10px;clear:both;"></div>
                                <div class="control-group">
                                    <label class="control-label" >Estado<span class="red">*</span></label>
                                    <div class="controls">
                                        <input type="text" id="nome" name="estado" class="" style="width: 300px;" readonly="true" value="<?php echo $cli['estado']; ?>">
                                    </div>
                                </div>

                            </div>
                            <div style="width:100%;height:5px;clear:both;"></div>
                            <input id="enviar" type="submit" name="submit" value="Salvar" style="float:right;"/> 
                        <?php endforeach; ?>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!--<div style="width:100%; height:150px; clear:both;"></div>
<div style="margin:auto; width:1280px; min-height:300px;background: transparent;font-family: DroidSerif;">
      breadcrumb   
    <div class="row">        
         Account Login
        <div class="span9">
            <h3 style="text-align:center;  color: #005764; font-size: 50px; font-family: DroidSerif; line-height: 50px;">Editar informações da sua conta !</h3>  
            <div style="width:100%;height:15px;clear:both;"></div>
            <div class="checkoutstep">
                <div class="row">
                    <form class="form-horizontal" action="<?php echo $this->url('home') ?>application/index/editarconta" method="post">
<?php foreach ($cliente as $cli): ?>
                                <div class="span4" style="float:left;">
                                    <div class="control-group">
                                        <label class="control-label" >Nome<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="hidden" name="id" class=""  value="<?php echo $cli['id']; ?>">
                                            <input type="text" id="nome" name="nome" class=""  value="<?php echo $cli['nome']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Cpf<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="cpf" class=""  value="<?php echo $cli['cpf']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >E-Mail<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="email" class=""  value="<?php echo $cli['email']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Telefone<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="telefone" class=""  value="<?php echo $cli['telefone']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Cep<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="cep" class=""  value="<?php echo $cli['cep']; ?>">
                                        </div>
                                    </div>

                                </div>
                                <div class="span4" style="float:right;">

                                    <div class="control-group">
                                        <label class="control-label" >Rua</label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="rua" class=""  value="<?php echo $cli['rua']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Numero</label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="numero" class=""  value="<?php echo $cli['numero']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Bairro</label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="bairro" class=""  value="<?php echo $cli['bairro']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Cidade<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="cidade" class="" readonly="true" value="<?php echo $cli['cidade']; ?>">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Estado<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="text" id="nome" name="estado" class="" readonly="true" value="<?php echo $cli['estado']; ?>">
                                        </div>
                                    </div>

                                </div>
                                <div style="width:100%;height:5px;clear:both;"></div>
                                <input id="enviar" type="submit" name="submit" value="Salvar" style="float:right;"/> 
<?php endforeach; ?>
                    </form>
                </div>
                 <a class="btn btn-orange pull-right">Continue</a>
            </div>
            <div style="width:100%;height:5px;clear:both;"></div>
        </div>        
       
    </div>
</div>
<div style="width:100%;height:10px;clear:both;"></div>-->
