<style>
.sem-resultado{
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #3F3F40;
}
</style>
<div class="corpo_estagios">
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">ESTÁGIOS ACADÊMICOS</h1>
	<div class="linha-1"></div>
	<div class="quadro-pesquisa-1">
	<div class="espaco-2"></div>
		<form method="post" class="form-quadro-pesquisa-1">
			<div class="cont-form-1">
				<div class="campo-1">
				CÓDIGO
					<input type="text" <?php if(isset($_POST['codigo'])){ echo "value='".$_POST['codigo']."'"; } ?> name="codigo">
				</div>
				<div class="campo-1">
				ESTADO
				<select required name="estado">
					<option value="">Selecionar</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AC"){ echo "selected"; } ?> value="AC">Acre</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AL"){ echo "selected"; } ?> value="AL">Alagoas</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AP"){ echo "selected"; } ?> value="AP">Amapá</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AM"){ echo "selected"; } ?> value="AM">Amazonas</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="BA"){ echo "selected"; } ?> value="BA">Bahia</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="CE"){ echo "selected"; } ?> value="CE">Ceará</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="DF"){ echo "selected"; } ?> value="DF">Distrito Federal</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="ES"){ echo "selected"; } ?> value="ES">Espirito Santo</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="GO"){ echo "selected"; } ?> value="GO">Goiás</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MA"){ echo "selected"; } ?> value="MA">Maranhão</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MS"){ echo "selected"; } ?> value="MS">Mato Grosso do Sul</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MT"){ echo "selected"; } ?> value="MT">Mato Grosso</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MG"){ echo "selected"; } ?> value="MG">Minas Gerais</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PA"){ echo "selected"; } ?> value="PA">Pará</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PB"){ echo "selected"; } ?> value="PB">Paraíba</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PR"){ echo "selected"; } ?> value="PR">Paraná</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PE"){ echo "selected"; } ?> value="PE">Pernambuco</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PI"){ echo "selected"; } ?> value="PI">Piauí</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RJ"){ echo "selected"; } ?> value="RJ">Rio de Janeiro</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RN"){ echo "selected"; } ?> value="RN">Rio Grande do Norte</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RS"){ echo "selected"; } ?> value="RS">Rio Grande do Sul</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RO"){ echo "selected"; } ?> value="RO">Rondônia</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RR"){ echo "selected"; } ?> value="RR">Roraima</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SC"){ echo "selected"; } ?> value="SC">Santa Catarina</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SP"){ echo "selected"; } ?> value="SP">São Paulo</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SE"){ echo "selected"; } ?> value="SE">Sergipe</option>
					<option <?php if(isset($_POST['estado']) && $_POST['estado']=="TO"){ echo "selected"; } ?> value="TO">Tocantins</option>
				</select>			
				</div>
				<div class="campo-1">
				NÍVEL ACADÊMICO
				<select required name="nivel_academico">
					<option value="">Selecionar</option>
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="FUNDAMENTAL INCOMPLETO"){ echo "selected"; } ?> value="FUNDAMENTAL INCOMPLETO">FUNDAMENTAL INCOMPLETO</option>
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="FUNDAMENTAL COMPLETO"){ echo "selected"; } ?> value="FUNDAMENTAL COMPLETO">FUNDAMENTAL COMPLETO</option>			
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="MÉDIO INCOMPLETO"){ echo "selected"; } ?> value="MÉDIO INCOMPLETO">MÉDIO INCOMPLETO</option>
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="MÉDIO COMPLETO"){ echo "selected"; } ?> value="MÉDIO COMPLETO">MÉDIO COMPLETO</option>
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="SUPERIOR INCOMPLETO"){ echo "selected"; } ?> value="SUPERIOR INCOMPLETO">SUPERIOR INCOMPLETO</option>
					<option <?php if(isset($_POST['nivel_academico']) && $_POST['nivel_academico']=="SUPERIOR COMPLETO"){ echo "selected"; } ?> value="SUPERIOR COMPLETO">SUPERIOR COMPLETO</option>
				</select>
				</div>
				<div class="espaco-3"></div>
				<div class="campo-1">
				PALAVRA CHAVE
					<input type="text" <?php if(isset($_POST['palavra_chave'])){ echo "value='".$_POST['palavra_chave']."'"; } ?> name="palavra_chave">
				</div>
				<div class="campo-1">
				CIDADE
					<input type="text" <?php if(isset($_POST['cidade'])){ echo "value='".$_POST['cidade']."'"; } ?> name="cidade">
				</div>	
				<div class="campo-1">
				ÁREA PROFISSIONAL
					<input type="text" <?php if(isset($_POST['area_profissional'])){ echo "value='".$_POST['area_profissional']."'"; } ?> name="area_profissional">
				</div>
			</div>	
			<div class="cont-form-2">
				<input type="reset" class="reset">			
				<input type="submit" class="submit">			
			</div>			
		</form>
	</div>
</div>
<div class="corpo_estagios-2">
<div class="espaco-1"></div>
	<?php if(isset($_POST['codigo']) || isset($_POST['estado']) || isset($_POST['nivel_academico']) || isset($_POST['palavra_chave']) || isset($_POST['cidade']) || isset($_POST['area_profissional'])){ ?>
	<h1 class="titulo-pagina">RESULTADOS DA BUSCA:</h1>
	<div class="espaco-3"></div>		
	<?php }
	$w=0;
	foreach($estagios as $estagio){ ?>
		<div class="estagio">
			<div class="img-estagio">
				<img src="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $estagio['imagem']; ?>">
			</div>
			<h1 class="titulo-estagio"><?php echo $estagio['titulo']; ?></h1>
			<p class="texto-estagio"><?php echo strip_tags(substr($estagio['texto'],0,250)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/estagio/id/<?php echo $estagio['id']; ?>/<?php echo str_replace(" ", "-", $estagio['titulo']); ?>"><img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg"></a>
		</div>
	<?php $w++; }
	if($w==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
	<?php } ?>	
</div>