<!-- Add jQuery library 
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/lib/jquery-1.10.1.min.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
	$(document).ready(function() {
		/*
		 *  Simple image gallery. Uses default settings
		 */
		$('.fancybox').fancybox();
	});
</script>
<style type="text/css">
	.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #000;
	}
</style>

<?php foreach($estagios as $estagio){ ?>
<div class="corpo_formandos" style="min-height: 551px;">
	<div class="espaco-1"></div>		
	<h1 class="titulo-pagina" style="width:160x; float:left;">MAIS DETALHES : <span style="text-transform:uppercase"><?php echo $estagio['titulo']; ?></span></h1>
	<div class="linha-1"></div>
	<div class="espaco-1"></div>	
<h1 class="titulo-tutorial">CÓDIGO DO ESTÁGIO: <span style="color:#3F3F3F;"><?php echo $estagio['codigo']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">ESTADO DO ESTÁGIO: <span style="color:#3F3F3F;"><?php echo $estagio['estado']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">NIVEL ACADÊMICO DO ESTÁGIO: <span style="color:#3F3F3F;"><?php echo $estagio['nivel']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">CIDADE DO ESTÁGIO: <span style="color:#3F3F3F;"><?php echo $estagio['cidade']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">ÁREA PROFISSIONAL DO ESTÁGIO: <span style="color:#3F3F3F;"><?php echo $estagio['area']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">DESCRIÇÃO DO ESTÁGIO: </h1>
<p class="texto-tutorial" style="width:100%; height:auto;"><?php echo strip_tags($estagio['texto']); ?></p>
<div class="espaco-3"></div><div class="espaco-3"></div>
<h1 class="titulo-tutorial">IMAGEM DO ESTÁGIO: </h1>
<div class="espaco-3"></div>
<div class="blogger" style="height: 275px;">
<a class="fancybox" href="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $estagio['imagem']; ?>" data-fancybox-group="gallery">
	<div class="formando-img"><center><img height="215px" src="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $estagio['imagem']; ?>"></center></div>
</a>	
</div>
</div>	
<?php } ?>	