<?php foreach($agenda as $age){ ?>
<div class="corpo_formandos" style="min-height: 551px;">
	<div class="espaco-1"></div>		
	<h1 class="titulo-pagina" style="width:160x; float:left;">MAIS DETALHES : <span style="text-transform:uppercase"><?php echo $age['nome']; ?></span></h1>
	<div class="linha-1"></div>
	<div class="espaco-1"></div>	
<h1 class="titulo-tutorial">DATA DO EVENTO: <span style="color:#3F3F3F;"><?php echo $age['dia']; ?>/<?php if($age['mes']<10){ echo "0".$age['mes']; }else{ echo $age['mes']; } ?>/<?php echo $age['ano']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">LOCAL DO EVENTO: <span style="color:#3F3F3F;"><?php echo $age['localidade']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">DESCRIÇÃO DO EVENTO: </h1>
<p class="texto-tutorial" style="width:100%; height:auto;"><?php echo strip_tags($age['descricao']); ?></p>
</div>	
<?php } ?>	