<style>
    .sem-resultado{
        font-family: Roboto-Regular;
        font-size: 24px;
        color: #3F3F40;
    }
</style>
<div class="corpo_eventos">
    <div class="espaco-1"></div>
    <h1 class="titulo-pagina" style="width:160x; float:left;">EVENTOS ACADÊMICOS</h1>
    <form id="myForm" name="ano" method="post" class="eventos-form">
        <select onchange="this.form.submit()" name="ano" class="eventos-select">
            <option onclick="myFunction()" <?php
            if ($ano == 2014) {
                echo "selected";
            }
            ?> value="2014">2014</option>
            <option onclick="myFunction()" <?php
            if ($ano == 2015) {
                echo "selected";
            }
            ?> value="2015">2015</option>
            <option onclick="myFunction()" <?php
            if ($ano == 2016) {
                echo "selected";
            }
            ?> value="2016">2016</option>
            <option onclick="myFunction()" <?php
            if ($ano == 2017) {
                echo "selected";
            }
            ?> value="2017">2017</option>
        </select>			
    </form>

    <script>
        $(function () {
            $(".eventos-form").change(function (e) {
                this.form.submit();
            });
        });
        $(function () {
            $('.eventos-form').on("change", "#marca", function (e) {
                this.form.submit();
            });
        });
    </script>	
    
  	

    <div class="linha-1"></div>
    <div class="espaco-1"></div>
    <!-- inicio codigo do tabs -->
    <script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/simple-tabs/js/simpletabs_1.3.js"></script>
    <style type="text/css" media="screen">
        /*@import "<?php echo $this->basePath(); ?>/js/simple-tabs/css/style.css";*/
        @import "<?php echo $this->basePath(); ?>/js/simple-tabs/css/simpletabs.css";
    </style>
    <?php if (isset($_POST['ano'])) { ?>
        <div class="simpleTabs">
            <ul class="simpleTabsNavigation">
                <li><a class="Janeiro" href="">JAN</a></li>
                <li><a class="Fevereiro" href="">FEV</a></li>
                <li><a class="Marco" href="">MAR</a></li>
                <li><a class="Abril" href="">ABR</a></li>
                <li><a class="Maio" href="">MAI</a></li>
                <li><a class="Junho" href="">JUN</a></li>
                <li><a class="Julho" href="">JUL</a></li>
                <li><a class="Agosto" href="">AGO</a></li>
                <li id="Setembro"><a class="Setembro"  href="">SET</a></li>
                <li><a class="Outubro" href="">OUT</a></li>
                <li><a class="Novembro" href="">NOV</a></li>
                <li><a class="Dezembro" href="">DEZ</a></li>
            </ul> 
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont1 = 0;
                foreach ($evento as $age) {
                   
                    if ($age['mes'] == 1) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>				
                        </div>
                        <?php
                        $cont1++;
                    }
                }
                if ($cont1 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Janeiro de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont2 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 2) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont2++;
                    }
                }
                if ($cont2 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Fevereiro de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont3 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 3) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont3++;
                    }
                }
                if ($cont3 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Março de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont4 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 4) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont4++;
                    }
                }
                if ($cont4 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Abril de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont5 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 5) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>				
                        </div>
                        <?php
                        $cont5++;
                    }
                }
                if ($cont5 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Maio de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont6 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 6) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont6++;
                    }
                }
                if ($cont6 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Junho de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont7 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 7) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont7++;
                    }
                }
                if ($cont7 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Julho de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont8 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 8) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont8++;
                    }
                }
                if ($cont8 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Agosto de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont9 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 9) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont9++;
                    }
                }
                if ($cont9 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Setembro de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont10 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 10) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont10++;
                    }
                }
                if ($cont10 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Outubro de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont11 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 11) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>					
                        </div>
                        <?php
                        $cont11++;
                    }
                }
                if ($cont11 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Novembro de <?php echo $_POST['ano']; ?>.</center>
                <?php } ?>
            </div>
            <div class="simpleTabsContent">
                <div class="espaco-1"></div>
                <?php
                $cont12 = 0;
                foreach ($evento as $age) {
                    if ($age['mes'] == 12) {
                        ?>
                        <div class="agenda">
                            <div class="agenda-img"><center><img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $age['imagem']; ?>" height="233px"></center></div>
                            <h2 class="agenda-data"><?php echo $age['dia']; ?>/<?php
                                if ($age['mes'] < 10) {
                                    echo "0" . $age['mes'];
                                } else {
                                    echo $age['mes'];
                                }
                                ?><br><?php echo $age['ano']; ?></h2>
                            <h1 class="agenda-titulo"><?php echo $age['nome']; ?></h1>
                            <p class="agenda-local"><?php echo $age['localidade']; ?></p>	
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventofotos/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
                            <a href="<?php echo $this->basePath(); ?>/application/index/eventodetalhes/id/<?php echo $age['id']; ?>/<?php echo str_replace(" ", "-", $age['nome']); ?>"><img class="agenda-link" style="margin-left:10px" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>				
                        </div>
                        <?php
                        $cont12++;
                    }
                }
                if ($cont12 == 0) {
                    ?>
                    <center class="sem-resultado">Nenhum evento programado para Dezembro de <?php echo $_POST['ano']; ?>.</center>
                    <?php } ?>
            </div>	
        </div>
    <?php } ?>
    <!-- fim codigo do tabs -->
</div>	