<!-- Add jQuery library 
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/lib/jquery-1.10.1.min.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
	$(document).ready(function() {
		/*
		 *  Simple image gallery. Uses default settings
		 */
		$('.fancybox').fancybox();
	});
</script>
<style type="text/css">
	.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #000;
	}
</style>

<div class="corpo_formandos">
	<div class="espaco-1"></div>
<?php foreach($nome as $n){ ?>		
	<h1 class="titulo-pagina" style="width:160x; float:left;">GALERIA DE FOTOS : <span style="text-transform:uppercase"><?php echo $n['nome']; ?></span></h1>
<?php } ?>	
	<div class="linha-1"></div>
	<div class="espaco-1"></div>	
<?php foreach($galeria as $gal){ ?>	
	<div class="blogger" style="height: 275px;">
	<a class="fancybox" title="<?php echo $gal['legenda']; ?>" href="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $gal['imagem']; ?>" data-fancybox-group="gallery">
		<div class="formando-img"><center><img height="215px" src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $gal['imagem']; ?>"></center></div>
	</a>	
		<div class="espaco-3"></div>
		<h1 class="titulo-blogger"><?php echo $gal['legenda']; ?></h1>
	</div>
<?php } ?>	
</div>	