<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÁ EM</span> <span style="color:#FFF">FINANCIAMENTO</span>
    </div>
</div>

<div class="wrapper-990 classe_oficina" style="margin-top:50px; margin-bottom:50px; min-height:210px; color:#000">
    <div  id="titulo">FINANCIAMENTO</div> 
    <div id="oficina_texto">
        <?php
        foreach ($empresa as $emp) {

            echo $emp['texto'];
        }
        ?>
    </div>
    <div>
        <form method="POST" name="form2" action="">
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>

                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nome" id="nome" maxlength="60" placeholder="Nome" /></div>
                            </div>                                
                        </td>
                    </tr>
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="email" id="email" maxlength="60" placeholder="E-mail" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="telefone" id="telefone" maxlength="60" placeholder="Telefone" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos " >
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="cidade_estado" id="cidade_estado" maxlength="60" placeholder="Cidade/Estado" /></div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    Modelo:
                                    <select name="modelo">
                                        <?php foreach ($motos as $moto): ?>
                                            <option><?php echo $moto['nome']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <!--<input class="campo_medio input-text" type="text" value="" name="moto" id="moto" maxlength="60" placeholder="Moto" />-->
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos " style="margin-top: 25px;">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="entrada" id="entrada" maxlength="60" placeholder="Valor da Entrada" />
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;" > 
                            <div ></div>
                            <div class="container_campos "   >
                                <div class="container_campo" >
                                     Parcelamento:
                                    <select name="parcela">                                        
                                            <option>12</option>
                                            <option>24</option>
                                            <option>36</option>
                                            <option>48</option>                                        
                                    </select>
                                </div>
                            </div>
                    </tr>
                    
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                           <div class="container_campos container_grande" style="margin-top: 25px;">
                                <div class="container_campo">
                                    <textarea name="observacoes" class="campo_grande input-text" id="observacoes" placeholder="Observacoes" style="height:90px;"></textarea>
                                </div>
                            </div>
                    </tr>

                                      
                </tbody>
            </table>
            <div style="clear: both;"></div><br/><br/><br/>

            <input style="float:left; border:none !important;" type="image" src="<?php echo $this->basePath(); ?>/images/bt_enviar.png" id="bt_enviar" name="enviar" value="Enviar">

        </form>
    </div>
    <div style="width:100%; float:left; height:10px; "></div>


</div>
<div style="clear:both"></div>
