<?php foreach($agenda as $estagio){ ?>
<div class="corpo_formandos" style="min-height: 551px;">
	<div class="espaco-1"></div>		
	<h1 class="titulo-pagina" style="width:160x; float:left;">MAIS DETALHES : <span style="text-transform:uppercase"><?php echo $estagio['titulo']; ?></span></h1>
	<div class="linha-1"></div>
	<div class="espaco-1"></div>	
<h1 class="titulo-tutorial">ESTADO DO FORMANDO: <span style="color:#3F3F3F;"><?php echo $estagio['estado']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">CIDADE DO FORMANDO: <span style="color:#3F3F3F;"><?php echo $estagio['cidade']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">FACULDADE/UNIVERSIDADE DO FORMANDO: <span style="color:#3F3F3F;"><?php echo $estagio['facul']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">CURSO DO FORMANDO: <span style="color:#3F3F3F;"><?php echo $estagio['curso']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">ANO DE CONCLUSÃO DO CURSO: <span style="color:#3F3F3F;"><?php echo $estagio['ano']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">TEXTO DO FORMANDO: </h1>
<p class="texto-tutorial" style="width:100%; height:auto;"><?php echo strip_tags($estagio['texto']); ?></p>
<div class="espaco-3"></div>
</div>
<?php } ?>