<style>
    .sem-resultado{
        font-family: Roboto-Regular;
        font-size: 24px;
        color: #3F3F40;
    }
</style>
<div class="corpo_formandos">
    <div class="espaco-1"></div>
    <h1 class="titulo-pagina" style="width:160x; float:left;">FORMANDOS</h1>
    <form method="post" class="formandos-form">
        <select name="estado" required class="formandos-select" style="width: 148px;">
            <option value="">ESTADO</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "AC") {
                echo "selected";
            }
            ?> value="AC">AC</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "AL") {
                echo "selected";
            }
            ?> value="AL">AL</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "AP") {
                echo "selected";
            }
            ?> value="AP">AP</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "AM") {
                echo "selected";
            }
            ?> value="AM">AM</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "BA") {
                echo "selected";
            }
            ?> value="BA">BA</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "CE") {
                echo "selected";
            }
            ?> value="CE">CE</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "DF") {
                echo "selected";
            }
            ?> value="DF">DF</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "ES") {
                echo "selected";
            }
            ?> value="ES">ES</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "GO") {
                echo "selected";
            }
            ?> value="GO">GO</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "MA") {
                echo "selected";
            }
            ?> value="MA">MA</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "MS") {
                echo "selected";
            }
            ?> value="MS">MS</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "MT") {
                echo "selected";
            }
            ?> value="MT">MT</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "MG") {
                echo "selected";
            }
            ?> value="MG">MG</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "PA") {
                echo "selected";
            }
            ?> value="PA">PA</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "PB") {
                echo "selected";
            }
            ?> value="PB">PB</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "PR") {
                echo "selected";
            }
            ?> value="PR">PR</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "PE") {
                echo "selected";
            }
            ?> value="PE">PE</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "PI") {
                echo "selected";
            }
            ?> value="PI">PI</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "RJ") {
                echo "selected";
            }
            ?> value="RJ">RJ</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "RN") {
                echo "selected";
            }
            ?> value="RN">RN</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "RS") {
                echo "selected";
            }
            ?> value="RS">RS</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "RO") {
                echo "selected";
            }
            ?> value="RO">RO</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "RR") {
                echo "selected";
            }
            ?> value="RR">RR</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "SC") {
                echo "selected";
            }
            ?> value="SC">SC</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "SP") {
                echo "selected";
            }
            ?> value="SP">SP</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "SE") {
                echo "selected";
            }
            ?> value="SE">SE</option>
            <option <?php
            if (isset($_POST['estado']) && $_POST['estado'] == "TO") {
                echo "selected";
            }
            ?> value="TO">TO</option>
        </select>
        <select name="cidade" required class="formandos-select2">
            <option value="">CIDADE</option>
            <?php foreach ($cidades as $cidade) { ?>
                <option <?php
                if (isset($_POST['cidade']) && $_POST['cidade'] == $cidade['cidade']) {
                    echo "selected";
                }
                ?> value="<?php echo $cidade['cidade']; ?>"><?php echo $cidade['cidade']; ?></option>
                <?php } ?>
        </select>	
        <select name="facul" required class="formandos-select3">
            <option value="">FACUL./UNI.</option>
            <?php foreach ($anos as $ano) { ?>
                <option <?php
                if (isset($_POST['facul']) && $_POST['facul'] == $ano['facul']) {
                    echo "selected";
                }
                ?> value="<?php echo $ano['facul']; ?>"><?php echo $ano['facul']; ?></option>
                <?php } ?>
        </select>	
        <select name="curso" required class="formandos-select3">
            <option value="">CURSO</option>
            <?php foreach ($cursos as $curso) { ?>
                <option <?php
                if (isset($_POST['curso']) && $_POST['curso'] == $curso['curso']) {
                    echo "selected";
                }
                ?> value="<?php echo $curso['curso']; ?>"><?php echo $curso['curso']; ?></option>
                <?php } ?>
        </select>
        <select name="ano" required class="formandos-select4" style="width: 120px; float:left; margin-left:2px;">
            <option value="">ANO</option>
            <?php foreach ($anos as $ano) { ?>
                <option <?php
                if (isset($_POST['ano']) && $_POST['ano'] == $ano['ano']) {
                    echo "selected";
                }
                ?> value="<?php echo $ano['ano']; ?>"><?php echo $ano['ano']; ?></option>
                <?php } ?>

        </select>
        <input type="submit" class="botao_pesquisa_enviar" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; float:right;">		
    </form>
    <div class="linha-1"></div>
    <div class="espaco-1"></div>	
    <?php if (isset($_POST['estado'])) { ?>
        <h1 class="titulo-pagina">RESULTADOS DA BUSCA:</h1>
        <div class="espaco-3"></div>		
        <?php
    }
    $h = 0;
    foreach ($formandos as $formando) {
        ?>
        <div class="formando">
            <div class="formando-img"><center><img height="215px" src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $formando['imagem']; ?>"></center></div>
            <h1 class="formando-titulo"><?php echo $formando['titulo']; ?></h1>
            <p class="formando-texto"><?php echo strip_tags(substr($formando['texto'], 0, 150)); ?> ...</p>
            <a href="<?php echo $this->basePath(); ?>/application/index/formandofotos/id/<?php echo $formando['id']; ?>/<?php echo str_replace(" ", "-", $formando['titulo']); ?>"><img class="link" src="<?php echo $this->basePath(); ?>/imagens/galeria_fotos.jpg"></a>
            <a href="<?php echo $this->basePath(); ?>/application/index/formandodetalhes/id/<?php echo $formando['id']; ?>/<?php echo str_replace(" ", "-", $formando['titulo']); ?>"><img class="link" src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes2.jpg"></a>
        </div>
        <?php
        $h++;
    }
    if ($h == 0) {
        ?>
        <center class="sem-resultado">Nenhum Resultado Encontrado.</center>
        <?php } ?>	
</div>	