<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
                <div class="span9" style="float: left;">

                    <div style="width:100%; height:25px; clear:both;"></div>						
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Novo Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Estágio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="float: left; margin-left: 20px; width: 1024px;" id="tabelaSite">
                    <!--<h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Lista de Fotos</h3>--> 
                    <div class="actions clearfix">
                        <div class="btns">
                            <a  href="<?php echo $this->url('home') ?>application/index/fotosmeusformandossave/pagid/<?php echo $pagid; ?>" title="Adicionar foto">Adicionar foto</a>
                        </div>
                    </div>  
                    <label class="divisor"><span>Lista de fotos</span></label>
                    <table class="datatable">
                        <thead>
                            <tr>
                                <th>Legenda</th>
                                <th>Imagem</th>
                                <th width="120" class="center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($pagfotos as $pagfoto): ?>
                                <tr>
                                    <td><?php echo $this->escapeHtml($pagfoto['legenda']); ?></td>
                                    <td>
                                        <?php
                                        if ($pagfoto['pagina_id'] != '6') {
                                            ?>

                                            <img width="50px" style="float: left; margin-left: 20px; margin-bottom: 20px;" src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $this->escapeHtml($pagfoto['imagem']); ?>" />

                                            <?php
                                        } else {
                                            ?>

                                            <a href="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $this->escapeHtml($pagfoto['imagem']); ?>"> <?php echo $pagfoto['legenda']; ?> </a>

                                            <?php
                                        }
                                        ?>
                            <!--<img src="<?php echo $this->basePath() . '/data/paginas/' . $this->escapeHtml($pagfoto['imagem']); ?>" width="50px" />-->
                                        <?php //echo $this->escapeHtml($pagfoto['file']); ?>
                                    </td>

                                    <td class="center">
                                        <a href="<?php echo $this->url('home') ?>application/index/fotosmeusformandossave/id/<?php echo $pagfoto['id']; ?>" title="Editar" class="btn">Editar</a>
                                        <a href="<?php echo $this->url('home') ?>application/index/fotosmeusformandosexcluir/id/<?php echo $pagfoto['id']; ?>/pagid/<?php echo $pagfoto['pagina_id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn">Excluir</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                    </table>

                    <?php
                    echo $this->paginationControl(
                            $pagfotos, 'Sliding', 'partials/paginator/control.phtml'
                    );
                    ?>
                </div>
                <div style="width:100%; height:20px; clear:both;"></div>	
                <!-- Sidebar Start-->
                <aside class="span3">
                    <div class="sidewidt">
                        <!--<h3 class="heading3" style="color:#005764; font-size: 22px;">Conta</h3>-->
                        <div style="width:100%; height:5px; clear:both;"></div>	
                        <ul class="nav nav-list categories" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                            <!--<li>
                                <a style="text-decoration:none; color:#858585;"href="<?php echo $this->url('home') ?>application/index/minhaconta"> Minha Conta</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;"href="<?php echo $this->url('home') ?>application/index/editarconta">Editar Conta</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;"href="<?php echo $this->url('home') ?>application/index/mudarsenha">Mudar Senha</a>
                            </li>

                            <li><a style="text-decoration:none; color:#858585;"href="<?php echo $this->url('home') ?>application/index/pedidosconta">Histórico de Pedidos</a>
                            </li>
                            -->
                            <li>
                                <a style="text-decoration:none; color:#858585;"href="<?php echo $this->url('home') ?>application/index/sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- Sidebar End-->
            </div>
        </div>
    </section>
</div>