<script type="text/javascript">
    $(document).ready(function () {

        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        $('#mask').css({'width': maskWidth, 'height': maskHeight});

        $('#mask').fadeIn(1000);
        $('#mask').fadeTo("slow", 0.8);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        $('#dialog2').css('top', winH / 2 - $('#dialog2').height() / 2);
        $('#dialog2').css('left', winW / 2 - $('#dialog2').width() / 2);

        $('#dialog2').fadeIn(2000);

        $('.window .close').click(function (e) {
            e.preventDefault();

            $('#mask').hide();
            $('.window').hide();
        });

        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();
        });

    });
</script>

<style type="text/css">

    #mask {
        position:absolute;
        left:0;
        top:0;
        z-index:9000;
        background-color: #000;
        opacity: 50%;
        display:none;
    }

    #boxes .window {
        position:absolute;
        left:0;
        top:0;
        width:440px;
        height:297px;
        display:none;
        z-index:9999;
        padding:20px;
    }

    #boxes #dialog2 {
        background:transparent; 
        width:480px;
        margin:0 auto;
        margin-top:-160px;
    }

    .close{display:block; text-align:right;}

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #FFF;
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        color: #FFF;
    }
</style>
<div id="boxes">

    <!-- Janela Modal -->
    <div id="dialog2" class="window">
        <div align="right">
            <input type="button" value="" class="close" style="background: url(<?php echo $this->basePath(); ?>/img/btn_fechar.jpg) no-repeat center; border: none; width: 96px; height: 27px; cursor: pointer;"/>
        </div> 

        <img src="<?php echo $this->basePath(); ?>/img/bg_popup.jpg" width="479" height="262"  />
        <form method="post" style="    position: absolute; margin-top: -163px;">
            <input type="text" name="nome" value="" placeholder="Nome" style="    width: 266px;
                   margin-left: 32px;
                   height: 30px;
                   border: none;
                   margin-top: 2px;
                   font-size: 15px;
                   color: #FFF;
                   background: none;" />
            <input type="text" name="email" value="" placeholder="Email" style="    width: 269px;
                   height: 27px;
                   margin-left: 30px;
                   border: none;
                   background: none;
                   font-size: 15px;
                   margin-top: 9px;" />
            <div style="clear: both;"></div>
            <input type="submit" name="enviar" value="" style="    width: 127px;
                   margin-left: 28px;
                   margin-top: 21px;
                   cursor: pointer;
                   height: 37px;
                   border: none;
                   background: none;" />
        </form>
    </div>
    <!-- Fim Janela Modal-->

    <!-- Máscara para cobrir a tela -->
    <div id="mask"></div>

</div>
<div >
    <div id="allinone_bannerRotator_classic" style="display:none; ">
        <!-- IMAGES -->
        <ul class="allinone_bannerRotator_list">
            <?php foreach ($banners as $ban) { ?>
                <li ><img src="<?php echo $this->basePath(); ?>/data/banners/<?php echo $ban['imagem']; ?>" alt="<?php echo $ban['legenda']; ?>" /></li>
            <?php } ?>
        </ul>
    </div>

</div>


