﻿<style type="text/css">
html, body {
margin:0px;
padding:0px;
}
</style>
<link href="<?php echo $this->basePath(); ?>/js/bannerRotator/allinone_bannerRotator.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/js/bannerRotator/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="<?php echo $this->basePath(); ?>/js/bannerRotator/js/allinone_bannerRotator.js" type="text/javascript"></script>
<!--[if IE]><script src="js/excanvas.compiled.js" type="text/javascript"></script><![endif]-->
<!-- must have -->
	<script>
		jQuery(function() {
			jQuery('#allinone_bannerRotator_classic').allinone_bannerRotator({
				skin: 'classic',
				width: 1920,
				height: 600,
				width100Proc:true,
				showBottomNav: false,	
				showCircleTimer: false,
				responsive:true,
				thumbsWrapperMarginBottom:5
			});		
		});
	</script>
<div id="allinone_bannerRotator_classic" style="display:none;">
<!-- IMAGES -->
<ul class="allinone_bannerRotator_list">
<?php foreach($banners as $ban){ ?>
    <li data-text-id="#allinone_bannerRotator_photoText<?php echo $ban['id']; ?>"><img src="<?php echo $this->basePath(); ?>/data/banners/<?php echo $ban['imagem']; ?>" alt="" /></li>
<?php } ?>	
</ul>         
<?php foreach($banners as $ban){ ?>
<!-- TEXTS -->
<div id="allinone_bannerRotator_photoText<?php echo $ban['id']; ?>" class="allinone_bannerRotator_texts">
        <div class="allinone_bannerRotator_text_line textElement11_classic_FullWidth" data-initial-left="50" data-initial-top="10" data-final-left="50" data-final-top="60" data-duration="0.5" data-fade-start="0" data-delay="0" style="font-family: roboto-cond-light; font-size:50px; color:#006799;width:535px;margin-left:900px;"><?php echo $ban['legenda']; ?></div>
        <div class="allinone_bannerRotator_text_line textElement12_classic_FullWidth" data-initial-left="50" data-initial-top="10" data-final-left="50" data-final-top="170" data-duration="0.5" data-fade-start="0" data-delay="0.3"
		style="font-family: roboto-cond-light; font-size:25px; color:#7F7F7F;width:535px;line-height:30px;margin-left:900px;"><?php echo $ban['texto']; ?></div>
</div>  
<?php } ?>
                                               
</div>  
<div style="width:100%;height:60px;clear:both;"></div>	
<div id="corpo_home">

<?php foreach($paginas as $pagina){ 
if($pagina['id']==13){?>
<div id="texto_1">
<img src="<?php echo $this->basePath(); ?>/imagens/sobre_empresa.jpg" style="float:left;">
<div id="cont_texto_1">
<h3><?php echo strip_tags($pagina['titulo']); ?></h3>
<div style="width:100%;height:10px;clear:both;"></div>	
<p><?php echo strip_tags($pagina['texto']); ?></p>
<div style="width:100%;height:10px;clear:both;"></div>	
<a href="<?php echo $this->basePath(); ?>/application/index/empresa" style="text-decoration:none;"><div id="saiba">SAIBA MAIS</div></a>
</div>
</div>
<?php }} ?>

<?php foreach($paginas as $pagina){ 
if($pagina['id']==14){?>
<div id="texto_1">
<img src="<?php echo $this->basePath(); ?>/imagens/webmail.jpg" style="float:left;">
<div id="cont_texto_1">
<h3><?php echo strip_tags($pagina['titulo']); ?></h3>
<div style="width:100%;height:10px;clear:both;"></div>	
<p><?php echo strip_tags($pagina['texto']); ?></p>
<div style="width:100%;height:10px;clear:both;"></div>	
<form method="post">
<input id="web" type="text" required name="email_web" placeholder=" Email">
<div style="width:100%;height:5px;clear:both;"></div>	
<input id="web" type="text" required name="senha_web" placeholder=" Senha">
<div style="width:100%;height:10px;clear:both;"></div>	
<input type="submit" id="saiba" value="ACESSAR">
</form>
</div>
</div>
<?php }} ?>

<?php foreach($paginas as $pagina){ 
if($pagina['id']==15){?>
<div id="texto_1">
<img src="<?php echo $this->basePath(); ?>/imagens/news.jpg" style="float:left;">
<div id="cont_texto_1">
<h3><?php echo strip_tags($pagina['titulo']); ?></h3>
<div style="width:100%;height:10px;clear:both;"></div>	
<p><?php echo strip_tags($pagina['texto']); ?></p>
<div style="width:100%;height:10px;clear:both;"></div>	
<form method="post">
<input id="web" type="text" required name="nome_news" placeholder=" Nome Completo">
<div style="width:100%;height:5px;clear:both;"></div>	
<input id="web" type="text" required name="email_news" placeholder=" Email">
<div style="width:100%;height:10px;clear:both;"></div>	
<input type="submit" id="saiba" value="CADASTRAR">
</form>
</div>
</div>
<?php }} ?>

<?php foreach($paginas as $pagina){ 
if($pagina['id']==16){?>
<div id="texto_1">
<img src="<?php echo $this->basePath(); ?>/imagens/online.jpg" style="float:left;">
<div id="cont_texto_1">
<h3><?php echo strip_tags($pagina['titulo']); ?></h3>
<div style="width:100%;height:10px;clear:both;"></div>	
<p><?php echo strip_tags($pagina['texto']); ?></p>
<div style="width:100%;height:10px;clear:both;"></div>	
<form method="post">
<input id="web" type="text" required name="nome_online" placeholder=" Nome Completo">
<div style="width:100%;height:5px;clear:both;"></div>	
<input id="web" type="text" required name="assunto_online" placeholder=" Assunto">
<div style="width:100%;height:10px;clear:both;"></div>	
<input type="submit" id="saiba" value="CHAMAR">
</form>
</div>
</div>
<?php }} ?>

</div>	
<div style="width:100%;height:100px;clear:both;"></div>

<!-- inicio codigo do tabs -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/simple-tabs/js/simpletabs_1.3.js"></script>
<style type="text/css" media="screen">
/*@import "js/simple-tabs/css/style.css";*/
@import "<?php echo $this->basePath(); ?>/js/simple-tabs/css/simpletabs.css";
</style>

<div class="simpleTabs">
  <ul class="simpleTabsNavigation">
    <li><a href="#">ÚLTIMOS VÍDEOS</a></li>
    <li style="margin-left:20px;"><a href="#">ÚLTIMAS IMAGENS</a></li>
  </ul> 
  <div class="simpleTabsContent">
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/css/style2.css" />
<!--link rel="stylesheet" type="text/css" href="css/carousel.css" /-->
<div id="carousel" class="ca-container">
	<div class="ca-wrapper">  
<?php foreach($videos as $video){ ?>	
<div class="ca-item ca-item-1" 	style="left:20px;">
	<div id="ultimo_video">
	<iframe width="290" height="166" <?php echo substr($video['youtube'], 33, 700) ?>	
	<div style="width:100%;height:20px;clear:both;"></div>
	<h3><?php echo strip_tags($video['titulo']); ?></h3>
	<div style="width:100%;height:10px;clear:both;"></div>
	<p><?php echo strip_tags($video['descricao']); ?></p>
	</div>
</div>
<?php } ?>
	</div>
</div>
<!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script-->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jquery.mousewheel.js"></script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/jquery.contentcarousel.js"></script>
<script type="text/javascript">
	$('#carousel').contentcarousel();
</script>
  </div>
  
<div class="simpleTabsContent">
<div id="carousel2" class="ca-container">
<div class="ca-wrapper">  
<?php foreach($fotos as $foto){ ?>	
<div class="ca-item ca-item-1" 	style="left:20px;">
	<div id="ultimo_video">
	<img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $foto['imagem'] ?>" width="295px" height="166px">	
	<div style="width:100%;height:20px;clear:both;"></div>
	<!--h3>LOREM IPSUM DOLLOR</h3>
	<div style="width:100%;height:10px;clear:both;"></div-->
	<p><?php echo strip_tags($foto['legenda']); ?></p>
	</div>
</div>
<?php } ?>
</div>
</div>
<script type="text/javascript">
	$('#carousel2').contentcarousel();
</script>
</div>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div> 
</div>
</div>
<!-- fim codigo do tabs -->

<div style="width:100%;height:100px;clear:both;"></div>
<div id="corpo_home2">
<div id="ultimas_not">
<div id="ult_tit">ÚLTIMAS NOTÍCIAS</div>
<a href="<?php echo $this->basePath(); ?>/application/index/noticias"><div id="veja_tit">VEJA TODAS</div></a>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div>
<div id="cont_ult_not">
<?php foreach ($posts as $post){ ?>
<div id="not">
<img src="<?php echo $this->basePath(); ?>/data/posts/<?php echo $post['imagem']; ?>" style="float:left;margin-right:10px;">
<h2><?php echo implode ("/", array_reverse(explode("-", $post['autor']))); ?></h2>&nbsp;<h3><?php echo $post['titulo']; ?></h3>
<div style="width:100%;height:10px;"></div>
<p><?php echo substr(strip_tags($post['texto']), 0, 150); ?>...</p>
<div style="width:100%;height:10px;"></div>
<a href="<?php echo $this->url('home'); ?>application/index/post/id/<?php echo $post['id']; ?>">Leia Mais →</a>
</div>
<?php } ?>
</div>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div>
</div>
<div id="ultimos_eve">
<div id="ult_tit">ÚLTIMO EVENTOS</div>
<a href="<?php echo $this->basePath(); ?>/application/index/eventos"><div id="veja_tit">VER TODOS</div></a>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div>
<div id="cont_ult_eve">
<?php foreach($eventos as $evento){ ?>
<a href="<?php echo $this->basePath(); ?>/application/index/eve/id/<?php echo $evento['id']; ?>/<?php echo str_replace(" ", "-", $evento['nome']); ?>">
<div id="ult_eve">
<div style="width:145px;float:left;margin-right:10px;height:127px;overflow:hidden;"><img height="107px" src="<?php echo $this->basePath(); ?>/data/eventos/<?php echo $evento['imagem'] ?>"></div>
<div id="data_ult_evento"><?php if($evento['dia']<10){ echo "0".$evento['dia'];}else{ echo $evento['dia']; } ?>/<?php if($evento['mes']<10){ echo "0".$evento['mes'];}else{ echo $evento['mes']; } ?>/<?php echo $evento['ano']; ?></div>
<div id="tit_ult_evento"><?php echo $evento['nome']; ?></div>
<div id="desc_ult_evento"><?php echo substr(strip_tags($evento['depoimento']),0,50); ?>...</div>
</div>
</a>
<?php } ?></div>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div>
</div>
<div style="width:100%;height:100px;clear:both;"></div>
<div class="simpleTabs">
  <ul class="simpleTabsNavigation">
    <li><a href="#">PRODUTOS EM DESTAQUE</a></li>
    <li style="margin-left:20px;"><a href="#">SERVIÇOS EM DESTAQUE</a></li>
  </ul>
<div class="simpleTabsContent">
<div id="carousel3" class="ca-container">
<div class="ca-wrapper">  
<?php foreach($produtos as $produto){ ?>	
<a href="<?php echo $this->basePath(); ?>/application/index/detalhe/subcat/<?php echo $produto['subid']; ?>/id/<?php echo $produto['id']; ?>/<?php echo str_replace(" ", "-", $produto['nome']); ?>" style="text-decoration:none;">
<div class="ca-item ca-item-1" 	style="left:20px;">
	<div id="ultimo_video">
	<img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo strip_tags($produto['imagem']) ?>" height="166px">
<div id="titulo_loc" style="margin-top:-127px;width:295px;height:90px;color:#fff;line-height:22px;font-size:22px;"><span style="float:right;margin-top:15px;margin-right:20px;width:135px;"><?php echo strip_tags($produto['nome']); ?></span></div>	
	<div style="width:100%;height:50px;clear:both;"></div>
	<h3><?php echo strip_tags($produto['nome']); ?></h3>
	<div style="width:100%;height:10px;clear:both;"></div>
	<p><?php echo substr(strip_tags($produto['descricao']),0,120); ?>&nbsp;...</p>
	</div>
</div>
</a>
<?php } ?>
</div>
</div>
<script type="text/javascript">
	$('#carousel3').contentcarousel();
</script>
</div>
  
  
<div class="simpleTabsContent">
<div id="carousel4" class="ca-container">
<div class="ca-wrapper">  
<?php foreach($servicos as $servico){ ?>
<div class="ca-item ca-item-1" 	style="left:20px;">	
	<div id="ultimo_video">
	<img src="<?php echo $this->basePath(); ?>/data/portifolios/<?php echo $servico['imagem']; ?>" width="295px" height="166px">	
<div id="titulo_loc" style="margin-top:-127px;width:295px;height:90px;color:#fff;line-height:22px;font-size:22px;"><span style="float:right;margin-top:15px;margin-right:20px;width:135px;"><?php echo strip_tags($servico['titulo']); ?></span></div>	
	<div style="width:100%;height:50px;clear:both;"></div>
	<h3><?php echo strip_tags($servico['titulo']); ?></h3>
	<div style="width:100%;height:10px;clear:both;"></div>
	<p><?php echo substr(strip_tags($servico['texto']),0,150); ?>... &nbsp;<a style="font-family: roboto-regular;
text-decoration: none;
color: #006799;" href="<?php echo $this->basePath(); ?>/application/index/servico/id/<?php echo $servico['id']; ?>/<?php echo str_replace(" ", "-", $servico['titulo']); ?>">Saiba Mais→</a></p>
	</div>
</div>
<?php } ?>
</div>
</div>
<script type="text/javascript">
	$('#carousel4').contentcarousel();
</script>
</div>
<div style="background:#006899;height:3px;width:100%;clear:both;"></div> 
</div>
</div>
<div style="width:100%;height:150px;clear:both;"></div>