<!-- Slider -->
<div id="slider" class="loading has-parallax">
    <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
    <div class="owl-carousel homepage-slider carousel-full-width">
        <div class="slide">
            <div class="container">
                <div class="overlay">
                    <div class="info">
                        <!--<div class="tag price">$ 11,000</div>-->
                        <h3>Anuncie seu imóvel aqui gratuitamente!</h3>
                        <!--<figure>Golden Valley, MN 55427</figure>-->
                    </div>
                    <hr>
                    <a href="property-detail.html" class="link-arrow">Clique aqui e anuncie seu imóvel agora!</a>
                </div>
            </div>
            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/banner1.jpg">
        </div>
        <div class="slide">
            <div class="container">
                <div class="overlay">
                    <div class="info">
                        <!--<div class="tag price">$ 16,000</div>-->
                        <h3>O maior site de classificados de imóveis gratuito do Brasil!</h3>
                        <!--<figure>Chicago, IL 60610</figure>-->
                    </div>
                    <hr>
                    <!--<a href="property-detail.html" class="link-arrow">Read More</a>-->
                </div>
            </div>
            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/banner2.jpg">
        </div>
        <!--            <div class="slide">
                        <div class="container">
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 28,500</div>
                                    <h3>1866 Clement Street</h3>
                                    <figure>Atlanta, GA 30303</figure>
                                </div>
                                <hr>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div>
                        <img alt="" src="assets/img/slide-03.jpg">
                    </div>-->
    </div>
</div>
<!-- end Slider -->
<script type="text/javascript">
    function OnSubmitForm()
    {
//        alert("to aqui");
        //Montando URL
        var url = "<?php echo $this->url('home') ?>application/index/imoveis";

        var finalidade = document.getElementById("finalidade").value;
        var teste1 = document.getElementById("finalidade");
        var finalidadeText = teste1.options[teste1.selectedIndex].text;
//        alert(finalidadeText);
        var estado = document.getElementById("estado").value;
        var cidade = document.getElementById("cidade").value;
        var teste2 = document.getElementById("cidade");
        var cidadeText = teste2.options[teste2.selectedIndex].text;
        var bairro = document.getElementById("bairro").value;
        var tipo = document.getElementById("tipo").value;
        var teste3 = document.getElementById("tipo");
        var tipoText = teste3.options[teste3.selectedIndex].text;

        if (finalidade != "") {
            url = url + "/f/" + finalidade;           
        }
      
        if (cidade != "") {
            url = url + "/c/" + cidade;            
        }        
        if (tipo != "") {
            url = url + "/t/" + tipo;          
        }
        if (cidade != "") {         
            url = url + "/cidade/" + cidadeText.replace(" ", "_");
        }
        if (estado != "") {
            url = url + "/estado/" + estado;
        }
        if (bairro != "") {
            url = url + "/bairro/" + bairro.replace(" ", "_");
        }
        if (finalidade != "") {          
            url = url + "/finalidade/" + finalidadeText;
        }
        if (tipo != "") {           
            url = url + "/tipo/" + tipoText.replace(" ", "_");
        }
//        alert(url);
//        document.buscahome.action = url;

        window.location.href = url;

        return false;
    }
</script>
<div class="search-box-wrapper">
    <div class="search-box-inner">
        <div class="container">
            <div class="search-box map">
                <form name="buscahome" role="form" id="form-map-sale" method="get" action="<?php echo $this->url('home') ?>application/index/imoveis" class="form-map form-search clearfix" onsubmit="return OnSubmitForm();">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <select name="finalidade" id="finalidade" required="true" >
                                    <option value="">O que você precisa?</option>
                                    <option value="1">Comprar</option>
                                    <option value="2">Alugar</option>                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <select name="estado" id="estado" required="true" onchange="carregarCidades(this.value)">
                                    <option value="">Estado</option>
                                    <?php foreach ($estados as $estado) { ?>
                                        <option value="<?php echo $estado['sigla']; ?>"><?php echo $estado['nome']; ?></option>
                                    <?php } ?>
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group" id="cidades">                                    
                                <select name="cidade" id="cidade">
                                    <option value="">Cidade</option>                                        
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group" id="bairros">
                                <input type="text"  name="bairro" id="bairro"  placeholder="Bairro ou Região" list="bairro" autocomplete="off" >
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <select name="tipo" id="tipo">
                                    <option value="">Tipo</option>
                                    <?php foreach ($tipos as $tipo) { ?>
                                        <option value="<?php echo $tipo['id']; ?>"><?php echo $tipo['tipo']; ?></option>
                                    <?php } ?>
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <!--                        <div class="col-md-2 col-sm-4">
                                                    <div class="form-group">
                                                        <select name="form-sale-price">
                                                            <option value="">Preço</option>
                                                            <option value="1">R$0,00 - R$1.000,00</option>
                                                            <option value="2">R$2.000,00 - R$50.000,00</option>
                                                            <option value="3">R$51.000,00 - R$100.000,00</option>
                                                            <option value="4">R$101.000,00 - R$500.000,00</option>
                                                            <option value="5">R$501.000,00 +</option>
                                                        </select>
                                                    </div>
                                                </div>-->
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Buscar</button>
                            </div><!-- /.form-group -->
                        </div>
                    </div>
                </form><!-- /#form-map -->
            </div><!-- /.search-box -->
        </div><!-- /.container -->
    </div><!-- /.search-box-inner -->
</div>
<!-- end Search Box -->

<!-- Page Content -->
<div id="page-content">
    <section id="banner">
        <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
                <!--<h1 class="no-bottom-margin no-border">Aqui vai a propaganda do google <a href="#" class="text-underline">Tons of Features</a>!</h1>-->
            </div>
        </div>
    </section><!-- /#banner -->
<!--        <section id="price-drop" class="block">
        <div class="container">
            <header class="section-title">
                <h2>Promoções</h2>
                <a href="properties-listing.html" class="link-arrow">Todos Imóveis</a>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 11,000</div>
                                    <h3>3398 Lodgeville Road</h3>
                                    <figure>Golden Valley, MN 55427</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>2</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>2</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>0</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-04.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 38,000</div>
                                    <h3>2186 Rinehart Road</h3>
                                    <figure>Doral, FL 33178 </figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-07.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 325,000</div>
                                    <h3>3705 Brighton Circle Road</h3>
                                    <figure>Glenwood, MN 56334</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-08.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 16,000</div>
                                    <h3>362 Lynn Ogden Lane</h3>
                                    <figure>Galveston, TX 77550</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
            </div> /.row
        </div> /.container 
    </section> /#price-drop -->
    <aside id="advertising" class="block">
        <div class="container">
            <a href="submit.html">
                <div class="banner">
                    <div class="wrapper">
                        <span class="title">Quer o seu imóvel aqui?</span>
                        <span class="submit">Inserir anúncio agora! <i class="fa fa-plus-square"></i></span>
                    </div>
                </div><!-- /.banner-->
            </a>
        </div>
    </aside><!-- /#adveritsing-->
<!--        <section id="new-properties" class="block">
        <div class="container">
            <header class="section-title">
                <h2>Novos imóveis para você</h2>
                <a href="properties-listing.html" class="link-arrow">Todos imóveis</a>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-09.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 11,000</div>
                                    <h3>3398 Lodgeville Road</h3>
                                    <figure>Golden Valley, MN 55427</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>2</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>2</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>0</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-03.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 38,000</div>
                                    <h3>2186 Rinehart Road</h3>
                                    <figure>Doral, FL 33178 </figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-06.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 325,000</div>
                                    <h3>3705 Brighton Circle Road</h3>
                                    <figure>Glenwood, MN 56334</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-01.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 16,000</div>
                                    <h3>362 Lynn Ogden Lane</h3>
                                    <figure>Galveston, TX 77550</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
            </div> /.row
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-02.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 18,000</div>
                                    <h3>2506 B Street</h3>
                                    <figure>New Brighton, MN 55112</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>280m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>2</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-12.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 136,000</div>
                                    <h3>3990 Late Avenue</h3>
                                    <figure>Kingfisher, OK 73750</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>30m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>0</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-05.jpg">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 12,680</div>
                                    <h3>297 Marie Street</h3>
                                    <figure>Towson, MD 21204 </figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>Area:</header>
                                        <figure>240m<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Beds:</header>
                                        <figure>3</figure>
                                    </li>
                                    <li>
                                        <header>Baths:</header>
                                        <figure>1</figure>
                                    </li>
                                    <li>
                                        <header>Garages:</header>
                                        <figure>1</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div> /.property 
                </div> /.col-md-3 
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <a href="property-detail.html">
                            <div class="property-image">
                                <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/properties/property-10.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">$ 12,800</div>
                                <h3>64 Timberbrook Lane</h3>
                                <figure>Denver, CO 80202</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>240m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>3</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div> /.property 
            </div> /.col-md-3 
        </div> /.row
    </div> /.container
</section> /#new-properties-->


</div>
<!-- end Page Content -->