<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li class="active">Imóveis</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <script type="text/javascript">
        function ordenar()
        {
            var url = "<?php echo $this->serverUrl(true); ?>"
            
            url = url.replace("/ordem/1", "");
            url = url.replace("/ordem/2", "");
            url = url.replace("/ordem/3", "");
            
            var ordem = document.getElementById("ordem").value;
            
            url = url + "/ordem/" + ordem;
            
//            alert(url);

            window.location.href = url;
        }
    </script>
    
    <script type="text/javascript">
    function OnSubmitForm()
    {
//        alert("to aqui");
        //Montando URL
        var url = "<?php echo $this->url('home') ?>application/index/imoveis";

        var finalidade = document.getElementById("finalidade").value;
        var teste1 = document.getElementById("finalidade");
        var finalidadeText = teste1.options[teste1.selectedIndex].text;
//        alert(finalidadeText);
        var estado = document.getElementById("estado").value;
        var cidade = document.getElementById("cidade").value;
        var teste2 = document.getElementById("cidade");
        var cidadeText = teste2.options[teste2.selectedIndex].text;
        var bairro = document.getElementById("bairro").value;
        var tipo = document.getElementById("tipo").value;
        var teste3 = document.getElementById("tipo");
        var tipoText = teste3.options[teste3.selectedIndex].text;

        if (finalidade != "") {
            url = url + "/f/" + finalidade;           
        }
      
        if (cidade != "") {
            url = url + "/c/" + cidade;            
        }        
        if (tipo != "") {
            url = url + "/t/" + tipo;          
        }
        if (cidade != "") {         
            url = url + "/cidade/" + cidadeText.replace(" ", "_");
        }
        if (estado != "") {
            url = url + "/estado/" + estado;
        }
        if (bairro != "") {
            url = url + "/bairro/" + bairro.replace(" ", "_");
        }
        if (finalidade != "") {          
            url = url + "/finalidade/" + finalidadeText;
        }
        if (tipo != "") {           
            url = url + "/tipo/" + tipoText.replace(" ", "_");
        }
//        alert(url);
//        document.buscahome.action = url;

        window.location.href = url;

        return false;
    }
</script>
    <div class="container">
        <div class="row">
            <!-- Results -->
            <div class="col-md-9 col-sm-9">
                <section id="results">
                    <header><h1>Lista de Imóveis</h1></header>
                    <section id="search-filter">
                        <figure><h3><i class="fa fa-search"></i>Resultados da busca:</h3>
                            <span class="search-count"><?php
                                $total_imoveis = 0;
                                foreach ($total as $totals) {
                                    echo $totals['id'];
                                    $total_imoveis = $totals['id'];
                                }
                                ?></span>
                            <div class="sorting">
                                <form action="" method="get" >
                                    <div class="form-group">
                                        <select name="ordem" id="ordem" onchange="ordenar();">
                                            <option value="">Ordenar por</option>
                                            <option <?php if($ordem=='1'){ echo "selected"; } ?> value="1">Menor preço primeiro</option>
                                            <option <?php if($ordem=='2'){ echo "selected"; } ?> value="2">Maior preço primeiro</option>
                                            <option <?php if($ordem=='3'){ echo "selected"; } ?> value="3">Data</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </form>
                            </div>
                        </figure>
                    </section>
                    <section id="properties">
                        <div class="row">
                            <?php $contador = 1; ?>
                            <?php foreach ($imoveis as $imovel) { ?>

                                <div class="col-md-4 col-sm-4">
                                    <div class="property equal-height">
                                        <!--                                    <figure class="tag status">For Sale</figure>-->
                                                                            <!--<figure class="type" ><img src="<?php echo $this->basePath(); ?>/data/imoveis/<?php echo $imovel['imagem']; ?>" alt=""></figure>-->
                                        <a href="<?php echo $this->url('home') ?>application/index/imovel/id/<?php echo $this->escapeHtml($imovel['id']); ?>/t/<?php echo $this->escapeHtml($imovel['titulo']); ?>">
                                            <div class="property-image">
                                                <img alt="" src="<?php echo $this->basePath(); ?>/data/imoveis/<?php echo $this->escapeHtml($imovel['imagem']); ?>">
                                            </div>
                                            <div class="overlay">
                                                <div class="info">
                                                    <div class="tag price">R$ <?php echo number_format($this->escapeHtml($imovel['preco']), 2, ",", "."); ?></div>
                                                    <h3><?php echo $this->escapeHtml($imovel['titulo']); ?></h3>
                                                    <figure><?php echo $this->escapeHtml($imovel['bairro']); ?>, <?php echo $this->escapeHtml($imovel['cidade']); ?>, <?php echo $this->escapeHtml($imovel['estado_id']); ?></figure>
                                                </div>
                                                <ul class="additional-info">
                                                    <li>
                                                        <header>Area:</header>
                                                        <figure><?php echo number_format($this->escapeHtml($imovel['area_construida']), 2, ",", "."); ?>m<sup>2</sup></figure>
                                                    </li>
                                                    <li>
                                                        <header>Quartos:</header>
                                                        <figure><?php echo $this->escapeHtml($imovel['quartos']); ?></figure>
                                                    </li>
                                                    <li>
                                                        <header>Banheiros:</header>
                                                        <figure><?php echo $this->escapeHtml($imovel['banheiros']); ?></figure>
                                                    </li>
                                                    <li>
                                                        <header>Garagem:</header>
                                                        <figure><?php echo $this->escapeHtml($imovel['garagem']); ?></figure>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div><!-- /.property -->
                                </div><!-- /.col-md-3 -->
                                <?php if ($contador == 9) { ?>
                                    <section id="advertising">
                                        <a href="<?php echo $this->url('home') ?>admin/auth/index">
                                            <div class="banner">
                                                <div class="wrapper">
                                                    <span class="title">Você quer seu imóvel listado aqui?</span>
                                                    <span class="submit">Anuncie Agora! <i class="fa fa-plus-square"></i></span>
                                                </div>
                                            </div><!-- /.banner-->
                                        </a>
                                    </section><!-- /#adveritsing-->
                                    <?php $contador = 0; ?>
                                <?php } ?>
                                <?php $contador++; ?>
                            <?php } ?>
                        </div><!-- /.row -->

                        <?php if ($total_imoveis == 0) { ?>
                            <section id="advertising">
                                <a href="<?php echo $this->url('home') ?>">
                                    <div class="banner">
                                        <div class="wrapper">
                                            <span class="title">Não encontramos nenhum imóvel.</span>
                                            <span class="submit">Clique aqui e busque novamente! <i class="fa fa-plus-square"></i></span>
                                        </div>
                                    </div><!-- /.banner-->
                                </a>
                            </section><!-- /#adveritsing-->
                        <?php } ?>

                        <!-- Pagination -->
                        <div class="center">

                            <?php
                            echo $this->paginationControl(
                                    $imoveis, 'Sliding', 'partials/paginator/controle2.phtml'
                            );
                            ?>
                            <!--                                <li class="active"><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#">4</a></li>
                                                            <li><a href="#">5</a></li>-->

                        </div><!-- /.center-->

                    </section><!-- /#properties-->
                </section><!-- /#results -->
            </div><!-- /.col-md-9 -->
            <!-- end Results -->

            <!-- sidebar -->
            <div class="col-md-3 col-sm-3">
                <section id="sidebar">
                    <aside id="edit-search">
                        <header><h3>Busca Imóveis</h3></header>
                        <form role="form" id="form-sidebar" class="form-search" method="get" action="<?php echo $this->url('home') ?>application/index/imoveis" onsubmit="return OnSubmitForm();">
                            <div class="form-group">                               
                                <select name="finalidade" id="finalidade">
                                    <option value="">O que você precisa?</option>
                                    <option <?php
                                    if ($finalidade == "1") {
                                        echo "selected";
                                    }
                                    ?> value="1">Comprar</option>
                                    <option <?php
                                    if ($finalidade == "2") {
                                        echo "selected";
                                    }
                                    ?> value="2">Alugar</option>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <select name="estado" id="estado" onchange="carregarCidades(this.value)">
                                    <?php foreach ($estados as $est) { ?>
                                        <option <?php
                                        if ($estado == $est['sigla']) {
                                            echo "selected";
                                        }
                                        ?> value="<?php echo $est['sigla']; ?>"><?php echo $est['nome']; ?></option>
                                        <?php } ?>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group" id="cidades">
                                <select id="cidade" name="cidade">
                                    <option value="">Cidade</option>
                                    <?php foreach ($cidades as $cid) { ?>
                                        <option <?php
                                        if ($cidade == $cid['cidade_id']) {
                                            echo "selected";
                                        }
                                        ?> value="<?php echo $cid['cidade_id']; ?>"><?php echo $cid['desc_cidade']; ?></option>
                                        <?php } ?>
                                </select>
                            </div><!-- /.form-group -->
                            <div class="form-group" id="bairros">
                                <input type="text"  name="bairro" id="bairro" value="<?php
                                if ($bairro != "") {
                                    echo $bairro;
                                }
                                ?>" placeholder="Bairro ou Região" list="bairro" autocomplete="off" >
                                <datalist id="bairro">
                                    <?php foreach ($bairros as $bairro) { ?>
                                        <option value="<?php echo $bairro['bairro']; ?>">
                                        <?php } ?>
                                </datalist> 
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <select name="tipo" id="tipo">
                                        <option  value="">Tipo</option>
                                    <?php foreach ($tipos as $tip) { ?>
                                        <option <?php
                                        if ($tipo == $tip['id']) {
                                            echo "selected";
                                        }
                                        ?> value="<?php echo $tip['id']; ?>"><?php echo $tip['tipo']; ?></option>
                                        <?php } ?>
                                </select>
                            </div><!-- /.form-group -->
                            <!--                            <div class="form-group">
                                                            <div class="price-range">
                                                                <input id="price-input" type="text" name="price" value="1000;999000">
                                                            </div>
                                                        </div>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Buscar Agora</button>
                            </div><!-- /.form-group -->
                        </form><!-- /#form-map -->
                    </aside><!-- /#edit-search -->
                    <!--                    <aside id="featured-properties">
                                            <header><h3>Featured Properties</h3></header>
                                            <div class="property small">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-06.jpg">
                                                    </div>
                                                </a>
                                                <div class="info">
                                                    <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                                    <figure>Doral, FL 33178 </figure>
                                                    <div class="tag price">$ 72,000</div>
                                                </div>
                                            </div> /.property 
                                            <div class="property small">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-09.jpg">
                                                    </div>
                                                </a>
                                                <div class="info">
                                                    <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                                    <figure>Minneapolis, MN 55402</figure>
                                                    <div class="tag price">$ 36,000</div>
                                                </div>
                                            </div> /.property 
                                            <div class="property small">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-03.jpg">
                                                    </div>
                                                </a>
                                                <div class="info">
                                                    <a href="property-detail.html"><h4>1949 Tennessee Avenue</h4></a>
                                                    <figure>Minneapolis, MN 55402</figure>
                                                    <div class="tag price">$ 128,600</div>
                                                </div>
                                            </div> /.property 
                                        </aside> /#featured-properties -->
                    <!--                    <aside id="our-guides">
                                            <header><h3>Our Guides</h3></header>
                                            <a href="#" class="universal-button">
                                                <figure class="fa fa-home"></figure>
                                                <span>Buying Guide</span>
                                                <span class="arrow fa fa-angle-right"></span>
                                            </a> /.universal-button 
                                            <a href="#" class="universal-button">
                                                <figure class="fa fa-umbrella"></figure>
                                                <span>Right Insurance for You</span>
                                                <span class="arrow fa fa-angle-right"></span>
                                            </a> /.universal-button 
                                        </aside> /#our-guide -->
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->