<!--<div class="banner_imovel">
    <div style="float: left; margin-top: 103px;">
        <div id="allinone_bannerRotator_classic" style="display:none;">
             IMAGES 
            <ul class="allinone_bannerRotator_list">
<?php foreach ($galeria as $foto) { ?>
                            <li ><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>" alt="<?php echo $foto['legenda']; ?>" /></li>
<?php } ?>
                <li ><img src="img/bannerimo.jpg" alt="" /></li>                    
            </ul>                                                       
        </div>
    </div>
</div>-->
<div class="clear"></div>        
<div class="conteudo_meio">
    <div style="float: left; margin-top: 103px;">

        <?php foreach ($imoveis as $imovel) { ?>
            <div class="coluna1_imovel">
                <div id="allinone_bannerRotator_classic" style="display:none;">
                    <!-- IMAGES -->
                    <ul class="allinone_bannerRotator_list">
                        <?php foreach ($galeria as $foto) { ?>
                            <li ><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>" alt="<?php echo $foto['legenda']; ?>" /></li>
                        <?php } ?>
                <!--<li ><img src="img/bannerimo.jpg" alt="" /></li>-->                    
                    </ul>                                                       
                </div><br><br><br>
                <h1>Descrição do Imóvel</h1><span class="tipo_imovel2"><?php echo $imovel['cnome']; ?></span><img src="<?php echo $this->basePath(); ?>/img/minha_casa_minha_vida.jpg" class="minha_casa_minha_vida2" />
                <div class="clear"></div>
                <div class="divisor"></div>
                <div class="clear"></div>
                <p><?php echo $imovel['descricao']; ?></p>
            </div>
            <div class="coluna2_imovel">
                <table border="0" >
                    <!--                    <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>-->
                    <tbody>
                        <tr>
                            <td class="td1">CÓDIGO</td>
                            <td class="td2"><?php echo $imovel['embalagem']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">LOCALIZAÇÃO</td>
                            <td class="td2" style="line-height: 20px;">Bairro: <?php echo $imovel['nome']; ?> - <?php echo $imovel['caracteristicas']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">ÁREA DO TERRENO</td>
                            <td class="td2"><?php echo $imovel['comprimento']; ?> M²</td>
                        </tr>
                        <tr>
                            <td class="td1">ÁREA CONSTRUIDA</td>
                            <td class="td2"><?php echo $imovel['preco_promocao']; ?> M²</td>
                        </tr>
                        <tr>
                            <td class="td1">QUARTOS</td>
                            <td class="td2"><?php echo $imovel['estoque']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">SUITES</td>
                            <td class="td2"><?php echo $imovel['largura']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">VAGAS P/ VEÍCULOS</td>
                            <td class="td2"><?php echo $imovel['funcao']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">DIFERENCIAIS</td>
                            <td class="td2"><?php echo $imovel['beneficios']; ?></td>
                        </tr>
                        <tr>
                            <td class="td1">VALOR</td>
                            <td class="td2">R$ <?php echo number_format($this->escapeHtml($imovel['preco']), 2, ",", "."); ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <?php } ?>
        <div class="clear"></div>
        <div class="fotos_imovel">
            <h1>Fotos do Imóvel</h1>
            <div class="separador_fotos"></div>
            <p>
                <?php foreach ($galeria as $foto) { ?>
                    <a class="fancybox" href="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>" data-fancybox-group="gallery" title="<?php echo $foto['legenda']; ?>"><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>" style="width: 150px;" alt="" /></a>
                <?php } ?>
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="conteudo_meio">
    <div class="box_simulacao">
        <h1><img src="<?php echo $this->basePath(); ?>/img/icon_simulacao.gif" class="img_noticia" />FAÇA A SIMULAÇÃO DO SEU FINANCIAMENTO</h1>
        <p>Simule aqui quanto vai ser o valor da parcela do seu imóvel.</p>
        <div class="clear"></div>
        <form method="post">
            <input type="radio" name="bancos" value="1" /><img src="<?php echo $this->basePath(); ?>/img/caixa.jpg" />
            <input type="radio" name="bancos" value="2" /><img src="<?php echo $this->basePath(); ?>/img/santander.jpg" />
            <input type="radio" name="bancos" value="3" /><img src="<?php echo $this->basePath(); ?>/img/bb.jpg" />
            <input type="submit" value="FAZER SIMULAÇÃO" class="btn_cadastrar" style="margin-top: 30px;" />
        </form>
    </div>
    <!--    <div class="box_mapa">
            <h1><img src="<?php echo $this->basePath(); ?>/img/noticia.gif" class="img_noticia" />LOCALIZAÇÃO</h1>
    
        </div>-->
</div>