<div id="maincontainer">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">Login</li>
            </ul>
            <!-- Account Login-->
            <div class="row">  
                <div class="span9">
                    <h1 class="heading1"><span class="maintext">Login</span><span class="subtext">Primeiro faça o login para acessar as suas informaçoes</span></h1>

                    <section class="newcustomer">
                        <h2 class="heading2">Novo Usuario </h2>
                        <div class="loginbox">
                            <h4 class="heading4"> Registrar Contaa</h4>
                            <p>Criando uma conta você poderá acompanhar os seus pedidos.</p>
                            <br>
                            <p>Criando uma conta você poderá comprar mais rápido.</p>
                            <br>
                            <br>
                            <a href="<?php echo $this->url('home') ?>application/index/cadastrar" class="btn btn-orange">Continuar</a>
                        </div>
                    </section>
                    <section class="returncustomer">
                        <h2 class="heading2">Login </h2>
                        <div class="loginbox">
                            <h4 class="heading4">Já sou um cliente</h4>
                            <?php if (!empty($_SESSION['cliente']['msg']['msg'])) { ?>
                                <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                                <?php
                                $_SESSION['msg']['msg'] = '';
                            }
                            ?>
                            <form class="form-vertical" method="post" action="<?php echo $this->url('home') ?>application/index/loginconta">
                                <fieldset>
                                    <div class="control-group">
                                        <label  class="control-label">E-Mail:</label>
                                        <div class="controls">
                                            <input type="text" name="email"  class="span3">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label  class="control-label">Senha:</label>
                                        <div class="controls">
                                            <input type="password" name="senha" class="span3">
                                        </div>
                                    </div>
                                    <a class="" href="<?php echo $this->url('home') ?>application/index/recuperar">Esqueci sua senha?</a>
                                    <br>
                                    <br>
                                    <!--<a href="#" class="btn btn-orange">Login</a>-->
                                    <input class="btn btn-orange" type="submit" value="Login" name="submit" />
                                </fieldset>
                            </form>
                        </div>
                    </section>
                </div>

                <!-- Sidebar Start-->
                <!--<aside class="span3">
                  <div class="sidewidt">
                    <h2 class="heading2"><span>Account</span></h2>
                    <ul class="nav nav-list categories">
                      <li>
                        <a href="#"> My Account</a>
                      </li>
                      <li>
                        <a href="#">Edit Account</a>
                      </li>
                      <li>
                        <a href="#">Password</a>
                      </li>
                      <li>
                        <a href="#">Wish List</a>
                      </li>
                      <li><a href="#">Order History</a>
                      </li>
                      <li><a href="#">Downloads</a>
                      </li>
                      <li><a href="#">Returns</a>
                      </li>
                      <li>
                        <a href="#"> Transactions</a>
                      </li>
                      <li>
                        <a href="category.html">Newsletter</a>
                      </li>
                      <li>
                        <a href="category.html">Logout</a>
                      </li>
                    </ul>
                  </div>
                </aside>-->
                <!-- Sidebar End-->
            </div>
        </div>
    </section>
</div>