<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
                <div class="span9" style="float: left;">



                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Novo Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasestagio"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaestagio"> Criar Vaga Estágio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="float: left; margin-left: 20px; width: 1024px;" id="tabelaSite">
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Lista de vagas cadastradas por você</h3> 
                    <div class="actions">
                        <div class="btns">
                            <a  href="<?php echo $this->url('home') ?>application/index/novavagaestagio" title="Nova Vaga">Nova Vaga</a>
                        </div>
                    </div>  
                    <label class="divisor"><span>Lista das Vagas de Emprego</span></label>
                    <table class="datatable" style="text-align: left;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th style="width: 30%;" >Status</th>
                                <th>Banner</th>                               
                                <th width="120" class="center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($locacoes as $portifolio): ?>
                                <tr>
                                    <td><?php echo $this->escapeHtml($portifolio['titulo']); ?></td>
                                    <td><?php
                                        if ($portifolio['ativo'] == '2') {
                                            echo "Aguardando Aprovação";
                                        } else {
                                            echo "Aprovado";
                                        }
                                        ?>
                                    </td>
                                    <td><img src="<?php echo $this->basePath(); ?>/data/locacoes/<?php echo $this->escapeHtml($portifolio['imagem']); ?>" width="75px;" /></td>
                                    <td class="center">
                                        <a href="<?php echo $this->url('home') ?>application/index/novavagaestagio/id/<?php echo $portifolio['id']; ?>" title="Editar" class="btn">Editar</a>
                                        <a href="<?php echo $this->url('home') ?>application/index/excluirvagaestagio/id/<?php echo $portifolio['id']; ?>"  title="Deseja excluir este registro?" onclick="if (confirm('Deseja excluir este registro?')) {
                                                        return true;
                                                    } else {
                                                        return false;
                                                    }" class="btn">Excluir</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                    </table>
                    <?php
                    echo $this->paginationControl(
                            $locacoes, 'Sliding', 'partials/paginator/control.phtml'
                    );
                    ?>
                </div>
                <div style="width:100%; height:20px; clear:both;"></div>	

            </div>
        </div>
    </section>
</div>