<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancy/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancy/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancy/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancy/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancy/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/fancy/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancy/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/fancy/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<script type="text/javascript">
    $(document).ready(function() {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

        /*
         *  Different effects
         */

        // Change title type, overlay closing speed
        $(".fancybox-effects-a").fancybox({
            helpers: {
                title: {
                    type: 'outside'
                },
                overlay: {
                    speedOut: 0
                }
            }
        });

        // Disable opening and closing animations, change title type
        $(".fancybox-effects-b").fancybox({
            openEffect: 'none',
            closeEffect: 'none',
            helpers: {
                title: {
                    type: 'over'
                }
            }
        });

        // Set custom style, close if clicked, change title type and overlay color
        $(".fancybox-effects-c").fancybox({
            wrapCSS: 'fancybox-custom',
            closeClick: true,
            openEffect: 'none',
            helpers: {
                title: {
                    type: 'inside'
                },
                overlay: {
                    css: {
                        'background': 'rgba(238,238,238,0.85)'
                    }
                }
            }
        });

        // Remove padding, set opening and closing animations, close if clicked and disable overlay
        $(".fancybox-effects-d").fancybox({
            padding: 0,
            openEffect: 'elastic',
            openSpeed: 150,
            closeEffect: 'elastic',
            closeSpeed: 150,
            closeClick: true,
            helpers: {
                overlay: null
            }
        });

        /*
         *  Button helper. Disable animations, hide close button, change title type and content
         */

        $('.fancybox-buttons').fancybox({
            openEffect: 'none',
            closeEffect: 'none',
            prevEffect: 'none',
            nextEffect: 'none',
            closeBtn: false,
            helpers: {
                title: {
                    type: 'inside'
                },
                buttons: {}
            },
            afterLoad: function() {
                this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
            }
        });


        /*
         *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
         */

        $('.fancybox-thumbs').fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            closeBtn: false,
            arrows: false,
            nextClick: true,
            helpers: {
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });

        /*
         *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
         */
        $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
            openEffect: 'none',
            closeEffect: 'none',
            prevEffect: 'none',
            nextEffect: 'none',
            arrows: false,
            helpers: {
                media: {},
                buttons: {}
            }
        });

        /*
         *  Open manually
         */

        $("#fancybox-manual-a").click(function() {
            $.fancybox.open('1_b.jpg');
        });

        $("#fancybox-manual-b").click(function() {
            $.fancybox.open({
                href: 'iframe.html',
                type: 'iframe',
                padding: 5
            });
        });

        $("#fancybox-manual-c").click(function() {
            $.fancybox.open([
                {
                    href: '1_b.jpg',
                    title: 'My title'
                }, {
                    href: '2_b.jpg',
                    title: '2nd title'
                }, {
                    href: '3_b.jpg'
                }
            ], {
                helpers: {
                    thumbs: {
                        width: 75,
                        height: 50
                    }
                }
            });
        });


    });
</script>
<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <?php foreach ($produto as $prod): ?>
            <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÉ EM</span> <span style="color:#FFF">DETALHES <?php echo $this->escapeHtml($prod['nome']); ?></span></div>
    </div>

    <div class="wrapper-990" style="margin-top:50px; margin-bottom:100px; min-height:210px; color:#666">
        <div style="float: left; margin-bottom: 20px;">
            <div  id="titulo"><?php echo $this->escapeHtml($prod['nome']); ?></div>
            <div id="box_produtos" style="height: 290px;">          
                <?php
                foreach ($fotos as $foto):
                    ?>
                    <a class="fancybox" href="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" data-fancybox-group="gallery" title="<?php echo $this->escapeHtml($foto['legenda']); ?>">
                        <img src="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" width="350" />
                    </a>
                    <?php
                endforeach;
                ?>
                <div class="image-row">
                    <div class="image-set">
    <?php
    foreach ($fotos2 as $foto):
        ?>
                                                <!--<a class="example-image-link" href="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" data-lightbox="example-set" title="<?php echo $this->escapeHtml($foto['legenda']); ?>"><img class="example-image" src="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" alt="<?php echo $this->escapeHtml($foto['legenda']); ?>" width="100" /></a>-->
                            <a class="fancybox" href="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" data-fancybox-group="gallery" title="<?php echo $this->escapeHtml($foto['legenda']); ?>"><img src="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>" alt="" width="100" /></a>
                            <?php
                        endforeach;
                        ?>
                    </div>
                </div>
            </div>

            <div id="box_produtos" style="height: 290px;">

                <!--<div style="color:#CC0000; font-size::20px; margin:20px 0 0 0; float:left; width:100%;">TAMANHO</div>
                <div id="caixa_tamanho">P</div>
                <div id="caixa_tamanho">M</div>
                <div id="caixa_tamanho">G</div>
                <div id="caixa_tamanho">GG</div>            
                <div style="color:#CC0000; font-size::20px; margin:10px 0 0 0; width:100%;float:left;">QUANTIDADE</div>    
                <input type="text" class="input_qtd" value="4"/>
                <div style="color:#CC0000; font-size::20px; margin:10px 0 0 0; width:100%;float:left;">COR</div>    
                <div id="caixa_cor" style="background:#000;"></div>
                <div id="caixa_cor" style="background:#999;"></div>
                <div id="caixa_cor" style="background:#000999;"></div> -->
                <p>
    <?php echo $this->escapeHtml($prod['frase']); ?>
                </p>
            </div>
        </div><br/><br/>
        <div style="clear: both;" ></div>
        <div id="descricao_produto" style="margin-top: 50px;">
            <div class="titulo">ESPECIFICAÇÕES</div>
    <?php foreach ($fotos3 as $foto): ?>
                <img src="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($foto['imagem']); ?>"  />
    <?php endforeach; ?>
            <?php echo $prod['especificacoes']; ?>
        </div>
        <div style="width:100%; float:left; margin-top:50px;">
            <div align="center" style="width:140px; float:left;margin:0 0 0 10px;">

                <a href="javascript:history.go(-1)" class="retorna" ></a>
            </div>
        </div>

    </div>
    <div style="clear: both;"></div>    


    </div>
    <div style="clear:both"></div>
<?php endforeach; ?>
