<link href="css/styles.css" rel="stylesheet" type="text/css" />
<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÁ EM</span> <span style="color:#FFF">Motos</span></div>
</div>
<div class="wrapper-990" id="conteudo">
    <!-- menu-->
    <div id="menu_container_loja">
        <div id="menu_loja_fora">
            <div id="menu_loja_dentro">
                <div class="titulo"><a href="<?php echo $this->url('home') ?>application/index/motos/cat/2">Nacionais</a></div>
                <ul>
                    <?php foreach ($nacionais as $nacional): ?>
                    <li style="float: left; width: 232px; text-align: left;"><a href="<?php echo $this->url('home'); ?>application/index/moto/id/<?php echo $this->escapeHtml($nacional['id']); ?>"><?php echo $this->escapeHtml($nacional['nome']); ?></a></li>
                    <?php endforeach; ?>
                </ul>
                <div style="clear: both;"></div>
                <div class="titulo"><a href="<?php echo $this->url('home') ?>application/index/motos/cat/1">Importadas</a></div>          
                <ul>
                    <?php foreach ($importadas as $importada): ?>
                    <li style="float: left; width: 232px; text-align: left;"><a href="<?php echo $this->url('home'); ?>application/index/moto/id/<?php echo $this->escapeHtml($importada['id']); ?>"><?php echo $this->escapeHtml($importada['nome']); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <!-- produtos-->
    <div id="coluna_produtos" style="background:none;padding:5px 0 0 0;">
        <div class="titulo">PRODUTOS EM DESTAQUE</div>
        <br />
        <?php foreach ($motos as $moto): ?>
            <div id="container_produtos">
                <div id="container_fotos_produtos">
                    <a href="<?php echo $this->url('home'); ?>application/index/moto/id/<?php echo $this->escapeHtml($moto['id']); ?>">
                        <img src="<?php echo $this->basePath(); ?>/data/motos/<?php echo $this->escapeHtml($moto['imagem']); ?>" style="border:none; width: 133px;"/>
                    </a>
                </div>
                <div id="container_descricao_produtos">
                    <br />
                    <a href="<?php echo $this->url('home'); ?>application/index/moto/id/<?php echo $this->escapeHtml($moto['id']); ?>" class="fonte-produtos"><?php echo $this->escapeHtml($moto['nome']); ?></a><br />
                    <p style="font-size:13px; margin-top:8px">                      
                        <br />
                    </p>    
                </div>  
            </div>
        <?php endforeach; ?>
        <div id="paginar">
            <?php
            echo $this->paginationControl(
                    $motos, 'Sliding', 'partials/paginator/control.phtml'
            );
            ?>  
        </div>
    </div>

    <br />

</div>

</div>
<div style="clear:both"></div>
