
<div style="width:100%;height:10px;clear:both;"></div>		
<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
                <div class="span9" style="float: left;">
                    <!--<h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Seja Bem Vindo!</h3>-->  
                    <div style="width:100%; height:25px; clear:both;"></div>						
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                   
                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Criar Galeria de Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Estágio</a>
                            </li>
                        </ul>
                    </div>
                </div>
              	
                <div style="width: 1028px; float: left;">
                    <h3 style="text-align:center;  color: #005764; font-size: 50px; font-family: DroidSerif; line-height: 50px;">Mudar Senha</h3>    
                     <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <div class="checkoutstep">
                        <div class="row">
                            <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                                <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                                <?php
                                $_SESSION['msg']['msg'] = '';
                            }
                            ?>
                            <form class="form-horizontal" action="<?php echo $this->url('home') ?>application/index/mudarsenha" method="post">

                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" >Nova Senha<span class="red">*</span></label>
                                        <div class="controls">                                                   
                                            <input type="password" id="nome" name="senha" class=""  value="">
                                        </div>
                                    </div>
                                    <div style="width:100%;height:10px;clear:both;"></div>
                                    <div class="control-group">
                                        <label class="control-label" >Confirmar Senha<span class="red">*</span></label>
                                        <div class="controls">
                                            <input type="password" id="nome" name="confirmar_senha" class=""  value="">
                                        </div>
                                    </div>                     
                                </div>          
                                <div style="width:100%;height:10px;clear:both;"></div>										
                                <input id="enviar" type="submit" name="submit" value="Salvar" > 

                            </form>
                        </div>
                        <!-- <a class="btn btn-orange pull-right">Continue</a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>