<?php foreach ($noticias as $noticia) { ?>
    <div class="navegacao">
        <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
    <!--    <a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span> -->
        <a href="<?php echo $this->url('home') ?>application/index/noticias"  >Notícias e Eventos</a> <span>></span> 
        <a href="" class="link_ativo" ><?php echo $noticia['titulo']; ?></a>
    </div>
    <div class="clear"></div>
    <div class="produto_detalhe_meio">
        <img src="<?php echo $this->basePath(); ?>/data/posts/<?php echo $noticia['imagem']; ?>" style="float: left; width: 968px;" />
        <h1  ><?php echo $noticia['titulo']; ?></h1> <span  class="data_noticia" style="margin-right: 50px;"><?php echo date('d/m/Y', strtotime($noticia['data'])); ?></span>
        <div style="clear: both;"></div>
        <div class="box_texto_produto" style="width: 968px;margin-top: 30px;">

            <p><?php echo $noticia['texto']; ?></p>
        </div>

      
    </div>    
<?php } ?>