<div class="navegacao">
    <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
    <!--<a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span>--> 
    <a href="" class="link_ativo" >Notícias e Eventos</a>
</div>
<div class="clear"></div>
<div class="produto_detalhe_meio">
    <h1>NOTÍCIAS E EVENTOS</h1>
    <div style="clear: both;"></div>
    <?php foreach ($noticias as $noticia) { ?>
        <a href="<?php echo $this->url('home') ?>application/index/noticia/id/<?php echo $noticia['id']; ?>/not/<?php echo preg_replace("/\s+/","_",$noticia['titulo']); ?>">
            <div class="box_noticia">
                <img style="width: 300px;" src="<?php echo $this->basePath(); ?>/data/posts/<?php echo $noticia['imagem']; ?>" />
                <h3 class="titulo_noticia"><?php echo $noticia['titulo']; ?></h3>
                <span class="data_noticia"><?php echo date('d/m/Y', strtotime($noticia['data'])); ?></span>
                <p class="texto_noticia"><?php echo substr(strip_tags($noticia['texto']),0,300); ?></p>
                <span class="leia_mais_noticia">LEIA MAIS→</span>
            </div>
        </a>
    <?php } ?>

</div>           