<div style="width:100%; height:50px; clear:both;"></div>
<div style="margin:0 auto; width:1280px; min-height:400px;">
    <section id="product">
        <div class="container">
            <!--  breadcrumb --> 
            <div class="row">

                <!-- My Account-->
                <div class="span9" style="float: left;">

                    <div style="width:100%; height:25px; clear:both;"></div>						
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                        <h4 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h4>
                        <?php
                        $_SESSION['msg']['msg'] = '';
                    }
                    ?>
                    <div style="width:100%; height:5px; clear:both;"></div>	
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:DroidSerif">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta"> Editar informações pessoais</a>
                            </li>                      
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/mudarsenha"> Mudar Senha</a>
                            </li>                      
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Formandos</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/meusformandos"> Ver formando cadastrados</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novoformando"> Novo Formandos</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px; clear:both;"></div>	
                    <h3 class="heading3" style="color:#005764; font-size: 22px;">Vagas</h3>
                    <div class="myaccountbox" style="line-height:20px;  font-size:17px;  font-family:Prelo-Light;">
                        <ul>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasemprego"> Ver vagas cadastradas emprego</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaemprego"> Criar Vaga Emprego</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhasvagasestagio"> Ver vagas cadastradas estágio</a>                              
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/novavagaestagio"> Criar Vaga Estágio</a>
                            </li>
                            <li>
                                <a style = "text-decoration:none; color:#858585;"href = "<?php echo $this->url('home') ?>application/index/sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="float: left; margin-left: 20px; max-width: 1028px;" id="formularioSite">
                    <h3 style="text-align:center;  color: #005764; font-size: 20px; font-family: DroidSerif; line-height: 50px;">Nova Vaga</h3> 
                    <?php
                    $form = $this->form;
                    $form->prepare();

                    echo $this->form()->openTag($form->setAttribute('action',str_replace("/index.php","","http://".$_SERVER['SERVER_NAME'] . $_SERVER['PHP_SELF']). '/application/index/novavagaestagio'));
                    echo $this->formRow($form->get('id'));
                    echo $this->formRow($form->get('titulo'));                   
                    echo $this->formRow($form->get('texto'));
                    echo $this->formRow($form->get('imagem'));
                    echo $this->formRow($form->get('codigo'));
                    echo $this->formRow($form->get('estado'));
                    echo $this->formRow($form->get('nivel'));
                     echo $this->formRow($form->get('cidade'));
                     echo $this->formRow($form->get('area'));
                    echo $this->formSubmit($form->get('submit'));
                    echo $this->form()->closeTag();
                    ?>
                </div>
                <div style = "width:100%; height:20px; clear:both;"></div>
               
            </div>
        </div>
    </section>
</div>