<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÁ EM</span> <span style="color:#FFF">OFERTAS ESPECIAIS</span></div>
</div>

<div class="wrapper-990" style="margin-top:50px; margin-bottom:50px; min-height:210px; color:#666">
    <?php
    foreach ($ofertas as $ofe) {

        echo $ofe['texto'];
    }
    ?>

</div>
<div style="clear:both"></div>
