<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÁ EM</span> <span style="color:#FFF">OFICINA</span></div>
</div>

<div class="wrapper-990 classe_oficina" style="margin-top:50px; margin-bottom:50px; min-height:210px; color:#000">
    <div  id="titulo">AGENDAMENTO ONLINE OFICINA</div> 
    <?php foreach ($fotos as $fot) { ?>

       

        <img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $fot['imagem']; ?>"  style="float:right; width:436px;" />   
    <?php }
    ?>
    <div id="oficina_texto">
        <?php
        foreach ($empresa as $emp) {

            echo $emp['texto'];
        }
        ?>
    </div>
    <div>
        <form method="POST" name="form2" action="">
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>

                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nome" id="nome" maxlength="60" placeholder="Nome" /></div>
                            </div>                                
                        </td>
                    </tr>
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="email" id="email" maxlength="60" placeholder="E-mail" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="telefone" id="telefone" maxlength="60" placeholder="Telefone" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="cidade_estado" id="cidade_estado" maxlength="60" placeholder="Cidade/Estado" /></div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="moto" id="moto" maxlength="60" placeholder="Moto" />
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="quilometragem" id="quilometragem" maxlength="60" placeholder="Quilometragem" />
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="ano" id="ano" maxlength="60" placeholder="Ano" />
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="placa" id="placa" maxlength="60" placeholder="Placa" />
                                </div>
                            </div>
                    </tr>
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">

                                Primeiro agendamento Antares Moto:
                                <b>Sim</b> <input type="radio" name="primeiro" value="1" />
                                <b>Não</b> <input type="radio" name="primeiro" value="2" />
                                <!--<input class="campo_medio input-text" type="text" value="" name="placa" id="placa" maxlength="60" placeholder="Placa" />-->

                            </div>
                    </tr>

                    <tr>

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <textarea name="nome" class="campo_grande input-text" id="nome" placeholder="Assunto" style="height:90px;"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>                            
                </tbody>
            </table>
            <div style="clear: both;"></div><br/><br/><br/>

            <input style="float:left; border:none !important;" type="image" src="<?php echo $this->basePath(); ?>/images/bt_enviar.png" id="bt_enviar" name="enviar" value="Enviar">

        </form>
    </div>
    <div style="width:100%; float:left; height:10px; "></div>


</div>
<div style="clear:both"></div>
