<!--Banner Start-->
  <section id="banner" class="height">
   <div class="contact-banner"><img src="<?php echo $this->basePath(); ?>/imagens/fachada2.jpg" alt="img"></div>
  </section>
  <!--Banner End--> 
<div class="clear"></div>
<div class="box_pagina">
    <div class="conteudo_pagina">
        <?php foreach ($paginas as $pagina) { ?>

            <div class="clear"></div>

            <div class="span7">

            </div>

            <section id="content"> 
                <!--Blog Page Section Start-->
                <section class="blog-page-section">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="heading">
                                    <h1><?php echo $pagina['titulo']; ?></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Blog Post End--> 

                    <!--About Page Start-->
                    <div class="about-page">
                        <div class="container">
                            <div class="row-fluid about-section-1">
                                <div class="span5">
                                    <div id="myCarousel" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                            <li data-target="#myCarousel" data-slide-to="3"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                             <?php
                                             $contador=1;
                                            foreach ($imagens as $imagem) {
                                                ?>
                                            <?php if ($contador==1){ ?>
                                            <div class="active item">
                                                <div class="frame"><img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $imagem['imagem']; ?>" alt="img"></div>
                                            </div>
                                            <?php }?>
                                            
                                                <div class="item">
                                                    <div class="frame"><img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $imagem['imagem']; ?>" alt="img"></div>
                                                </div>

                                            <?php 
                                            $contador++;
                                            } ?>

                                        </div>
                                    </div>
                                </div>
                                <div class="span7">
                                    <?php echo $pagina['texto']; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--About Page End--> 
                </section>
                <!--Blog Page Section End--> 
                
                <section class="testimonial-section">
          <div class="container">
            <div class="testimonial-box">
              <h2>Depoimento dos Clientes </h2>
              <div id="myCarousel-05" class="carousel slide"> 
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item">
                    <div class="row-fluid">
                      <?php foreach ($depoimentos as $depoimento) { ?>
                        
                      <div class="span3">
                        <div class="testimonial-inner-box">
<!--                          <div class="frame"><img src="images/testimonial-img-4.jpg" alt="img"></div>-->
                          <div class="text">
                            <h3><?php echo $this->escapeHtml($depoimento['nome']); ?></h3>
<!--                        <strong class="title">Senior Food Inspector</strong>
                            <ul class="testimonial-star">
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                            </ul>-->
                          </div>
                          <blockquote class="testimonial-blockquote">
                            <p><?php echo strip_tags($depoimento['depoimento']); ?></p>
<!--                            <a href="#" class="comment">3 Comments</a>--></blockquote>
                        </div>
                      </div>
                        
                       <?php } ?> 
                    </div>
                  </div>
                </div>
                <!-- Carousel nav --> 
                <a class="carousel-control left" href="#myCarousel-05" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel-05" data-slide="next">&rsaquo;</a> </div>
            </div>
          </div>
        </section>
            </section>


        <?php } ?>
        <div style="clear: both;"></div>
        <!--<?php
        foreach ($imagens as $imagem) {
            ?>
                        <img src="<?php echo $this->basePath(); ?>/data/paginas/<?php echo $imagem['imagem']; ?>" style="float: left; margin-left: 20px; margin-bottom: 20px; width: 150px;" />
                
        <?php } ?>-->
    </div>
</div>
<div class="clear"></div>