<div style="width:100%; height:190px; clear:both;"></div>
<div style="width: 1240px;background: transparent;margin: auto;min-height:200px; font-family: DroidSerif">
    <div class="container">
        <ul class="breadcrumb">
            <!--
        <li><a href="index.html">Home</a></li>
        <li><a href="">Store</a></li>
        <li class="active">Checkout</li>
            -->
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <!-- BEGIN CHECKOUT PAGE -->
                <div class="panel-group checkout-page accordion scrollable" id="checkout-page">

                    <!-- BEGIN CHECKOUT -->
                    <div id="checkout" class="panel panel-default">
<h1 style="width: 100%; text-align: center; color: #005764;  font-size: 30px;  font-family: DroidSerif; ">CLIQUE NO BOTÃO ABAIXO PARA EFETUAR O PAGAMENTO.</h1>
<div style="width:100%; height:20px; clear:both;"></div>					
                        <form target="pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  

                            <?php
                            $quantidade_produtos = 0;
                            foreach ($produtos as $prod) {
                                $quantidade_produtos = str_replace(",", ".", $prod['quantidade']);
                            }
                            //echo $quantidade_produtos;
                            ?>    
                            <?php
                            $frete_pedido = 0.00;
                            foreach ($pedidos as $ped) {
                                $frete_pedido = $ped['valor_frete'];
                            }
                            //echo $frete_pedido;
                            ?>   

                            <!-- Campos obrigatórios -->  
                            <?php foreach ($configuracao as $config): ?>
                                <input type="hidden" name="receiverEmail" value="<?php echo $config['parametro']; ?>">  
                                <!--<input type="hidden" name="receiverEmail" value="yurimoreira2309@gmail.com">-->  
                            <?php endforeach; ?>
                            <input type="hidden" name="currency" value="BRL">  

                            <!-- Itens do pagamento (ao menos um item é obrigatório) -->
                            <?php
                            $contador = 1;
                            $x = 0;
                            $frete = str_replace(",", ".", $frete_pedido);
                            foreach ($produtospag as $prod):
                                ?>

                                <input type="hidden" name="itemId<?php echo $contador; ?>" value="<?php echo $this->escapeHtml($prod['id']); ?>">  
                                <input type="hidden" name="itemDescription<?php echo $contador; ?>" value="<?php echo $this->escapeHtml($prod['nome']); ?> <?php // echo $this->escapeHtml(strip_tags($prod['descricao']));               ?>">  
                                <input type="hidden" name="itemAmount<?php echo $contador; ?>" value="<?php
                                if ($prod['promocao'] == 1) {
                                    echo number_format(($prod['preco_promocao']), 2, ".", ",");
                                } else {
                                    echo number_format(($prod['preco']), 2, ".", ",");
                                }
                                ?>">  
                                <input type="hidden" name="itemQuantity<?php echo $contador; ?>" value="<?php echo $this->escapeHtml($prod['quantidade']); ?>">  
                                <input type="hidden" name="itemWeight<?php echo $contador; ?>" value="">  
                                <input type="hidden" name="itemShippingCost<?php echo $contador; ?>" value="<?php
                                if ($contador == 1) {
                                    echo number_format(($frete/$prod['quantidade']), 2, ".", ",");
                                } else {
                                    echo number_format(0, 2, ".", ",");
                                }
                                ?>">  
                                       <?php $contador++; ?>
                                   <?php endforeach; ?>




                            <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                            <input type="hidden" name="reference" value="<?php echo $id_pedido; ?>">  

                            <!-- Informações de frete (opcionais) -->  
                            <?php foreach ($cliente as $clie): ?>
                                <input type="hidden" name="shippingType" value="3">  
                                <input type="hidden" name="shippingAddressPostalCode" value="<?php echo $clie['cep']; ?>">  
                                <input type="hidden" name="shippingAddressStreet" value="<?php echo $clie['rua']; ?>">  
                                <input type="hidden" name="shippingAddressNumber" value="<?php echo $clie['numero']; ?>">  
                                <input type="hidden" name="shippingAddressComplement" value="">  
                                <input type="hidden" name="shippingAddressDistrict" value="<?php echo $clie['bairro']; ?>">  
                                <input type="hidden" name="shippingAddressCity" value="<?php echo $clie['cidade']; ?>">  
                                <input type="hidden" name="shippingAddressState" value="<?php echo $clie['estado']; ?>">  
                                <input type="hidden" name="shippingAddressCountry" value="BRA">  

                                <!-- Dados do comprador (opcionais) -->  
                                <input type="hidden" name="senderName" value="<?php echo $clie['nome']; ?>">  
                                <input type="hidden" name="senderAreaCode" value="">  
                                <input type="hidden" name="senderPhone" value="">  
                                <input type="hidden" name="senderEmail" value="<?php echo $clie['email']; ?>">  
                            <?php endforeach; ?>
                            <div style="clear:both;height: 30px;"></div>
                            <!-- submit do form (obrigatório) -->  
                            <div style="width:120px;margin:auto">
                                <input alt="Pague com PagSeguro" name="submit"  type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"/>  
                            </div>
                            <div style="clear:both;height: 30px;"></div>
                        </form>  

                    </div>
                    <!-- END CONFIRM -->
                </div>
                <!-- END CHECKOUT PAGE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>
