<script>
    function enviar_formulario(form) {
        document.form4.submit();
        //alert(form);
    }
</script> 
<div style="width:100%; height:190px; clear:both;"></div>
<div style="width: 1240px;background: transparent;margin: auto;min-height:510px; font-family: DroidSerif;">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
    <div style="clear:both;height: 20px;"></div>
                <div class="goods-page">
                    <div class="goods-data clearfix">
                        <div class="table-wrapper-responsive">
                            <?php
                            $itens = 0;
                            $total = 0;
                            foreach ($_SESSION['carrinho']['carrinho'] as $id => $qtd) {
                                $itens += (int) $qtd;
                                $preco_pro = 0;
                                if ($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['promocao'] == 1) {
                                    $preco_pro = $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco_promocao'];
                                } else {
                                    $preco_pro = $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'];
                                }
                                $total += ((int) $qtd) * $preco_pro;
                                //echo $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'];
                            }
                            ?>
                            <table style="width:1240px; margin:auto; border:solid 1px #005764; border-radius:5px;">
                                <tr>
                                    <th style="color:#005764" class="goods-page-image">Imagem</th>
                                    <th style="color:#005764" class="goods-page-description">Nome do Produto</th>
                                    <th style="color:#005764" class="goods-page-ref-no">Código da Loja</th>
                                    <th style="color:#005764" class="goods-page-quantity">Quantidade</th>
                                    <th style="color:#005764" class="goods-page-price">Preço Unitário</th>
                                    <th style="color:#005764" class="goods-page-total" colspan="2">Total</th>
                                </tr>
                                <?php foreach ($_SESSION['carrinho']['carrinho'] as $id => $qtd): ?>
                                    <tr>
                                        <td class="goods-page-image">
                                            <a href="<?php echo $this->url('home') ?>application/index/produto/id/<?php echo $this->escapeHtml($id); ?>">
                                                <center>
												<img width="100px" src="<?php echo $this->basepath(); ?>/data/produtos/<?php echo $this->escapeHtml($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['imagem']); ?>">
												</center>
                                            </a>
                                        </td>
                                        <td class="goods-page-description">
										<center>
                                            <h3>
                                                <a style="color:#858585; text-decoration:none;" href="<?php echo $this->url('home') ?>application/index/produto/id/<?php echo $this->escapeHtml($id); ?>">
                                                    <?php echo $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['nome']; ?>
                                                </a>
                                            </h3>
										</center>	
                                            <!--p>
                                                <strong>
                                                    <?php echo $qtd; ?><?php
                                                    if ($qtd == 1) {
                                                        echo " Item";
                                                    }if ($qtd > 1) {
                                                        echo " Itens";
                                                    }
                                                    ?>
                                                </strong> 
                                            </p-->

                                        </td>
                                        <td class="goods-page-ref-no">
                                            <center style="color:#858585;"><?php echo $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['codigoloja']; ?></center>
                                        </td>
                                        <td class="goods-page-quantity">
                                            <center>
											<div class="product-quantity">
                                                <form id="form<?php echo $id; ?>" name="form<?php echo $id; ?>" action="<?php echo $this->url('home') ?>application/index/passo2" method="post" >
                                                    <input style="text-align:center;" type="text" size="1" value="<?php echo $qtd; ?>" name="qtde" class="span1">
                                                    <!--input type="hidden" size="1" value="<?php echo $id; ?>" name="id" class="span1"-->
                                                    <!--input type="hidden" size="1" value="3" name="acao" class="span1"-->
                                                    <!--input type="submit" size="1" value="  " class="" style="z-index:19999;width:23px;position:relative;background:transparent;border:none;">
                                                    <img src="<?php echo $this->basepath(); ?>/imagens/atualizar.png" style="width:20px;margin-left: 31px;margin-top: -45px;"-->
                                                </form>
                                            </div>
											</center>
                                        </td>
                                        <td class="goods-page-price">
										<center style="color:#858585;">
                                            <strong><span>R$</span>
                                                <?php
                                                if ($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['promocao'] == 1) {
                                                    echo number_format($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco_promocao'], 2, ",", ".");
                                                } else {
                                                    echo number_format($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'], 2, ",", ".");
                                                }
                                                ?>
                                            </strong>
										</center>	
                                        </td>
                                        <td class="goods-page-total">
										<center style="color:#858585;">
                                            <strong><span>R$</span>
                                                <?php
                                                if ($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['promocao'] == 1) {
                                                    echo number_format($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco_promocao'] * $qtd, 2, ",", ".");
                                                } else {
                                                    echo number_format($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'] * $qtd, 2, ",", ".");
                                                }
                                                ?>
                                            </strong>
										</center>	
                                        </td>
                                        <td class="del-goods-col">
                                            <!--<a class="del-goods" href="<?php echo $this->url('home') ?>application/index/carrinho/acao/2/id/<?php echo $this->escapeHtml($id); ?>">&nbsp;</a-->
                                        </td>
                                    </tr>
                                    <?php
                                    $itens = 0;
                                    $total = 0;
                                    foreach ($_SESSION['carrinho']['carrinho'] as $id => $qtd) {
                                        $itens += (int) $qtd;
                                        $preco_pro = 0;
                                        if ($_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['promocao'] == 1) {
                                            $preco_pro = $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco_promocao'];
                                        } else {
                                            $preco_pro = $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'];
                                        }
                                        $total += ((int) $qtd) * $preco_pro;
                                        //echo $_SESSION['carrinhoprodutos']['carrinhoprodutos'][$id]['preco'];
                                    }
                                    ?>
                                <?php endforeach; ?>
                            </table>
                        </div>
						    <div style="clear:both;height: 10px;"></div>
                        <div class="cartoptionbox">
                            <!--<h4 class="heading4"> Escolha a forma de entrega. </h4>-->
                            <!--<input type="radio" class="radio">
                            Use Coupon Code <br>
                            <input type="radio" class="radio">
                            Use Gift Voucher <br>
                            <input type="radio" class="radio" checked="checked">
                            Estimate Shipping & Taxes <br><br>-->
                            <form class="form-vertical form-inline" action="" method="post">
                                <!--<?php
//                                echo $preco;
                                if ($frete != "") {
                                    ?>

                                    <h4 class="heading4"><?php echo "O frete irá custar: R$ " . number_format($frete, 2, ",", "."); ?></h4>

                                <?php } ?>-->
<?php // echo $cepcliente;    ?>
                                <!--                    <h4 class="heading4">Entrega somente em Montes claros - MG.</h4>
                                                    <h4 class="heading4">Valor do frete é de R$ 5,00</h4>-->
                                    <div class="control-group">
                                        <label  class="control-label">Selecione o tipo de frete:</label><div style="width:100%; height:5px;"></div>
                                        <div class="controls">
            <!--                                <input type="text" name="cep" class="span3 cartcountry" />                       
                                            <input type="submit" value="Verificar" class="btn btn-orange">-->
                                            <!--<input name="cep" class="span3 cartcountry" type="text" value="<?php if ($cep > 0) echo $cep; ?>" placeholder="Cep" />-->
                                            <select name="tipo">
                                                <option >Selecione o tipo</option>
                                                <option <?php if ($tipo2 == '41106') echo "selected"; ?> value="41106">pac</option>
                                                <option <?php if ($tipo2 == '40010') echo "selected"; ?> value="40010">sedex</option>
                                            </select>
											<div style="clear:both;height: 10px;"></div>
											<label  class="control-label">Selecione o casal que você deseja presentear:</label>
											<div style="clear:both;height: 5px;"></div>
											<select style="width:345px; fon-family:DroidSerif;" name="casal">
												<option value="0">Nenhum desses casais</option>
												<?php foreach($casais as $casal){ ?>
													<option <?php if ($casal2 == $casal['id']) echo "selected"; ?> value="<?php echo $casal['id']; ?>"><?php echo $casal['nome']; ?></option>
												<?php } ?>
											</select>
											<div style="clear:both;height: 10px;"></div>
                                            <input  type="submit" class="btn btn-orange" value="Selecionar" />
                                        </div>
                                    </div>
                            </form>
                        </div>
					<div style="clear:both;height: 20px;"></div>
                        <div class="row">
                            <div class="pull-right" style="">
                                <div class="span4 pull-right">
                                    <table class="table table-striped table-bordered ">
                                        <tbody>
                                            <tr>
                                                <td><span class="extra bold">Sub-Total :</span></td>
                                                <td><span class="bold">R$<?php echo number_format($total, 2, ",", "."); ?></span></td>
                                            </tr>

                                            <tr>
                                                <td><span class="extra bold">Frete :</span></td>
                                                <?php
                                                if ($tipo2 != "") {
                                                    ?>
                                                    <td><span class="bold">R$<?php echo number_format($preco, 2, ",", "."); ?></span></td>
                                                <?php } else {
                                                    ?>
                                                    <td><span class="bold">selecione o tipo de frete</span></td>
<?php } ?>
                                            </tr>
                                            <tr>
                                                <td><span class="extra bold totalamout">Total :</span></td>
                                                <?php
                                                if ($tipo2 != "") {
                                                    ?>
                                                    <?php
                                                    $frete = str_replace(",", ".", $frete2);
                                                    $total2 = $total += $preco;
                                                    //echo $frete3;
                                                    ?>
                                                    <td><span class="bold totalamout">R$ <?php echo number_format($total2, 2, ",", "."); ?></span></td>

                                                <?php } else {
                                                    ?>
                                                    <td><span class="bold totalamout">R$ <?php echo number_format($total, 2, ",", "."); ?></span></td>
<?php } ?>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--
<a href="<?php echo $this->url('home') ?>application/index/confirmar" class="btn btn-orange pull-right">Confirmar Pedido</a>
<a href="<?php echo $this->url('home') ?>application/index/produtos" class="btn btn-orange pull-right mr10">Continuar Comprando</a>
                                    -->

                                </div>
                            </div>
                        </div>
					<div style="clear:both;height: 10px;"></div>
                        <!--
                                            <li>
                          <em>Shipping cost</em>
                          <strong class="price"><span>$</span>3.00</strong>
                        </li>
                        <li class="shopping-total-price">
                          <em>Total</em>
                          <strong class="price"><span>$</span>50.00</strong>
                        </li>
                        -->
                        </ul>
                    </div>
                </div>
                            <style>
								#botao_comp{
									text-decoration:none; 
									border-radius:5px; 
									color:#fff; 
									background: #005764;  
									font-family: DroidSerif; 
									font-size: 20px; 
									padding:10px;
									float:right
								}
                            </style>
                                
								<a id="botao_comp" href="<?php echo $this->url('home') ?>application/index/confirmar" style="">Confirmar Compra</a>
                                <a  style="float:left;" id="botao_comp" href="<?php echo $this->basePath(); ?>/application/index/home" style="">Continuar Comprando</a>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

</div>