<div style="width:100%; height:150px; clear:both;"></div>
        <div style="margin:auto; width:1280px; min-height:300px;background: transparent;font-family: DroidSerif">
            <!--  breadcrumb -->  
            <div class="row">

                <!-- My Account-->
                <div class="span9">
				<h3 style="text-align:center;  color: #005764; font-size: 50px; font-family: DroidSerif; line-height: 50px;">Veja todas as compras que você ja realizou.</h3>
				<div style="width:100%; height:20px; clear:both;"></div>   							      

                    <table cellspacing="10" cellpadding="10" class="datatable" style="margin:auto;">
                        <thead>
                            <tr>
                                <!--th style="text-align: left;">Id</th-->
                                <th style="text-align: center;  border: solid 1px #005764;">Cliente</th>
                                <th style="text-align: center;  border: solid 1px #005764;">Valor</th>
                                <th style="text-align: center;  border: solid 1px #005764;">Frete</th>
                                <th style="text-align: center;  border: solid 1px #005764;">Data</th>
                                <th style="text-align: center;  border: solid 1px #005764;">Status</th>
                                <th style="text-align: center;  border: solid 1px #005764;">Pago</th>
                                <th   class="center" style="text-align: center;  border: solid 1px #005764;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($pedidos as $pedido): ?>
                                <tr>
                                    <!--td style="text-align: left;">
                                        <?php echo $this->escapeHtml($pedido['id']); ?>
                                    </td-->
                                    <td style="text-align: left;">
                                        <?php echo $this->escapeHtml($pedido['cnome']); ?>
                                    </td>
                                    <td style="text-align: left;">
                                        R$<?php echo number_format($this->escapeHtml($pedido['valor_produtos']), 2, ",", "."); ?>
                                    </td>

                                    <td style="text-align: left;">
                                        R$<?php echo number_format($this->escapeHtml($pedido['valor_frete']), 2, ",", "."); ?>
                                    </td>
                                    <td style="text-align: left;">
                                        <?php echo implode("/", array_reverse(explode("-", substr($this->escapeHtml($pedido['data']),0,10)))); ?>
                                    </td>
                                    <td style="text-align: left;">
                                        <?php if ($pedido['status'] == '1') echo "Pendente"; ?>
                                        <?php if ($pedido['status'] == '2') echo "Saiu para Entrega"; ?>
                                        <?php if ($pedido['status'] == '3') echo "Entregue"; ?>
                                    </td>
                                    <td style="text-align: left;">
                                        <?php if ($pedido['pago'] == '1') echo "Pago"; ?>
                                        <?php if ($pedido['pago'] == '0') echo "Não Pago"; ?>
                                    </td>

                                    <td class="center">
                                        <a href="<?php echo $this->url('home') ?>application/index/pedidoconta/id/<?php echo $pedido['id']; ?>" title="Ver Detalhes do Pedido" class="btn">Ver Detalhes do Pedido</a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                    </table>
                    <?php
                    echo $this->paginationControl(
                            $pedidos, 'Sliding', 'partials/paginator/control.phtml'
                    );
                    ?>

                </div>

                <!-- Sidebar Start-->
                <aside class="span3">
                    <div class="sidewidt">
                        <h3 class="heading3" style="color:#005764; font-size: 22px;">Minha Conta</h3>
                        <ul class="nav nav-list categories" style="line-height:20px;  font-size:17px;  font-family:DroidSerif;">
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/minhaconta"> Minha Conta</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/editarconta">Editar Conta</a>
                            </li>

                            <li><a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/pedidosconta">Histórico de Pedidos</a>
                            </li>
                            <li>
                                <a style="text-decoration:none; color:#858585;" href="<?php echo $this->url('home') ?>application/index/sair">Sair</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- Sidebar End-->
            </div>
        </div>