<style>
#fundo{
	min-width:100%;
	margin:auto;
	background:url("<?php echo $this->basePath(); ?>/imagens/listas.jpg");
	background-size:100% 500px;
	background-repeat:no-repeat;
	min-height:500px;
}
</style>
<div id="fundo">
<div style="width:100%; height:130px; clear:both;"></div>
	<div id="cont_fundo">
		<p>PESQUISE NA NOSSA LOJA...</p>
		<div style="width:100%; height:45px; clear:both;"></div>
		<form method="post">
		<input required type="text" id="noivo" name="palavra" placeholder=" Digite o nome do produto!">
		<div style="width:100%; height:20px; clear:both;"></div>
		<input type="submit" value="PESQUISAR!" id="enviar2">
		</form>
	</div>
</div>
<div style="width:100%; height:75px; clear:both;"></div>
<?php if(isset($_POST['palavra'])){ ?>
<div id="corpo_listas">
<!-- inicio codigo do tabs -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/simple-tabs/js/simpletabs_1.3.js"></script>
<style type="text/css" media="screen">
/*@import "<?php echo $this->basePath(); ?>/js/simple-tabs/css/style.css";*/
@import "<?php echo $this->basePath(); ?>/js/simple-tabs/css/simpletabs.css";
</style>

<div class="simpleTabs">
  <ul class="simpleTabsNavigation">
    <li><a href="#">RESULTADOS</a></li>
    <!--<li style="margin-left:20px;"><a href="#">MAIS RECENTES</a></li>-->
  </ul> 
<div class="simpleTabsContent">
<?php
$x=0;
foreach($produtos as $produto){ 
?>
<div id="novidade">
<div style="width:295px; height:137px; overflow:hidden;">
	 <center><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produto['imagem']; ?>" height="137px"></center>
</div>
	<div style="width:100%; height:5px; clear:both;"></div>
	<h3><?php echo $produto['nome']; ?></h3>
	<div style="width:100%; height:5px; clear:both;"></div>
	<span><?php echo substr(strip_tags($produto['descricao']), 0, 45); ?>...</span>
	<div style="width:100%; height:5px; clear:both;"></div>
	<a href="<?php echo $this->basePath(); ?>/application/index/produto/id/<?php echo $produto['id']; ?>/<?php echo str_replace(" ", "-", $produto['nome']); ?>" id="comprar_but">COMPRAR</a>
	<div style="width:100%; height:30px; clear:both;"></div>
	<img src="<?php echo $this->basePath(); ?>/imagens/linha2.png">
</div>
<?php $x++;}
if($x==0){?>
<br><br><br><br>
<center style="color: #005764; font-family: DroidSerif; font-size:35px;">Nenhum Resultado encontrado para "<?php echo $_POST['palavra']; ?>".</center>
<?php } ?>
</div>
<!--  
<div class="simpleTabsContent">
<?php
$x=0;
while($x<16){ ?>
<div id="casal2">
	<img src="<?php echo $this->basePath(); ?>/imagens/casal.jpg" style="float:left; margin-right">
	<p style="float:right; width:410px; font-size:22px; margin-top:15px;">Paulo Cesa Alcantra & Elisa Medeiros</p>
	<p style="float:right; width:410px; font-size:17px;"><span style="color:#868686 !important;">Data do Casamento:</span>&nbsp;&nbsp;10/10/2015</p>
	<p style="float:right; width:410px; font-size:17px;"><span style="color:#868686 !important;">Local:</span>&nbsp;&nbsp;Montes Claros</p>
	<a href="lista_completa.php" id="add_but" style="float:left; margin-left:10px; margin-top:5px;">ADICIONAR À LISTA</a>
</div>
<?php $x++;} ?>
</div>-->
</div>
<!-- fim codigo do tabs -->
</div>
<?php } ?>
<div style="width:100%; height:20px; clear:both;"></div>