<?php foreach ($produtos as $produto) { ?>
    <div class="navegacao">
        <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
        <a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span> 
        <a href="<?php echo $this->url('home') ?>application/index/produtos/cat/<?php echo $produto['subcategoria_id']; ?>/n/<?php echo $produto['cnome']; ?></a>" ><?php echo $produto['cnome']; ?></a> <span>></span> 
        <a href="" class="link_ativo" ><?php echo $produto['nome']; ?></a>
    </div>
    <div class="clear"></div>
    <div class="produto_detalhe_meio">
        <h1><?php echo $produto['nome']; ?></h1>
        <div style="clear: both;"></div>
        <div class="banner_produto">
            <div id="allinone_bannerRotator_classic2" style="display:none;">
                <!-- IMAGES -->
                <ul class="allinone_bannerRotator_list">
                    <li><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produto['imagem']; ?>" alt="" /></li>
                    <?php foreach ($fotos as $foto) { ?>
                        <li><img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>" alt="" /></li>
                    <?php } ?>
                </ul>        
            </div>  
        </div>
        <div class="dados_produto">
            <span class="status_produto">
                <?php if ($produto['estoque'] > 0) { ?>
                    PRODUTO DISPONÍVEL
                <?php } else { ?>
                    PRODUTO INDISPONÍVEL
                <?php } ?>
            </span>
            <div class="separador_preco"></div>
            <?php if ($produto['preco'] > 0) { ?>
                <span class="preco_avista">PREÇO À VISTA</span>                    
                <span class="cifrao">R$</span>
                <span class="preco"><?php echo number_format($this->escapeHtml($produto['preco']), 2, ",", "."); ?></span>
            <?php } ?>
            <?php if ($produto['preco_promocao'] > 0) { ?>
                <div class="separador_preco"></div>
                <span class="preco_avista">DIVIDIDO NO CARTÃO EM <span class="vermelho">6</span> VEZES DE R$: <span class="vermelho">65,00</span></span>                    
                <span class="cifrao">R$</span>
                <span class="preco"><?php echo number_format($this->escapeHtml($produto['preco_promocao']), 2, ",", "."); ?></span>
            <?php } ?>
            <div class="separador_preco"></div>
            <span class="preco_avista">VALOR DO FRETE</span>
            <form method="post">
                <input type="text" name="cep" value="" placeholder="DIGITE O SEU CEP" class="txt_cep" />
                <input type="submit" name="submit" value="OK" class="btn_ok" />
            </form>
            <div class="separador_preco"></div>
            <?php if ($produto['preco'] > 0) { ?>
            <a href="" class="btn_comprar" >COMPRAR</a>
            <?php }else{ ?>
              <a href="" class="btn_comprar" >COTAR</a>
            <?php } ?>
        </div>
        <div class="clear"></div>
        <div class="box_texto_produto" style="width: 968px;">
            <h2>DETALHES DO PRODUTO</h2>
            <div class="clear"></div>
            <p><?php echo $produto['descricao']; ?></p>
        </div>
        <div class="clear"></div>
        <div class="box_texto_produto" style="width: 470px;">
            <h2>ESPECIFICAÇÕES</h2>
            <div class="clear"></div>
            <p><?php echo $produto['beneficios']; ?></p>
        </div>
        <div class="box_texto_produto" style="width: 470px; margin-left: 28px;">
            <h2>GARANTIA</h2>
            <div class="clear"></div>
            <p><?php echo $produto['embalagem']; ?></p>
        </div>
    </div>         
<?php } ?>