<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancy/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<script type="text/javascript">
            $(document).ready(function () {
    /*
     *  Simple image gallery. Uses default settings
     */


<?php foreach ($produtos as $produto) { ?>
        $("#fancybox-manual-<?php echo $produto['id']; ?>").click(function () {
        $.fancybox.open([
    <?php foreach ($fotos as $foto) { ?>
        <?php if ($produto['id'] == $foto['produto_id']) { ?>
                {
                href: '<?php echo $this->basePath(); ?>/data/produtos/<?php echo $foto['imagem']; ?>',
                            title: '<?php echo $foto['legenda']; ?>'
                    },
        <?php } ?>
    <?php } ?>
            ], {
            helpers: {
            thumbs: {
            width: 75,
                    height: 50
            }
            }
            });
            });
<?php } ?>


        });
</script>
<div class="meio_institucional">
    <div class="box_insitucional">
        <?php foreach ($categoriaatual as $catatual) { ?>
            <h1 style="margin-left: 20px;"><?php echo $catatual['nome']; ?></h1>
        <?php } ?>
        <div class="clear"></div>
        <?php foreach ($produtos as $produto) { ?>
            <div class="produto">
                <a id="fancybox-manual-<?php echo $produto['id']; ?>" href="javascript:;">
                    <div class="sobre_imagem">
                        <img src="<?php echo $this->basePath(); ?>/data/produtos/<?php echo $produto['imagem']; ?>" style="height: 206px; z-index: 1;" alt="<?php echo $produto['nome']; ?>" />
                        <div class="lupa_produto" style=" position: relative;"></div>
                    </div>
                </a>
                <a href="<?php echo $produto['endereco']; ?>" target="blank"><span>Conheça mais sobre esse produto</span> <img src="<?php echo $this->basePath(); ?>/data/marcas/<?php echo $produto['file']; ?>" class="marca_produto" /></a>
            </div>
        <?php } ?>

    </div>
</div>