<div class="meio_institucional">
    <div class="box_insitucional">
        <?php foreach ($agendas as $agenda) { ?>
            <div class="box_profissional">
                <div class="img_profissional">                        
                    <img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $agenda['imagem']; ?>" style="height: 260px;" />                        
                </div>
                <h2><?php echo $agenda['nome']; ?></h2>
                <!--<div class="clear"></div>-->
                <div class="telefone_profissional"><?php echo $agenda['descricao']; ?></div>
                <div class="email_profissional"><?php echo $agenda['email']; ?></div>
                <div class="endereco_profissional"><?php echo $agenda['localidade']; ?></div>
                <div class="floatLeft">
                    <a href="<?php echo $agenda['facebook']; ?>" class="facebook2"></a>
                    <a href="<?php echo $agenda['instagram']; ?>" class="instagram2"></a>
                    <a href="<?php echo $agenda['in']; ?>" class="in"></a>
                </div>
            </div>
        <?php } ?>
        <div class="clear"></div>
        <?php foreach ($fotos as $foto) { ?>
            <!--<div class="produto">-->
            <a class="fancybox" data-fancybox-group="gallery" title="<?php echo $foto['legenda']; ?>" href="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $foto['imagem']; ?>" style="float: left; margin-left: 20px;margin-top: 20px;">
                    <!--<div class="sobre_imagem">-->
                        <img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $foto['imagem']; ?>" style="height:  206px; z-index: 1;" alt="" />
                    <!--</div>-->
                    <!--<div class="lupa_produto" style="position: relative;"></div>-->
                </a>
                <span><?php echo $foto['legenda']; ?></span> 
            <!--</div>-->
        <?php } ?>

    </div>
</div>