<div class="meio_institucional">
    <div class="box_insitucional">
        <h1 style="margin-left: 20px;margin-bottom: 50px;">PROFISSIONAIS</h1>
        <div class="clear"></div>

        <?php foreach ($agendas as $agenda) { ?>
            <div class="produto">
                <a  href="<?php echo $this->url('home') ?>application/index/profissional/id/<?php echo $agenda['id']; ?>/n/<?php echo preg_replace("/\s+/", "_", $agenda['nome']); ?>">
                    <div class="sobre_imagem" style="width: 260px; height: 206px;">

                        <img src="<?php echo $this->basePath(); ?>/data/agenda/<?php echo $agenda['imagem']; ?>" style=" height: 206px; z-index: 1;" alt="<?php echo $agenda['legenda']; ?>" />

                        <div class="lupa_produto" style="width: 260px;height: 206px; margin-top: -206px; position: relative;"></div>
                    </div>

                </a>
                <span><?php echo $agenda['nome']; ?></span> 
            </div>
        <?php } ?>

    </div>
</div>