<div class="navegacao">
    <a href="<?php echo $this->url('home') ?>" >KAVEIRABIKE.COM.BR</a> <span>></span> 
    <!--<a href="<?php echo $this->url('home') ?>application/index/produtos" >PEÇAS E ACESSÓRIOS</a> <span>></span>--> 
    <a href="" class="link_ativo" >Regulamentos</a>
</div>
<div class="clear"></div>
<div class="produto_detalhe_meio">
    <?php foreach ($paginas as $pagina) { ?>
        <?php if ($pagina['id'] == 45) { ?>
            <h1><?php echo $pagina['titulo']; ?></h1>
            <div style="clear: both;"></div>
            <div class="box_texto_produto" style="width: 968px;margin-top: 30px;">
                <p><?php echo $pagina['texto']; ?></p>
            </div>
        <?php } ?>
    <?php } ?>
    <div class="clear"></div>
    <?php foreach ($paginas as $pagina) { ?>
        <?php if ($pagina['id'] == 46) { ?>
            <div class="box_texto_produto" style="width: 968px;">
                <h2><?php echo $pagina['titulo']; ?></h2>
                <div class="clear"></div>
                <p><?php echo $pagina['texto']; ?></p>
            </div>
        <?php } ?>
    <?php } ?>
    <div class="clear"></div>
    <?php foreach ($paginas as $pagina) { ?>
        <?php if ($pagina['id'] == 47) { ?>
            <div class="box_texto_produto" style="width: 470px;">
                <h2><?php echo $pagina['titulo']; ?></h2>
                <div class="clear"></div>
                <p><?php echo $pagina['texto']; ?></p>
            </div>
        <?php } ?>
    <?php } ?>
    <?php foreach ($paginas as $pagina) { ?>
        <?php if ($pagina['id'] == 48) { ?>
            <div class="box_texto_produto" style="width: 470px; margin-left: 28px;">
                <h2><?php echo $pagina['titulo']; ?></h2>
                <div class="clear"></div>
                <p><?php echo $pagina['texto']; ?></p>
            </div>
        <?php } ?>
    <?php } ?>
</div>           