<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÁ EM</span> <span style="color:#FFF">SEGURO</span></div>
</div>

<div class="wrapper-990 classe_oficina" style="margin-top:50px; margin-bottom:50px; min-height:210px; color:#000">
    <div  id="titulo">SEGURO</div> 

    <div id="oficina_texto">
        <?php
        foreach ($empresa as $emp) {

            echo $emp['texto'];
        }
        ?>
    </div>
    <div>
        <form method="POST" name="form2" action="">
            <div style="clear: both;"></div>
            <h4>Proponente</h4>
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>

                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nome" id="nome" maxlength="60" placeholder="Nome" /></div>
                            </div>                                
                        </td>
                    </tr>
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nascimento" id="nascimento" maxlength="60" placeholder="Data de Nascimento" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="endereco" id="endereco" maxlength="60" placeholder="Endereço" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr>

                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="cep" id="cep" maxlength="60" placeholder="CEP" /></div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo">
                                    <input class="campo_medio input-text" type="text" value="" name="cidade" id="cidade" maxlength="60" placeholder="Cidade" />
                                </div>
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
            <div style="clear: both;"></div>
            <h4>Dados do Veículo</h4>
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo">
                                    Modelo:<br/>
                                    <select name="modelo">
                                        <?php foreach ($motos as $moto): ?>
                                            <option><?php echo $moto['nome']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>                                
                        </td>
                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos " style="margin-top: 25px;">
                                <div class="container_campo">
                                    Combustível:<br/>
                                    <select name="modelo">                                        
                                        <option>Gasolina</option>
                                        <option>Gasolina e Alcool</option>                     
                                    </select>                                    
                                </div>
                            </div> 
                        </td>
                    </tr>

                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos " style="margin-top: 25px;">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="fabricacao" id="fabricacao" maxlength="10" placeholder="Ano de Fabricação" /></div>
                            </div> 
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="anomodelo" id="anomodelo" maxlength="60" placeholder="Ano do Modelo" /></div>
                            </div>
                        </td>
                    </tr>                            
                    <tr>


                    </tr>
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos " >
                                <div class="container_campo">
                                    Uso do veículo:<br/>
                                    <select name="uso">                                        
                                        <option>Particular </option>
                                        <option>Auto Escola </option>                     
                                        <option>Prestação de Serviço </option>                     
                                        <option>Representação Comercial/Vendas </option>                     
                                        <option>Transporte de Carga </option>                     
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Tipo de Cobertura:<br/>
                                    <select name="cobertura">                                        
                                        <option>Total </option>
                                        <option>Light</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>      
                    <tr>

                    </tr>      
                </tbody>
            </table><br/><br/>
            <div style="clear: both;"></div>
            <h4>Dados do Principal Condutor</h4>
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>

                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nome" id="nome" maxlength="60" placeholder="Nome" /></div>
                            </div>                                
                        </td>
                    </tr>
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_grande input-text" type="text" value="" name="nascimento" id="nascimento" maxlength="60" placeholder="Data de Nascimento" /></div>
                            </div> 
                        </td>
                    </tr>                            
                    <tr >

                        <td valign="bottom" style="border:none !important;">
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="sexo" id="sexo" maxlength="60" placeholder="Sexo" /></div>
                            </div> 
                        </td>
                        <td valign="" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="cpf" id="cpf" maxlength="60" placeholder="CPF" /></div>
                            </div>
                        </td>
                    </tr>                            
                    <tr>


                    </tr>


                </tbody>
            </table>
            <div style="clear: both;"></div>
            <h4>Perfil do Principal Condutor</h4>
            <table width="93%" border="0" cellspacing="0" cellpadding="0" style="border:none !important">
                <tbody>

                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Estado Civil:<br/>
                                    <select name="cobertura">                                        
                                        <option>Solteiro </option>
                                        <option>Casado</option>
                                        <option>Separado/Divorciado</option>
                                        <option>Viúvo</option>
                                        <option>Não Informado</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Possui filhos?:<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim </option>
                                        <option>Não</option>

                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  

                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Possui filhos menores de 17 anos?:<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    A motocicleta é utilizada para uso comercial?:<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  
                     
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Quer cobertura para condutores entre 18 e 26 anos? :<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Condutor trabalha? :<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  
                 
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Período em que trabalha :<br/>
                                    <select name="cobertura">                                        
                                        <option>Dia</option>
                                        <option>Noite</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                          <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos ">
                                <div class="container_campo"><input class="campo_medio input-text" type="text" value="" name="profissao" id="profissao" maxlength="60" placeholder="Profissão" /></div>
                            </div>
                        </td>
                    </tr>  
                  
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Período em que estuda :<br/>
                                    <select name="cobertura">                                        
                                        <option>Dia</option>
                                        <option>Noite</option>

                                    </select>
                                </div>
                            </div>
                        </td>
                         <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Km média mensal:<br/>
                                    <select name="cobertura">                                        
                                        <option>até 200km/mês   </option>
                                        <option>até 500km/mês  </option>
                                        <option>até 1000km/mês    </option>
                                        <option>até 1.500km/mês    </option>
                                        <option>acima de 1.500 km/mês    </option>

                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  
                   
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Possui garagem em casa? :<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>

                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Garagem no local de trabalho? :<br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>

                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  
                   
                    <tr>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Garagem no local de estudo? <br/>
                                    <select name="cobertura">                                        
                                        <option>Sim</option>
                                        <option>Não</option>

                                    </select>
                                </div>
                            </div>
                        </td>
                        <td valign="bottom" style="border:none !important;"> 
                            <div class="container_campos "  style="margin-top: 40px;">
                                <div class="container_campo">
                                    Relação condutor / segurado: <br/>
                                    <select name="cobertura">                                        
                                        <option>o próprio </option>
                                        <option>pai/mãe  </option>
                                        <option>filho(a)    </option>
                                        <option>Cônjuge    </option>
                                        <option>irmão/irmã      </option>
                                        <option>funcionário        </option>

                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>  
                    
                </tbody>
            </table>
            <div style="clear: both;"></div><br/><br/><br/>

            <input style="float:left; border:none !important;" type="image" src="<?php echo $this->basePath(); ?>/images/bt_enviar.png" id="bt_enviar" name="enviar" value="Enviar">

        </form>
    </div>
    <div style="width:100%; float:left; height:10px; "></div>


</div>
<div style="clear:both"></div>
