<style>
.sem-resultado{
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #3F3F40;
}
</style>
<div class="corpo_tutoriais">
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">SERVIÇOS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
	<div class="espaco-3"></div>
	<form class="fundo-pesquisa-tutoriais" style="height:430px;" method="post">
	<div class="espaco-3"></div>
		<div class="campo-1" style="margin:auto; float:none;">
		CATEGORIA
		<select name="categoria">
		<?php foreach($categorias as $cat){ ?>
			<option <?php if(isset($_POST['categoria']) && $_POST['categoria']==$cat['id']){ echo "selected"; } ?> value="<?php echo $cat['id']; ?>"><?php echo $cat['nome']; ?></option>
		<?php } ?>	
		</select>	
		</div>	
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>		
		<div class="campo-1" style="margin:auto; float:none; height:75px;">
		TIPO<br>
			<input class="radio" type="radio" name="tipo" <?php if(isset($_POST['tipo']) && $_POST['tipo']=="EMPRESAS ESPECIALIZADAS"){ echo "checked"; } ?> value="EMPRESAS ESPECIALIZADAS">&nbsp;<span style="color:#868686;">EMPRESAS ESPECIALIZADAS</span><br>
			<input class="radio" type="radio" name="tipo" <?php if(isset($_POST['tipo']) && $_POST['tipo']=="DIARISTAS"){ echo "checked"; } ?> value="DIARISTAS">&nbsp;<span style="color:#868686;">DIARISTAS</span>
		</div>			
		<div class="linha-3"></div>
		<div class="espaco-3"></div>
		<div class="campo-1" style="margin:auto; float:none;">
		FAIXA DE PREÇO<br>
			<input type="text" placeholder="  MÍNIMO" <?php if(isset($_POST['faixa_preco_min'])){ echo "value='".$_POST['faixa_preco_min']."'"; } ?> style="width:120px; float:left;" name="faixa_preco_min">
			<input type="text" placeholder="  MÁXIMO" <?php if(isset($_POST['faixa_preco_max'])){ echo "value='".$_POST['faixa_preco_max']."'"; } ?> style="width:120px; float:right;" name="faixa_preco_max">
		</div>		
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>		
		<center><input type="submit" class="submit" style="margin-top:0px; margin-bottom:15px;"></center>			
		<center><input type="reset" class="reset"></center>				
	</form>
	
	<div class="fundo_tutoriais-2">
	<?php if(isset($_POST['categoria']) || isset($_POST['tipo']) || isset($_POST['faixa_preco_min']) || isset($_POST['faixa_preco_max'])){ ?>
	<h1 class="titulo-pagina">RESULTADOS DA BUSCA:</h1>
	<div class="espaco-3"></div>		
	<?php }
	$y=0;
	foreach($servicos as $servico){ ?>
		<div class="tutorial">
			<div class="img-tutorial">
				<img src="<?php echo $this->basePath(); ?>/data/servicos/<?php echo $servico['imagem']; ?>">
			</div>
			<h1 class="titulo-tutorial"><?php echo $servico['titulo']; ?></h1>
			<p class="texto-tutorial"><?php echo strip_tags(substr($servico['texto'],0,250)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/servico/id/<?php echo $servico['id']; ?>/<?php echo str_replace(" ", "-", $servico['titulo']); ?>"><img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg"></a>
		</div>
	<?php $y++; }
	if($y==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
	<?php } ?>		
	</div>
	
	<div class="anuncio">
		<!--<img src="<?php echo $this->basePath(); ?>/imagens/anuncio.jpg">-->
			<div id="allinone_bannerRotator_classic2" style="display:none;">
				<ul class="allinone_bannerRotator_list">
        <?php foreach ($publi3 as $pub3) { ?>
            <li><img src="<?php echo $this->basePath(); ?>/data/marcas/<?php echo $pub3['file']; ?>" alt="" /></li>
        <?php } ?>	
				</ul>                                                        
			</div>			
	</div>
	
</div>