<div class="conteudo_meio">
    <div class="form_contato" style="width: 1280px;">
        <h1 >TRABALHE CONOSCO</h1>
        <div class="clear"></div>
        <?php if (!empty($_SESSION['msg']['msg'])) { ?>
            <h2 style="color: #F25C27; "><?php echo $_SESSION['msg']['msg']; ?></h2>
            <?php
            $_SESSION['msg']['msg'] = '';
        }
        ?>
            <div class="clear"></div>
        <p>Envie o seu currículo e entraremos em contato quando surgir novas oportunidades de emprego.</p>
        <div class="clear"></div>
        <form  method="post" style="width: 600px;" name="Curriculo" enctype="multipart/form-data" id="Curriculo">
            <input placeholder="Nome Completo" name="nome" value="" class="text_contato" />
            <input placeholder="Email" name="email" value="" class="text_contato" />
            <input placeholder="Objetivo Profissional" name="objetivo" value="" class="text_contato" />
            <textarea name="perfil" rows="4" cols="20" class="textarea_contato" placeholder="Qualificações Resumidas"></textarea>
            <div class="clear"></div>
            <input type="file" name="arquivo" style="float: left; margin-bottom: 20px;" />Curriculo
            <div class="clear"></div>
            <input type="submit" name="enviar" value="Enviar" class="btn_enviar_contato" /> 
        </form>
    </div>


</div>