<style>
.sem-resultado{
	font-family: Roboto-Regular;
	font-size: 24px;
	color: #3F3F40;
}
</style>
<div class="corpo_tutoriais">
	<div class="espaco-1"></div>
	<h1 class="titulo-pagina">TUTORIAS</h1>
	<div class="linha-1"></div>
	<div class="espaco-3"></div>
	<div class="espaco-3"></div>
	<form class="fundo-pesquisa-tutoriais" method="post">
	<div class="espaco-3"></div>
		<div class="campo-1" style="margin:auto; float:none;">
		DISCIPLINA
		<select name="disciplina">
		<?php foreach($categorias as $cat){ ?>
			<option <?php if(isset($_POST['disciplina']) && $_POST['disciplina']==$cat['id']){ echo "selected"; } ?> value="<?php echo $cat['id']; ?>"><?php echo $cat['nome']; ?></option>
		<?php } ?>	
		</select>
		</div>	
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>		
		<div class="campo-1" style="margin:auto; float:none;">
		ESTADO
		<select required name="estado">
			<option value="">Selecionar</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AC"){ echo "selected"; } ?> value="AC">Acre</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AL"){ echo "selected"; } ?> value="AL">Alagoas</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AP"){ echo "selected"; } ?> value="AP">Amapá</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="AM"){ echo "selected"; } ?> value="AM">Amazonas</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="BA"){ echo "selected"; } ?> value="BA">Bahia</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="CE"){ echo "selected"; } ?> value="CE">Ceará</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="DF"){ echo "selected"; } ?> value="DF">Distrito Federal</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="ES"){ echo "selected"; } ?> value="ES">Espirito Santo</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="GO"){ echo "selected"; } ?> value="GO">Goiás</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MA"){ echo "selected"; } ?> value="MA">Maranhão</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MS"){ echo "selected"; } ?> value="MS">Mato Grosso do Sul</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MT"){ echo "selected"; } ?> value="MT">Mato Grosso</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="MG"){ echo "selected"; } ?> value="MG">Minas Gerais</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PA"){ echo "selected"; } ?> value="PA">Pará</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PB"){ echo "selected"; } ?> value="PB">Paraíba</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PR"){ echo "selected"; } ?> value="PR">Paraná</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PE"){ echo "selected"; } ?> value="PE">Pernambuco</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="PI"){ echo "selected"; } ?> value="PI">Piauí</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RJ"){ echo "selected"; } ?> value="RJ">Rio de Janeiro</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RN"){ echo "selected"; } ?> value="RN">Rio Grande do Norte</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RS"){ echo "selected"; } ?> value="RS">Rio Grande do Sul</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RO"){ echo "selected"; } ?> value="RO">Rondônia</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="RR"){ echo "selected"; } ?> value="RR">Roraima</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SC"){ echo "selected"; } ?> value="SC">Santa Catarina</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SP"){ echo "selected"; } ?> value="SP">São Paulo</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="SE"){ echo "selected"; } ?> value="SE">Sergipe</option>
			<option <?php if(isset($_POST['estado']) && $_POST['estado']=="TO"){ echo "selected"; } ?> value="TO">Tocantins</option>
		</select>			
		</div>
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>
		<div class="campo-1" style="margin:auto; float:none;">
		CIDADE
			<input type="text" <?php if(isset($_POST['cidade'])){ echo "value='".$_POST['cidade']."'"; } ?> name="cidade">
		</div>		
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>	
		<div class="campo-1" style="margin:auto; float:none; height:75px;">
		HORÁRIO<br>
			<input class="radio" type="radio" <?php if(isset($_POST['horario']) && $_POST['horario']=="MATUTINO"){ echo "checked"; } ?> name="horario" value="MATUTINO">&nbsp;<span style="color:#868686;">MATUTINO</span><br>
			<input class="radio" type="radio" <?php if(isset($_POST['horario']) && $_POST['horario']=="VESPERTINO"){ echo "checked"; } ?> name="horario" value="VESPERTINO">&nbsp;<span style="color:#868686;">VESPERTINO</span><br>
			<input class="radio" type="radio" <?php if(isset($_POST['horario']) && $_POST['horario']=="NOTURNO"){ echo "checked"; } ?> name="horario" value="NOTURNO">&nbsp;<span style="color:#868686;">NOTURNO</span>
		</div>	
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>	
		<div class="campo-1" style="margin:auto; float:none;">
		FAIXA DE PREÇO POR AULA
			<input type="text" <?php if(isset($_POST['faixa_preco_min'])){ echo "value='".$_POST['faixa_preco_min']."'"; } ?> placeholder="  MÍNIMO" style="width:120px; float:left;" name="faixa_preco_min">
			<input type="text" <?php if(isset($_POST['faixa_preco_max'])){ echo "value='".$_POST['faixa_preco_max']."'"; } ?> placeholder="  MÁXIMO" style="width:120px; float:right;" name="faixa_preco_max">
		</div>	
		<div class="espaco-3"></div>
		<div class="linha-3"></div>
		<div class="espaco-3"></div>		
		<center><input type="submit" class="submit" style="margin-top:0px; margin-bottom:15px;"></center>			
		<center><input type="reset" class="reset"></center>				
	</form>
	
	<div class="fundo_tutoriais-2">
	<?php if(isset($_POST['disciplina']) || isset($_POST['estado']) || isset($_POST['cidade']) || isset($_POST['horario']) || isset($_POST['faixa_preco_min']) || isset($_POST['faixa_preco_max'])){ ?>
	<h1 class="titulo-pagina">RESULTADOS DA BUSCA:</h1>
	<div class="espaco-3"></div>		
	<?php }
	$z=0;
	foreach($tutoriais as $tutorial){ ?>
		<div class="tutorial">
			<div class="img-tutorial">
				<img src="<?php echo $this->basePath(); ?>/data/tutoriais/<?php echo $tutorial['imagem']; ?>">
			</div>
			<h1 class="titulo-tutorial"><?php echo $tutorial['titulo']; ?></h1>
			<p class="texto-tutorial"><?php echo strip_tags(substr($tutorial['texto'],0,250)); ?> ...</p>
			<a href="<?php echo $this->basePath(); ?>/application/index/tutorial/id/<?php echo $tutorial['id']; ?>/<?php echo str_replace(" ", "-", $tutorial['titulo']); ?>"><img src="<?php echo $this->basePath(); ?>/imagens/mais_detalhes.jpg"></a>
		</div>
	<?php $z++; }
	if($z==0){ ?>
		<center class="sem-resultado">Nenhum Resultado Encontrado.</center>
	<?php } ?>	
	</div>
	
	<div class="anuncio">
		<!--<img src="<?php echo $this->basePath(); ?>/imagens/anuncio.jpg">-->
			<div id="allinone_bannerRotator_classic2" style="display:none;">
				<ul class="allinone_bannerRotator_list">
        <?php foreach ($publi6 as $pub6) { ?>
            <li><img src="<?php echo $this->basePath(); ?>/data/marcas/<?php echo $pub6['file']; ?>" alt="" /></li>
        <?php } ?>	
				</ul>                                                        
			</div>			
	</div>
	
</div>	