<link href="css/styles.css" rel="stylesheet" type="text/css" />
<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <?php foreach ($produto as $prod): ?>
            <span style="color:#c7c7c7; margin-left:210px">VOCÊ ESTÉ EM</span> <span style="color:#FFF">DETALHES <?php echo $this->escapeHtml($prod['nome']); ?></span></div>
    </div>

    <div class="wrapper-990" style="margin-top:50px; margin-bottom:100px; min-height:210px; color:#666">
        <div  id="titulo"><?php echo $this->escapeHtml($prod['nome']); ?></div>
        <div id="box_produtos" style="height: 290px;">          
            <?php foreach ($fotos as $foto): ?>
                <img src="<?php echo $this->basePath(); ?>/data/lojas/<?php echo $this->escapeHtml($foto['imagem']); ?>" width="450" />
            <?php endforeach; ?>
        </div>

        <div id="box_produtos" style="height: 330px;">
            <!--<div style="color:#CC0000; font-size::20px; margin:20px 0 0 0; float:left; width:100%;">TAMANHO</div>
            <div id="caixa_tamanho">P</div>
            <div id="caixa_tamanho">M</div>
            <div id="caixa_tamanho">G</div>
            <div id="caixa_tamanho">GG</div>            
            <div style="color:#CC0000; font-size::20px; margin:10px 0 0 0; width:100%;float:left;">QUANTIDADE</div>    
            <input type="text" class="input_qtd" value="4"/>
            <div style="color:#CC0000; font-size::20px; margin:10px 0 0 0; width:100%;float:left;">COR</div>    
            <div id="caixa_cor" style="background:#000;"></div>
            <div id="caixa_cor" style="background:#999;"></div>
            <div id="caixa_cor" style="background:#000999;"></div> -->
            <p style="font-size: 20px; line-height: 30px;">
                <?php echo $this->escapeHtml($prod['rua']); ?>,
                <?php echo $this->escapeHtml($prod['numero']); ?> -
                <?php echo $this->escapeHtml($prod['bairro']); ?><br/>
                <?php echo $this->escapeHtml($prod['cidade']); ?>,
                <?php echo $this->escapeHtml($prod['estado']); ?> - 
                <?php echo $this->escapeHtml($prod['cep']); ?><br/>
                <?php echo $this->escapeHtml($prod['telefone1']); ?><br/>
                <?php echo $this->escapeHtml($prod['telefone2']); ?><br/>
                <?php echo $this->escapeHtml($prod['telefone3']); ?><br/>
                <?php echo $this->escapeHtml($prod['email']); ?><br/>
            </p>
        </div>
        <div style="clear: both;"></div>
        <div id="descricao_produto">
            <div class="titulo">MAPA</div>
            <?php echo $prod['mapa']; ?>
        </div>
        <div style="width:100%; float:left; margin-top:50px;">
            <div align="center" style="width:140px; float:left;margin:0 0 0 10px;">

                <a href="javascript:history.go(-1)" class="retorna" ></a>
            </div>
        </div>

    </div>
    <div style="clear: both;"></div>    


    </div>
    <div style="clear:both"></div>
<?php endforeach; ?>
