<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div style="width:100%; background-color:#4c2326; height:30px; padding-top:10px">
    <div class="wrapper-990 tamanho_fonte_migalha">
        <span style="color:#c7c7c7; margin-left:210px">VOCê ESTÁ EM</span> <span style="color:#FFF">UNIDADES</span></div>
</div>

<div class="wrapper-990" id="conteudo">
    <?php foreach ($lojas as $loja): ?>
        <a href="<?php echo $this->url('home') ?>application/index/unidade/id/<?php echo $this->escapeHtml($loja['id']); ?>">
            <div style="width: 430px;">
                <!--<div id="caixa_unidade">-->
                <div class="titulo1"><?php echo $loja['nome']; ?></div>
                <p><?php echo $loja['rua'] . $loja['bairro'] . $loja['numero'] . $loja['cidade'] . $loja['estado']; ?></p>
                <!--<div class="foto" style="margin-top: 12px;">-->
                    <!--<img src="<?php echo $this->basePath(); ?>/data/lojas/<?php echo $this->escapeHtml($loja['imagem']); ?>" />-->
                <?php echo $loja['mapa']; ?>
                <!--</div>-->
            </div>
            <!--</div>-->
        </a>
        <div style="clear: both;"></div><br/><br/>
    <?php endforeach; ?>
</div>

<div style="clear:both"></div>
