<!-- Add jQuery library 
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/lib/jquery-1.10.1.min.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/js/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
	$(document).ready(function() {
		/*
		 *  Simple image gallery. Uses default settings
		 */
		$('.fancybox').fancybox();
	});
</script>
<style type="text/css">
	.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #000;
	}
</style>

<?php foreach($vagas as $vaga){ ?>
<div class="corpo_formandos" style="min-height: 551px;">
	<div class="espaco-1"></div>		
	<h1 class="titulo-pagina" style="width:160x; float:left;">MAIS DETALHES : <span style="text-transform:uppercase"><?php echo $vaga['titulo']; ?></span></h1>
	<div class="linha-1"></div>
	<div class="espaco-1"></div>	
<h1 class="titulo-tutorial">ÁREA DE TRABALHO DA VAGA DE EMPREGO: <span style="color:#3F3F3F;"><?php echo $vaga['cnome']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">ESTADO DA VAGA DE EMPREGO: <span style="color:#3F3F3F;"><?php echo $vaga['estado']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">CIDADE DA VAGA DE EMPREGO: <span style="color:#3F3F3F;"><?php echo $vaga['cidade']; ?></span></h1>
<div class="espaco-3"></div>
<h1 class="titulo-tutorial">TURNO DA VAGA DE EMPREGO: <span style="color:#3F3F3F;"><?php echo $vaga['area']; ?></span></h1>
<div class="espaco-3"></div>
<?php if($vaga['codigo']!=0){ ?>
	<h1 class="titulo-tutorial">FAIXA SALARIAL DA VAGA DE EMPREGO: <span style="color:#3F3F3F;"><?php echo "R$ " . $vaga['codigo']; ?></span></h1>
	<div class="espaco-3"></div>
<?php } ?>
<h1 class="titulo-tutorial">DESCRIÇÃO DA VAGA DE EMPREGO: </h1>
<p class="texto-tutorial" style="width:100%; height:auto;"><?php echo strip_tags($vaga['texto']); ?></p>
<div class="espaco-3"></div><div class="espaco-3"></div>
<h1 class="titulo-tutorial">IMAGEM DA VAGA DE EMPREGO: </h1>
<div class="espaco-3"></div>
<div class="blogger" style="height: 275px;">
<a class="fancybox" href="<?php echo $this->basePath(); ?>/data/vagas/<?php echo $vaga['imagem']; ?>" data-fancybox-group="gallery">
	<div class="formando-img"><center><img height="215px" src="<?php echo $this->basePath(); ?>/data/vagas/<?php echo $vaga['imagem']; ?>"></center></div>
</a>	
</div>
</div>	
<?php } ?>	