<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/disciplina/save" title="Criar Disciplina">Criar Disciplina</a>
    </div>
</div>  
<label class="divisor"><span>Lista de Disciplinas dos Tutoriais</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome</th>

            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($categorias as $categoria): ?>
            <tr>
                <td><?php echo $this->escapeHtml($categoria['nome']); ?></td>

                <td class="center">
                    <a href="<?php echo $this->url('admin') ?>/disciplina/save/id/<?php echo $categoria['id']; ?>" title="Editar" class="btn"><i class="icon-edit"></i></a>
                    <a href="<?php echo $this->url('admin') ?>/disciplina/delete/id/<?php echo $categoria['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn"><i class="icon-remove"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
        $categorias, 'Sliding', 'partials/paginator/control.phtml'
);
?>