<div class="actions clearfix">
    <div class="btns">
        <a class="btn submit" href="<?php echo $this->url('admin') ?>/lista/save" title="Adicionar Lista">Adicionar Lista</a>
    </div>
</div>  
<label class="divisor"><span>Listas de Casamentos</span></label>
<table class="datatable">
    <thead>
        <tr>
            <th>Nome do Casal</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($listas as $lista){ ?>
			<?php foreach ($casais as $casal){ ?> 
				<?php if ($lista['noivo_id'] == $casal['id']) { ?>			
					<tr>
						<td style="text-align: left;">
							<?php  echo $casal['nome']; ?>
						</td>
						<td class="center">
							<a href="<?php echo $this->url('admin') ?>/prodlista/index/casalid/<?php echo $casal['id']; ?>" title="Editar Lista" class="btn"><i class="icon-edit"></i></a>
							<a href="<?php echo $this->url('admin') ?>/lista/delete/id/<?php echo $lista['id']; ?>" rel="confirmation" title="Deseja excluir esta lista?" class="btn"><i class="icon-remove"></i></a>
						</td>
					</tr>
				<?php } ?>
			<?php } ?>
		<?php } ?>
	</tbody>
</table>

<?php
echo $this->paginationControl(
        $listas, 'Sliding', 'partials/paginator/control.phtml'
);
?>
<?php
//\Zend\Debug\Debug::dump($this->formData); ?>